<div class="jumbotorn sec-jumbotron jumbo-fin-data">
  SEC<span class="green">&nbsp;Filings</span>
</div>

<div class="content">
  <div class="section1-table">
    <!--<div class="filling">filling</div>-->
    <div class="desc">description</div>
    <div class="sec2 date">date</div>
    <div class="sec2 empty">&nbsp;</div>
  </div>

  <div *ngFor="let d of fillings; let i = index;">
    <div>
      <div class="filling-container">
        <!-- <div class="section2-1 filling_text">
          <div class="filling_text">{{d.id}}</div>
        </div> -->

        <div class="section1 description">
          <div class="description">{{d.title}}</div>
        </div>

        <div class="sec2 date">
          <div class="section2-1">
            <div class="date">{{d.date}}</div>
          </div>
        </div>
        <div class="sec2">
          <div class="section2-1">
            <a href="https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Insights_Prospectus_Final_English.pdf" target="_blank"><div class="PDF btnUp" (click)="directToDocument(d.link)"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</div></a>
          </div>
        </div>
      </div>
      <div class="underline"></div>
    </div>
  </div>
  <div class="sec_filings_footer_content d-flex flex-row justify-content-center align-content-center">
    <p>These and all other corporate filings can be found on Sedar.</p>
  </div>
</div>