@import '../financial-info/financial-info.component.scss';

.jumbotorn.sec-jumbotron {
  font-family: Metropolis-Light, sans-serif;
  text-transform: capitalize;
  width: 100%;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 45px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/5-secfilings.jpg');
  background-color: rgba(40, 40, 39, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  height: 243px;
  min-height: 200px;
}

.content {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  min-height: 500px;
  justify-content: center;
}

.filling-container {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #575757; 
  .desc {
    width: 60%;
  }
  .sec2.date {
    width: 30%;
  }
  .sec2.empty {
    width: 10%;
  }
  .sec2[_ngcontent-c2] .section2-1[_ngcontent-c2]:first-of-type {
    margin-bottom: 15px;
  }
  .PDF {
    a {
      color: #ffffff;
    }
  }
}

.description {
  font-family: Metropolis-Light, sans-serif;
  font-size: 24px;
  width: 60%;
  overflow: hidden;
}

.section1-table {
  border-bottom: 2px solid #575757;
  padding: 0 0 40px 0;
  text-transform: capitalize;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  justify-content: flex-start;
  div {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    line-height: 40px;
  }
  .desc {
    width: 60%;
  }
  .description {
    font-family: Metropolis-Light, sans-serif;
  }
}

.sec_filings_footer_content {
  margin: 30px 0 0 0;
  p {
    font-family: Metropolis-Light, sans-serif;
    font-size: 20px;
    color: #575757;
    text-align: center;
  }
}

@media (min-width: 100px) {
  .jumbotron.financial-jumbotron {
    font-size: 25px;
  }

  .sec2.empty {
    width: 68px;
  }

  .section1-table {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 23px;

  }
}

@media (min-width: 580px) {
  .section1-table {
    div {
      line-height: 40px;
    }
  }
}

@media (max-width: 767px) {
  .description {
    margin: 0 10px 0 0;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .filling-container {
    .description {
      font-size: 20px;
    }
  }
}

@media (min-width: 860px) {
  .filling_text {
    width: 180px;    
  }

  .section1-table {
    margin-top: 0px;

    div {
      font-size: 28px;
    }
  }
}



