<div class="jumbotron careers-jumbotron">
  <div class="pre-header">
    Together at CB2 Insights.
    <div class="white-line"></div>
  </div>

  <div class="header-text">
    <div class="ht2">Driving an Emerging Industry Forward Through <!-- <span class="green-span">Actionable</span> -->
      <span class="ht1 header-span">Actionable Insights</span>
    </div>
  </div>

  <div class="see-lower d-flex justify-content-center align-items-center">
    <div class="arrow-within"></div>
  </div>
</div>

<div class="all-content">
  <div class="container"> 
    <div class="section-one">
      <div class="inner-3  d-flex justify-content-start flex-wrap">
        <div *ngFor="let data of itemList1" class="info-container1">
          <div class="image-div" [style.backgroundImage]="'url(../../assets/images/careers/'+ data.imgUrl +')'"></div>
          <div class="title-div">{{data.title}}</div>
          <div class="summary-div">{{data.content}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-two">
    <div class="container"> 
      <div class="inner-3  d-flex justify-content-around flex-wrap">
        <div *ngFor="let photo of imgList; let i = index" class="info-container2 ic{{i}}">
          <div class="photo-div pd{{i}}" [style.backgroundImage]="'url(../../assets/images/careers/'+ photo.imgUrl +')'"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button class="job-btn btnUp" [routerLink]="['/job-postings']">See all jobs
    </button>
  </div>

  <div class="section-three">
    <div class="container">
      <div class="inner-3">
        <div class="three-top">
          <div class="title-three">The whole is always<span class="green-span">&nbsp;greater…</span></div>
          <div class="green-line"></div>
          <div class="summary-three">A game-changing organization never comes down to the work of a single person. At CB2, we
            dig in, we work hard and we definitely have some fun along the way. Late nights and early mornings are never
            mandatory, but they can often occur because of the sheer excitement and pride that each of our teams around the
            world have for what we do every day to help evolve an industry.
          </div>
        </div>

        <div class="items3">
          <div *ngFor="let data2 of itemList2" class="info-container1">
            <div class="image-div" [style.backgroundImage]="'url(../../assets/images/careers/'+ data2.imgUrl +')'"></div>
            <div class="title-div">{{data2.title}}</div>
            <div class="summary-div">{{data2.content}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-four">
    <div class="container">
      <div class="title-four">Open<span class="green-span"> Positions</span></div>
      <div class="green-line"></div>
      <div class="job-posts">
        <!-- <div *ngFor="let p = 0; p = 2; p++;"> -->
          <div *ngFor="let job of jobPostings; let i = index;" class="post-container" [ngStyle]="{display: i >=3 ? 'none' : 'block'}"> 
            <!-- <div *ngFor="let j = 0; j <= 3; j++;"> -->
              <div class="inner-3">
                <a (click)="directToDetails(job.id)">
                  <p class="company-name">Cb2 Insights</p>
                  <p class="company-location"><img src="../../../assets/images/markericon/map-marker.svg">{{job.meta_box.job_location}}</p>
                  <p id="{{job.title}}" [innerHtml]="job.title.rendered" class="job-title"></p>
                  <p class="learn-more-link">Learn more <span><img _ngcontent-c2="" alt="find out more" class="arrow-right" src="../../assets/images/arrows/group@2x.png"></span></p>
                </a>
              </div>
            <!-- </div> -->
          </div>
        <!-- </div> -->
      </div>

      <div class="btn-container">
        <button class="job-btn btnUp" [routerLink]="['/job-postings']">See all jobs
        </button>
      </div>
    </div>
  </div>
</div>































