@import '../splash/splash.component.scss';

.jumbotron {
  // display: -webkit-box;      
  // display: -moz-box;         
  // display: -ms-flexbox;      
  // display: -webkit-flex;     
  // display: flex;  
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  font-family: Metropolis-Light, sans-serif;
  background-image: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/8-careers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 93vh;
  margin-top: 70px; 
  .pre-header {
    margin-top: 200px;
  }
  .ht2 {
    width: 830px;
  }
}

.header-text {
  text-transform: initial;
}

.section-two, .inner-3{
  width: 100%;
}

@media (min-width: 200px) {
  .image-div {
    height: 55px;
    width: 54px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .section-one,
  .section-two,
  .section-three {
    margin-left: 0 !important;
  }

  .section-one,
  .section-three {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .items3 {
    margin-top: 20px;
  }

  .info-container1:not(:first-of-type) {
    margin-top: 37px;
  }

  ////////// section2 //////////
  .section-two {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    .container {
      margin: 0 auto;
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .photo-div {
    width: 100vw;
    height: 199px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .info-container2:not(:first-of-type) {
    margin-top: 28px;
  }

  ////////// section3 //////////
  .section-three {
    background-color: #f4f4f4;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  .title-three {
    font-family: Metropolis-Medium, sans-serif;
    width: 320px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #282827;
    text-transform: uppercase;
    margin-top: 35px;
  }

  .summary-three {
    font-family: Metropolis-Light, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #575757;
    /*width: 320px;*/
  }

  // .summary-three, .title-three {
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  ////////// section4 //////////
  .section-four {
    background-color: #ffffff;
    .title-four {
      font-family: Metropolis-Regular, sans-serif;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 50px 0 0 0;
    }
    .green-line {
      margin: 20px auto;
    }
    .job-posts {
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;  
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      .post-container {
        width: 30%;
        margin: 40px 0;
        padding: 0 20px;
        position: relative;
        overflow: hidden;
        display: block;
        .inner-3 {
          // display: -webkit-box;      
          // display: -moz-box;         
          // display: -ms-flexbox;      
          // display: -webkit-flex;     
          // display: flex;  
          // -webkit-box-orient: vertical;
          // -webkit-box-direction: normal;
          // -ms-flex-direction: column;
          // flex-direction: column;
          // align-items: flex-start;
          background-color: #ffffff;
          box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
          height: 320px;
          padding: 30px;
          border-bottom: 9px solid #30bbad;
          &:hover {
            cursor: pointer;
          }
          .company-name {
            margin: 0;
            font-family: Metropolis, sans-serif;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            text-transform: uppercase;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #30bbad;
          }
          .company-location {
            font-family: Metropolis, sans-serif;
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.87;
            letter-spacing: normal;
            color: #575757;
            img {
              width: 10px;
              margin: 0 5px 4px 0;
            }
          }
          .job-title {
            font-family: Metropolis, sans-serif;
            font-size: 24px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #575757;
          }
          .learn-more-link {
            font-family: Metropolis-Bold, sans-serif;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            position: absolute;
            bottom: 30px;
            color: #30bbad;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .btn-container {
      margin-bottom: 50px;
    }
  }

  .section-four .inner-3:hover .arrow-right {
      animation: bounceRight 1s infinite;
      -webkit-animation: bounceRight 1s infinite;
  }

  /////////// button ///////////
  .btn-container {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 41px;
  }

  ////////// Shared //////////
  .title-div {
    font-family: Metropolis, sans-serif;
    font-size: 24px;
    color: #575757;
  }

  .summary-div {
    font-family: Metropolis-Light, sans-serif;
    margin: 0 auto;
    margin-top: 18px;
    font-size: 16px;
    line-height: 1.75;
    color: #575757;
    width: 400px;
  }

  .green-span {
    margin-left: 0;
  }

  .green-line {
    margin-top: 14px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .green-line {
    margin: 20px auto;
  }
  .section-one {
    .inner-3 {
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important;
    }
  }
  .section-two {
    .inner-3 {
      display: block !important;
    }
  }
  .section-three {
    .title-div {
      margin: 0 auto;
    }
  }
  .info-container1 {
    margin-top: 70px;
  }
  .photo-div {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .summary-three, .title-three {
    margin-left: initial;
  }
  .section-two, .section-one {
    .inner-3{
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;  
      -webkit-box-flex: wrap;
      -ms-flex: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }
  }
  .three-top{
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 380px;
    /*width: 80%;*/
    margin: 0 auto;
  }
  .green-line {
    margin-bottom: 30px;
  }

  ////////// section1 //////////
  .section-one {
    margin-left: 56px;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; 
    margin-right: auto;

    .info-container1 {
      text-align: left;
      margin-top: 64px;
      margin-right: 35px;
    }

    .image-div {
      margin: initial;
      margin-bottom: 44px;
    }
  }

  .info-container1{
    .image-div {
      margin-bottom: 44px;
      margin-left: 0;
    }
  }

  .summary-div {
    margin-top: 32px;
  }

  ////////// section2 //////////
  .section-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex-wrap: wrap;
    margin-left: 56px;
    /*margin-top: 40px;*/
  }

  .ic0,
  .ic2 {
    margin-right: 37px;
  }

  .pd0,
  .pd3 {
    width: 199px;
    height: 199px;
    background-size: 100%;
  }

  .pd1,
  .pd2 {
    width: 422px;
    height: 199px;
    background-size: 113%;
  }

  .info-container2:defined {
    margin-top: 51px;
  }

  .btn-container {
    margin-top: 38px;
    margin-bottom: 62px;
  }

  ////////// Summary 3 //////////
  .summary-three {
    width: 568px;
  }

  .section-three {
    .info-container1 {
      margin-right: 70px;
      text-align: left;
    }

    .title-three,
    .green-line,
    .summary-three {
      text-align: left;
    }
  }

  .title-three {
    width: 560px;
    font-size: 25px;
    line-height: 2.8;
    letter-spacing: 0.8px;
    margin-top: 0;
  }

  .items3 {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    margin: 0 auto;
    -webkit-box-flex: wrap;
    -ms-flex: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /*width: 80%;*/
  }
}

@media (max-width: 991px) {
  .section-four {
    .job-posts {
      .post-container {
        width: 40%;
        &:nth-child(3) {
            display: none !important;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .ic0,
  .ic2 {
    margin-right: 0px;
  }
}

@media (max-width: 1199px) {
  .section-four {
    .job-posts {
      .post-container {
        .inner-3 {
          .job-title {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .section-one {
    .summary-div {
      width: 270px;
    }
  }
  .section-three {
    .summary-div {
      width: 390px;
    }
  }
}
@media (max-width: 991px) {
  .section-one {
    .inner-3 {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      .summary-div {
        width: 310px;
      }
    }
  }
}

@media (max-width: 991px) {
 
  .section-three {
    .summary-div {
      width: 270px;
    }
    .title-div {
      width: 270px;
    }
  }
}

@media (max-width: 640px) {
  .section-four {
    .job-posts {
      display: block;
      .post-container {
        width: 100%;
        .inner-3 {
          height: 280px;
        }
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .pd0, .pd3, .pd1, .pd2 {
    width: 100%;
  }
  .section-three{
    .summary-div {
      width: 100%;
    }
  }
  .section-four {
    .job-posts {
      .post-container {
        width: 50%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pd0 {
    width: 330px;
  } 
  .pd1 {
    width: 300px;
  } 
  .pd2 {
    width: 320px;
  }
  .pd3 {
    width: 330px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pd0, .pd3 {
    width: 370px;
  }
  .pd1, .pd2 {
    width: 500px;
  }
}

@media (min-width: 1200px) and (max-width: 1279px) {
  .header-text {
    width: 550px;
  }
  .section-one {
    .summary-div {
      width: 270px;
    }
  }
  .section-three {
    .info-container1{
      margin-top: 0;
      margin-bottom: 40px;
      .summary-div {
        width: 480px;
      }
    }
  }
  .pd0, .pd3 {
    background-size: 200%; 
    width: 300px;
  }
  .pd1, .pd2 {
    width: 680px;
    height: 200px;
  }
}

@media (min-width: 700px) and (max-width: 1279px) {
  .jumbotron {
    .ht2 {
      width: 560px;
    }
  }
}

@media (max-width: 699px) {
  .jumbotron {
    .ht2 {
      width: 340px;
      font-size: 25px;
    }
  }
}
@media (min-width: 1280px) {
  .header-text {
    width: 840px;
  }

  .pd0,
  .pd3 {
    width: 320px;
    height: 320px;
    background-size: 200%;
  }

  .pd1,
  .pd2 {
    width: 678px;
    height: 320px;
  }

  ////////// Section 1 //////////
  .section-one{
    padding-bottom: initial;
    
    .info-container1
    {
      margin-right: 60px;
    }
    .image-div {
      height: 64px;
      width: 65px;
    }
  }

  .summary-div {
    width: 300px;
    font-size: 18px;
  }

  ////////// Section 3 ////////// 
  .summary-three {
    width: 848px;
    font-size: 25px;
    line-height: 1.6;
  }

  .title-three {
    font-size: 30px;
  }

  .items3{
    .summary-div{
      width: 472px;
    }

    .info-container1{
      margin-right: 50px;
    }
  }
}

@media (min-width: 1366px) {
  .pd1,
  .pd2 {
    width: 700px;
    height: 320px;
  }
}

@media (min-width: 1920px) {
  .section-three {
    .inner-3 {
      width: 1500px;
      .items3 {
          margin-right: 100px;
      }
    }
  }
}

































