.job-description-full {  
    .location {
		font-family: Metropolis-Light, sans-serif;
		font-size: 16px;
	    font-weight: 300;
	    line-height: 2;
	    color: #575757;
	    margin-top: 29px;
	    margin-bottom: 59px;
	    span {
	    	outline: none;
	    	&:hover {
	    	outline: none;
	    	cursor: pointer;
	    	color: #98c93e;
	    	}
	    	&:focus {
	    		outline: none;
	    	}
	    }
	}
	.address {
		font-family: Metropolis, sans-serif;
		margin: 0 0 20px 0;
		img {
	    	width: 9px;
	    	margin: 0 0 4px 0;
		}
	}
	.btn-container {
		margin: 0 0 50px 0;
		outline: none;
		&:hover {
			outline: none;
		}
		&:focus {
			outline: none;
		}
		.job-btn {
			outline: none;
			&:hover {
				outline: none;
			}
			&:focus {
				outline: none;
			}
			a {
				color: #ffffff;
			}
		}
	}
	/*.btnUp {
  		background: linear-gradient(to top, #88B437 50%, #98c93e 50%);
  		background-size: 200% 200%;
	}*/
	.articleBody {
		width: 90%;
		.content {
			font-family: Metropolis, sans-serif;
		}
	}
	.interested-text {
		p {
			font-family: Metropolis, sans-serif;
			text-transform: capitalize;
			font-weight: bold;
    		font-size: 20px;
    		margin: 40px 0;
		}
	}
}

.job-application-form {
	width: 90%;
	margin: 0 0 90px 0;
	.form-group {
	    display: -webkit-box;      
		display: -moz-box;         
		display: -ms-flexbox;      
		display: -webkit-flex;     
		display: flex;
		flex-direction: column;
	    .file-upload {
		    width: 100%;
		    //height: 54px;
		    border: 2px solid #98c732;
		    //padding: 13px 30px 10px 30px;
	    	box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
		    border-radius: 0;
		    background: linear-gradient(to top, #88B437 50%, #ffffff 50%);
	  		background-size: 200% 200%;
		  	background-position: top;
		    transition: all 0.3s ease;
		    &:hover {
		    	cursor: pointer;
		    	background-position: bottom;
		    }
		    img {
		    	width: 14px;
		    	margin: 0 10px 0 0;
		    }
		    input#resume {
		    	visibility: hidden;
		    	width: 100%;
			}
		}
	}
	label {
	    font-family: Metropolis-Bold, Arial, Helvetica, sans-serif;
	    font-size: 15px;
	    letter-spacing: 0.5px;
	    color: #575757;
	    text-transform: uppercase;
	    margin-bottom: 6px;
	    margin-top: 41px;
	}
	input, input:focus {
		font-family: Metropolis, sans-serif;
		color: #afafaf; 
	    color: #575757;
	    font-size: 16px;
    	padding-left: 24px;
    	border: 0;
	   	box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
	   	line-height: 2.5;
		margin-bottom: 21px;
	}
	textarea, textarea:focus {
		font-family: Metropolis, sans-serif;
		color: #575757;
		padding-left: 24px;
		border: 0;
	    box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
	    line-height: 2.5;
	    margin-bottom: 21px;
	}
	input::placeholder, textarea::placeholder {
		font-family: Metropolis-Light, sans-serif;
		color: #afafaf; 
	}
	label.upload-file-label {
	    text-transform: capitalize !important;
	    font-weight: normal !important;
	    color: #98c732 !important;
	    margin: 0 !important;
	}
	button {
		outline: none;
	}
	button.upload-file {
	    border-radius: 0;
	    background: linear-gradient(to top, #88B437 50%, #ffffff 50%);
  		background-size: 200% 200%;
	  	background-position: top;
	    transition: all 0.3s ease;
	    border: 2px solid #98c93e;
	    width: 100%;
	    color: #98c93e;
	    text-transform: capitalize;
	    font-weight: 100;
	    text-align: left;
	    &:hover {
			cursor: pointer;    	
		   	background-position: bottom;
		}
		img.link-icon {
			margin: 0 7px 0 10px;
    		width: 15px;
		}
		.svg {
		    width: 14px;
    		margin: 0 5px -1px 10px;
    	}
	}	   
	span.green {
		color: #98c93e;
	}
	input.ng-invalid.ng-touched {
		border: 1px solid #c93e3e;
	}
	p#input-invalid-message {
		font-family: Metropolis-Light, sans-serif;
		// display: none;
		color: #c93e3e;
	}
	p#resumeFile {
		// margin: -40px 0 0 -30px;
		font-family: Metropolis;
		font-size: 12px;
		color: #bebebe;
	}
}

@media (max-width: 767px) {
	.job-description-full {
    	margin-left: 20px;
    	margin-right: 20px;
	}
	.job-application-form {
		.form-group {
			.file-upload {
		    	width: 100%;
				padding: 23px 0 0 15px;
			}
		}
		.sec-1, .sec-2 {
	    	display: block;
		}
		.sec-1 .form-group, .sec-2 .form-group {
		    width: 100%;
		    margin-right: 0;
		}
		p#resumeFile {
			margin: -40px 0 0 -20px;
		}
	}
}

@media (min-width: 768px) {
  	.sec-1, .sec-2 {
    	display: -webkit-box;      
		display: -moz-box;         
		display: -ms-flexbox;      
		display: -webkit-flex;     
		display: flex;
    	flex-direction: row;
	}
	.sec-1 .form-group, .sec-2 .form-group {
	    width: 50%;
	    margin-right: 40px;
	}
	.sec-3 {
		margin-right: 40px;
	}
}

@media (min-width: 768px) and (max-width: 1279px) {
	.job-description-full {  
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 1279px) {
	input {
		// height: 41px;
		margin-bottom: 0px;
	}
	.file-upload {
		padding: 23px 30px 10px 30px;
    	height: 72px;
	}
	
}

@media (min-width: 1279px) and (max-width: 3000px) {
  .job-description-full {  
    margin-left: 20%;
    margin-right: 20%;
  }
}

input {
		height: 72px;
	}

@media (min-width: 1280px) {
	
	.file-upload {
		height: 72px;
		padding: 23px 30px 10px 30px;
	}
	p#resumeFile {
		margin: -60px 0 0 -30px;
	}
}

// @media (min-wdth: 1366px) {
//   .job-description-full {  
//     margin-left: 296px;
//     margin-right: 296px;
//   }
// }

// @media (min-width: 1920px) {
//   .job-description-full {  
//     margin-left: 574px;
//     margin-right: 574px;
//   }
// }





























