<div class="job-description-full">
<div class="location">
<span [routerLink]="['/careers']" routerLinkActive="router-link-active"  class="loc-1">Careers</span> > <span [routerLink]="['/job-postings']" routerLinkActive="router-link-active"  class="loc-1">Job Postings</span> > Job Description
</div>

<div class="row">
  <div class="jobLocation col-md-8" *ngFor="let job of jobPostings">
    <div *ngIf="job.id === id">
      <div class="address">
        <img src="../../../assets/images/markericon/map-marker.svg"> {{job.meta_box.job_location}}
      </div>
    </div>
  </div>
  <div class="btn-container col-md-2">
    <button class="job-btn btnUp">
      <a [ngx-scroll-to]="'application-form'">Apply</a>
    </button>
  </div>
</div>

<div class="articleBody" *ngFor="let post of jobPostings">
	<div *ngIf="post.id === id">
		<div class="content" [innerHTML]="post.content.rendered"></div>
    
    <router-outlet id="application-form">
    </router-outlet>

		<div class="interested-text"><p>Interested? Send us your resume.</p></div>
	</div>
</div>

<div class="job-application-form" id="job-application-form">
	<div class="form-sec">
      <form #f="ngForm" (ngSubmit)="onContactSubmitted(f)">
      <div class="sec-1">
        <div class="form-group">
          <label for="">First Name<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="John" name="firstName" #firstName="ngModel" required ngModel>
        </div>

        <div class="form-group">
          <label for="">Last Name<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="Smith" name="lastName" #lastName="ngModel" required ngModel>
        </div>
      </div>

      <div class="sec-2">
        <div class="form-group">
          <label for="">Email<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="jsmith@email.com" name="email" #email="ngModel" required ngModel email>
        </div>
        <div class="form-group">
          <label for="">Resume<span class="green">*</span></label>
          <div class="file-upload">
            <img src="../../assets/images/linkicon/link-regular.svg" class="link-icon"><label for="resume" class="upload-file-label">Upload File</label>
            <input (change)="onFileSelected($event)" id="resume" name="resume" #resume="ngModel" type="file" accept=".pdf, .doc, .docx, .txt" class="upload-file" required ngModel>
            <p id="resumeFile"></p>
          </div>
        </div>
      </div>

      <div class="sec-3">
        <div class="form-group">
          <label for="">Cover Letter</label>
          <textarea class="form-control" placeholder="Dear CB2 Insights, I want to work for you!" name="" id="" cols="30"
            rows="5" name="message" ngModel></textarea>
        </div>
        <p id="input-invalid-message" *ngIf="((!firstName.valid && firstName.touched) || (!lastName.valid && lastName.touched) || (!email.valid && email.touched) || (!resume.valid && resume.touched))">One or more fields have an error. Please check and try again.</p>
        <div class="submit-button">
          <button type="submit" class="submit btnUp" [disabled]="!f.valid">submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
