@import '../investor/investor.component.scss';

.jumbotron.faq-jumbotron {
  font-family: Metropolis-Light, sans-serif;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/10-faq.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 200px;
  margin: 70px 0 0 0;
}

.accordianCollapsedTitle {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  &:hover {
    cursor: pointer;
  }


  .arrow {
    padding: 30px;
    margin: 0 -30px 0 0;
    img {
      width: 16px;
      height: 9px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.info-faq {
  .accordianFull{
    .answer {
      a {
        color: #98c93e;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 200px) {
  .content-faq {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .question{
    cursor: pointer;
  }

  .title-faq {
    margin-bottom: 30px;
    font-family: Metropolis-Medium, sans-serif;
    font-size: 18px;
    color: #575757;
  }

  .question {
    font-family: Metropolis-Light, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #575757;
    margin: 20px 0;
  }

  .answer {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: Metropolis-Light, sans-serif;
    line-height: 1.6;
    color: #7f7f7f;
  }

  .section-2 {
    margin-top: 35px;
    margin-bottom: 48px;
  }

  .additional {
    display: none;
    font-size: 15px;
    font-family: Metropolis-Light, sans-serif;
    line-height: 1.6;
    color: #7f7f7f;
  }

}

@media (min-width: 768px) {
  .content-faq {
    margin-left: 56px;
    margin-right: 56px;
  }

  .title-faq {
    margin-bottom: 37px;
    font-size: 25px;
  }

  .question {
    font-size: 20px;
    line-height: 1.4;
  }

  .answer {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 50px;
  }

  .additional {
    font-size: 16px;
    line-height: 1.75;
  }

  .section-2 {
    margin-top: 53px;
    margin-bottom: 66px;
  }
}

@media (min-width: 1280px) {
  .title-faq {
    font-size: 28px;
    margin-bottom: 35px;
  }

  .question {
    font-size: 24px;
    line-height: 1.67;
  }

  .answer {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 46px;
  }

  .section-2 {
    margin-top: 96px;
    margin-bottom: 105px;
  }

  .additional {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media (min-width: 1366px) {
  .content-faq {
    margin-left: 143px;
    margin-right: 143px;
  }
}

@media (min-width: 1920px) {
  .content-faq {
    margin-left: 419px;
    margin-right: 419px;
  }
}