<div class="jumbotron faq-jumbotron jumbo-contact-data">
  FAQs
</div>

<div class="content-faq">
  <div class="section-1">
    <div class="title-faq">Stock Information</div>

    <div *ngFor="let info of stock" class="info-faq" (click)="accordianClicked($event)">
      <div id="{{info.id}}" class="accordianCollapsedTitle">
        <div id="{{info.id}}" class="question" [innerHtml]="info.q"></div>
        <div id="{{info.id}}" [ngClass]="{'rotate': info.show}" class="arrow"><img id="{{info.id}}" src="../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow icon"></div>
      </div>

      <div [ngClass]="{'accordianCollapsed': !info.show, 'accordianFull': info.show}">
        <div id="{{info.id}}" class="answer" [innerHtml]="info.a">
        </div>

        <div id="{{info.id}}" class="additional" [innerHtml]="info.website">
        </div>
        <div id="{{info.id}}" class="additional" [innerHtml]="info.email">
        </div>
        <div id="{{info.id}}" class="additional" [innerHtml]="info.phone">
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="section-2">
    <div class="title-faq">Financial Reporting and Disclosure</div>

    <div *ngFor="let fin of financial" class="info-faq" (click)="accordianClicked($event)">
      <div id="{{fin.id}}" class="accordianCollapsedTitle">
        <div id="{{fin.id}}" class="question" [innerHtml]="fin.q"></div>
        <!-- <div id="{{fin.id}}" [ngClass]="{'rotate': fin.show}" class="arrow"><img id="{{i+1}}" src="../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow icon"></div> -->
        <div id="{{fin.id}}" [ngClass]="{'rotate': fin.show}" class="arrow"><img id="{{fin.id}}" src="../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow icon"></div>
      </div>

      <div [ngClass]="{'accordianCollapsed': !fin.show, 'accordianFull': fin.show}">
        <div id="{{fin.id}}" class="answer" [innerHtml]="fin.a"></div>
      </div>
      <hr>
    </div>
  </div>
</div>