<ng-container *ngIf="!previouslyClosed">
  <div [ngClass]="{'hideCookieOverlay': closeIconClicked}" class="cookie-overlay">
    <div class="cookie-summary">
      We use cookies to offer you a better experience and analyze site traffic. <a routerLink="policy"> <span class="green-span">More info.</span></a>
    </div>
    <div class="close-button">
      <button class="confirm-cookie btnUp" (click)="closeCookieModal()">
        got it!
      </button>
    </div>
  </div>
</ng-container>

<div *ngIf="!isContact" class="footer-content-1">
  <div class="get-in-touch-wrapper">
    <div class="gitw1">Get in touch with </div>
    <div class="gitw2">CB2 Insights</div>
  </div>
  <button class="contact-button btnUp" [routerLink]="['/contact']">
    Contact us
  </button>
</div>

<div class="navigation-links row d-flex justify-content-start">
  <!-- ADD NGIF HERE -->
  <div class="links address">
    <a href="http://maps.google.com/{{address}}" target="_blank">
      <div class="company">
        <span class="link-sec">Find Us</span>
        <div class="section">
          <div class="anchorlinks add">
            5045 Orbitor Dr
          </div>
          <div class="anchorlinks add">
            Building 11, Suite 300
          </div>
          <div class="anchorlinks add">
            Mississauga, ON
          </div>
          <div class="anchorlinks add">
            L4W 4Y4
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="links mid">
    <div class="company">
      <div class="section">
        <span class="link-sec">Company</span>
        <div [routerLink]="['/story']" class="anchorlinks" [routerLinkActive]="['active-link']">
          our story
        </div>
        <div [routerLink]="['/team']" class="anchorlinks" [routerLinkActive]="['active-link']">
          leadership
        </div>
        <div [routerLink]="['/careers']" class="anchorlinks" [routerLinkActive]="['active-link']">
          careers
        </div>
      </div>
    </div>
  </div>
  <div class="links mid">
    <div class="company">
      <div class="section">
        <span class="link-sec">Resources</span>
        <!-- <div [routerLink]="['/stockinfo']" class="anchorlinks" [routerLinkActive]="['active-link']">
          Stock Info
        </div>
        <div [routerLink]="['/financialinfo']" class="anchorlinks" [routerLinkActive]="['active-link']">
          financials
        </div> -->
        <div [routerLink]="['/news']" class="anchorlinks" [routerLinkActive]="['active-link']">
          newsroom
        </div>
        <div [routerLink]="['/datareports']" [routerLinkActive]="['active-link']" class="anchorlinks">data
          reports
        </div>
        <div [routerLink]="['/investor']" class="anchorlinks" [routerLinkActive]="['active-link']">
          investor deck
        </div>
        <div [routerLink]="['/faq']" [routerLinkActive]="['active-link']" class="anchorlinks">
          FAQ
        </div>
        <div [routerLink]="['/stockinfo']" class="anchorlinks" [routerLinkActive]="['active-link']">
          Stock Info
        </div>
      </div>
    </div>
  </div>
  <div class="links mid">
    <div class="company">
      <div class="section">
        <span class="link-sec">Help</span>
        <!-- <div [routerLink]="['/faq']" class="anchorlinks" [routerLinkActive]="['active-link']">
          FAQs
        </div> -->
        <div [routerLink]="['/contact']" class="anchorlinks" [routerLinkActive]="['active-link']">
          contact us
        </div>
      </div>
    </div>
  </div>

  <!-- ADD NGIF HERE -->
  <div class="links right-side">
    <a href="/">
    <div class="company">
      <div class="section">
        <div class="footer-logo"></div>
        <div class="anchorlinks">
            Mainstreaming Medical Cannabis <br>
            Into Traditional Healthcare
        </div>
      </div>
    </div>
    </a>
  </div>
</div>

<div class="footer-content-2 desktop-footer-content-2 row">
  <div class="d-flex flex-row justify-content-start col-md-8 desktop_footer_terms_services">
    <a class="footer_terms_link" routerLink="terms" [routerLinkActive]="['active-link']">Terms</a> 
    <a class="footer_policy_link" routerLink="policy" [routerLinkActive]="['active-link']">Policies</a> 
    <span class="copy">Copyright ©&nbsp;<span class="footer-copyright-year"></span>&nbsp;MVC Technologies Inc. All Rights Reserved.</span>
  </div>
  <div class="footer_social_icons desktop_footer_social_icons d-flex flex-row justify-content-end col-md-4">
    <!-- <a href="https://www.facebook.com/CB2Insights/" class="facebook_icon">
      <i class="fa fa-facebook"></i>
    </a> -->
    <a href="https://twitter.com/CB2Insights" target="_blank" class="twitter_icon">
      <i class="fa fa-twitter"></i>
    </a>
    <!-- <a href="" class="instagram_icon">
      <i class="fa fa-instagram"></i>
    </a> -->
    <a href="https://www.linkedin.com/company/cb2-insights/" target="_blank" class="linkedin_icon">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>


<div class="footer-content-2 mobile-footer-content-2 row">
  <div class="d-flex flex-row justify-content-center col-md-12 mobile_footer_terms_services">
    <a class="footer_terms_link" routerLink="terms" [routerLinkActive]="['active-link']">Terms</a>
    <a class="footer_policy_link" routerLink="policy" [routerLinkActive]="['active-link']">Policies</a>
  </div>
  <div class="footer_social_icons mobile_footer_social_icons d-flex flex-row justify-content-center col-md-12">
    <!-- <a href="https://www.facebook.com/CB2Insights/" target="_blank" class="facebook_icon">
      <i class="fa fa-facebook"></i>
    </a> -->
    <a href="https://twitter.com/CB2Insights" target="_blank" class="twitter_icon">
      <i class="fa fa-twitter"></i>
    </a>
    <!-- <a href="" class="instagram_icon">
      <i class="fa fa-instagram"></i>
    </a> -->
    <a href="https://www.linkedin.com/company/cb2-insights/" target="_blank" class="linkedin_icon">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>

<div class="footer-content-3">
  Copyright ©&nbsp;<span class="mobile-footer-copyright-year"></span>&nbsp;MVC Technologies Inc. All Rights Reserved.
</div>


