@import '../shared/extend.scss';

.copy {
  display: none;
}

.links.address, .links.right-side{
  display: none;
}

.footer-logo {
  display: block;
  width: 202px;
  height: 36px;
  margin-bottom: 40px;
  background-image: url('../../assets/images/logos/CB2-logo2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    cursor: pointer;
  }
}

.active-link {
  color: #98c93e;
}


.links {
    width: 20%;
    float: left;
}


.navigation-links {
  // display: -webkit-box;      
  // display: -moz-box;         
  // display: -ms-flexbox;      
  // display: -webkit-flex;     
  // display: flex;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  // -ms-flex-direction: column;
  // flex-direction: column;
  font-family: Metropolis, sans-serif;
  text-align: center;
  width: 100%;


  .links {
    &.address {
      text-align: left;
      // margin-right: 80px;
      // margin-left: 55px;
      .section{
        color: #575757;
      }

      .anchorlinks{
        color: inherit;
      }
    }

    &.right-side {
      text-align: left;
      // margin-left: 260px;
      // margin-right: 59px;
      .anchorlinks{
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.7px;
        &:hover{
          color: #575755;
        }
      }
    }
  }

  .link-sec {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #282827;
  }

  .links.address:hover {
    .company .section{
    color: #98c93e;
  }
}

  .anchorlinks {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #575757;
    margin-bottom: 17px;
    text-transform: capitalize;

    &:first-of-type {
      margin-top: 25px;
    }

    &:hover{
      cursor: pointer;
      color: #98c93e;
    }
  }
}

.footer-content {
  width: 360px;

  &-1 {
    padding: 50px 0;
    @extend %flex-align-center;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 28px;
    font-family: Metropolis-Medium, sans-serif;
    line-height: 1.36;
    min-height: 230px;
    background-color: #f4f4f4;

    .contact-button {
      @extend %button-style;
    }
  }

  &-2 {
    @extend %flex-align-center;
    height: 52px;
    background-color: #f4f4f4;
    margin: 0;

    @media screen and (max-width: 1280px) {
      padding: 20px 0 80px 0;
    }
    a {
      font-family: Metropolis-Light, sans-serif;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      color: #282827;
    }
    a.footer_terms_link {
      margin-right: 39px;
    }
    .footer_social_icons {
      right: 120px;
      position: absolute;
      a {
        &:hover {
          cursor: pointer;
          i {
            color: #98c93e;
          }
        }
        i {
          color: #575757;
          font-size: 20px;
        }
      }
    }
  }
  &-3 {
    @extend %flex-align-center;
    height: 48px;
    background-color: #ffffff;
    font-family: Metropolis-Light, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #575757;
  }
}

.desktop-footer-content-2 {
  @media screen and (max-width: 1280px) {
    display: none !important;
  }
}

.mobile-footer-content-2 {
  display: none !important;
  @media screen and (max-width: 1280px) {
    display: block !important;
  }
  .footer_social_icons {
    right: 0;
    margin: 0 auto;
    padding: 20px 0;
    a {
      margin: 10px 10px;
    }
  }
}

.get-in-touch-wrapper {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.gitw1 {
  color: #575757;
}

.gitw2 {
  color: #98c93e;
}

.hideCookieOverlay {
  animation-name: slideDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}

.footer-content-2 {
  a {
    font-family: Metropolis-Light, sans-serif;
    &:hover {
      color: #98c93e;
    }
  }
}

.cookie-overlay {
  font-family: Metropolis-Light, sans-serif;
  position: fixed;
  z-index: 20;
  bottom: 0;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  color: #ffffff;
  background-color: #282827;

  .cookie-summary {
    a{
      color: #98c93e;
    }
  }

  .close-button {
    .confirm-cookie.btnUp{
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      font-family: Metropolis-Bold, sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      height: 39px;
      border-radius: 2px;
      color: #ffffff;
      border: 0;
    
      &:hover {
        cursor: pointer;
      }
    }
  }

  @keyframes slideDown {
    0% {
      bottom: 0;
    }

    100% {
      bottom: -150px;
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      bottom: 0;
    }

    100% {
      bottom: -150px;
    }
  }
}

@media (min-width: 320px) {

  .links {
    margin-top: 20px;
  }

  .cookie-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 129px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .close-button {
    .confirm-cookie{
      width: 320px;
    }
  }

  .cookie-summary {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width:700px) {
  .navigation-links {
    padding: 20px 0;
  }
}

@media (min-width:700px) {
  .links {
    margin-top: 100px;
  }
  .links.mid{
    text-align: left;
  }
  .close-button {
    .confirm-cookie{
      width: 100px;
    }
  }

  .navigation-links {
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: row;
    // flex-direction: row;
    // -webkit-box-pack: space-evenly;
    // -ms-flex-pack: space-evenly;
    // justify-content: space-evenly;
    font-family: Metropolis, sans-serif;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0 120px;
    overflow: hidden;
    margin-bottom: 56px;
  }

  .cookie-overlay {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 78px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media(min-width:768px) {
  .footer-content {
    &-1 {
      font-family: Metropolis-Medium, sans-serif;
      font-size: 30px;
    }
  }

  .close-button {
    .confirm-cookie{
      margin-right: 55px;
      margin-left: 113px;
    }
  }

  .get-in-touch-wrapper {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;

    div:first-child() {
      margin-right: 10px;
    }
  }

  .cookie-overlay {
    font-size: 18px;
    line-height: 1.28;
  }

  .cookie-summary {
    margin-left: 56px;
    margin-right: initial;
  }
}

@media (max-width:767px) {
  .links {
    width: 100%;
    margin-top: 40px; 
  }
  .navigation-links {
    margin: 0;
  }
}

@media (min-width:768px) and (max-width:1279px) {
  .links {
      width: 33%;
  }
}

@media(max-width:1279px) {
  .company {
    text-align: center;
  }
  .footer-content-2 {
    justify-content: center !important;
  }
}

@media(min-width:1280px) {
  .cookie-overlay {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    height: 72px;

    .cookie-summary {
      padding-right: 15px;
    }
  }

  .close-button {
    .confirm-cookie{
      margin-right: 110px;
    }
  }

  .footer-content-3 {
    display: none;
  }

  .copy {
    display: block;
    font-family: Metropolis-Light, sans-serif;
    margin-left: 44px;
    color: #575757;
  }

  .footer-content {
    &-2 {
      -webkit-box-pack: initial;
      -ms-flex-pack: initial;
      justify-content: initial;
      padding-left: 72px;

      .copy,
      a {
        font-size: 14px;
        letter-spacing: 0.7px;
      }

      a {
        width: 45px;
      }
    }
  }

  .links.address, .links.right-side{
    display: block;
  }

  // .mid:not(:nth-last-child(2)){
  //   margin-right: 72px; 
  // }
}

@media(min-width:1366px) {
  .cookie-overlay {
    line-height: 1.25;

    .cookie-summary {
      margin-left: 144px;
      padding-right: 30px;

      a {
        text-decoration: underline !important;
        color: #98c93e !important;
      }
    }
  }
  .close-button {
    .confirm-cookie{
      margin-right: 144px;
    }
  }
}

@media(min-width:1920px) {
  .cookie-overlay {
    line-height: 1.23;

    .cookie-summary {
      margin-left: 240px;
      padding-right: 25px;
    }
  }

  .close-button {
    .confirm-cookie{
      margin-right: 240px;
    }
  }

  .footer-content {
    &-2 {
      padding-left: 120px;
    }
  }
}