
<div class="pdf-create">
<!-- <iframe src="cannabisandmood.pdf&embedded=true" style="height:100%; width: 100%; padding-top: 40px;"
  frameborder="0"></iframe> -->
  <iframe src="https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Data_Report.pdf&embedded=true"
  style="height:100%; width: 100%; padding-top: 40px;" frameborder="0"></iframe>
</div>