<div class="pdf-create">
  <iframe src="https://docs.google.com/gview?url=https://clinic-api-ca-prod.sailcannabis.co/files/CB2%20Term%20Sheet%202018-09-26%20-%20Institution.pdf&embedded=true"
    style="height:100%; width: 100%; padding-top: 40px;" frameborder="0"></iframe>
</div>