<div class="jumbotron contact-jumbotron jumbo-contact-data">
  Any<span class="green">&nbsp;Questions?</span>
</div>

<div class="content">
  <div class="title t2">
    Let us take your knowledge <span class="green">higher!</span>
    <div class="green-line second"></div>
    <div class="summary">
      If you would like to receive more information about CB2 Insights simply fill out our form and we will get back to
      you.
    </div>
  </div>

  <div class="form-sec">
      <form #f="ngForm" (ngSubmit)="onContactSubmitted(f)" class="contactForm" id="contactForm">
      <div class="sec-1">
        <div class="form-group">
          <label for="">First Name<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="John" name="firstName" #firstName="ngModel" required ngModel>
        </div>

        <div class="form-group">
          <label for="">Last Name<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="Smith" name="lastName" #lastName="ngModel" required ngModel>
        </div>
      </div>

      <div class="sec-2">
        <div class="form-group">
          <label for="">Email<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="jsmith@email.com" name="email" #email="ngModel" required email ngModel>
        </div>
        <div class="form-group">
          <label for="">Phone</label>
          <input type="text" class="form-control" placeholder="123-456-7890" name="phone" maxlength="11" ngModel>
        </div>
      </div>

      <div class="sec-4">
        <div class="form-group">
          <label for="">Reason for contacting<span class="green">*</span></label>
          <select name="reason" required ngModel>
            <option value="" disabled selected>Interested in partnership</option>
            <option value="Looking to collaborate">Looking to collaborate</option>
            <option value="Looking to invest">Looking to invest</option>
            <option value="Looking for a career at CB2">Looking for a career at CB2</option>
            <option value="Interested in partnership">Interested in partnership</option>
          </select>
        </div>
      </div>

      <div class="sec-3">
        <div class="form-group">
          <label for="">How can we help?<span class="green">*</span></label>
          <textarea class="form-control" placeholder="Tell me more about investment opportunities." name="" id="" cols="30"
            rows="10" name="message" #message="ngModel" required ngModel></textarea>
        </div>
        <p id="input-invalid-message" *ngIf="(!email.valid && email.touched) || (!firstName.valid && firstName.touched) || (!lastName.valid && lastName.touched) || (!message.valid && message.touched)">One or more fields have an error. Please check and try again.</p>
        <!--<p id="input-invalid-message">One or more fields have an error. Please check and try again.</p>-->        <!-- </div> -->
        <div class="submit-button">
          <button type="submit" class="submit btnUp" [disabled]="!f.valid">submit form
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="content-below">
  <div class="location">
    <!--The div element for the map -->
    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"
      [scrollwheel]="scrollwheel" gestureHandling="gestureHandling" [styles]="styles">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="markerIconUrl()"></agm-marker>
      </agm-map>
    </div>

    <div class="info">
      <div class="title t2">
        Head <span class="green">Office</span>
        <div class="green-line second"></div>
        <div class="summary">
          <div class="address">
            5045 Orbitor Dr <br />
            Building 11, Suite 300 <br /> Mississauga, ON <br />
            L4W 4Y4<br />
          </div>

          <div class="contact">
            <!-- Email: <a href="mailto:inquiries@cb2insights.com"><span class="green-text">inquiries@cb2insights.com</span></a><br /> -->
            Phone: <span class="green-text">1-855-874-4999</span><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>