// default button styles

%button-style {
  width: 144px;
  height: 56px;
  border-radius: 2px;
  border: 0;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.jumbotron {
  font-family: Metropolis-Light, sans-serif;
  border-radius: 0;
}

%jumbotron-standard {
  text-transform: capitalize;
  width: 100%;
  background-color: rgba(40, 40, 39, 0.85);
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

%flex-align-center {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  align-items: center;
}

%title{
  font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  color: #282827;
}

//tiles
%tiles {
  font-family: Metropolis-Light, sans-serif;
  text-align: left;
  height: 528px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
}

%greenbar {
  width: 56px;
  height: 3px;
  background-color: #98c93e;
}

%termsandpolicies {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  padding-top: 49px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  color: #575757;
  font-family: Metropolis-Light, sans-serif;
}

// mobile filter for terms and polices
%tandpfilters {
  width: 248px;
  height: 52px;
  border-radius: 2px;
  border: solid 2px #98c93e;
  margin: 0 auto;
  margin-bottom: 49px;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// update section on terms and polices

// find out more
%findoutmore {
  text-transform: uppercase;
  font-family: Metropolis-Bold, Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.active-link {
  color: #98c93e;
}

.article {
  .loc-1 {
    &:focus {
      outline: none;
    }
  }
  .articleBody {
    .content { 
      a {
        color: #98c732;
      }
      span.italic-text {
        font-style: italic;
      }
    }
  }
}

a:hover {
  text-decoration: none;
}

a, button {
  outline: none;
}
.logo-holder {
  transition: all 700ms ease, -webkit-transform 700ms ease-out;
  transition: all 700ms ease, transform 700ms ease-out;
  transition: all 700ms ease, transform 700ms ease-out, -webkit-transform 700ms ease-out;
}

.navbar-top.shrinkScreen {
  .logo-holder {
    margin-left: calc(100% - 140%) !important;
  }
}
////////// MEDIA //////////

@media (min-width: 320px) {
  %jumbotron-standard{
    height: 150px;
    font-size: 25px;
    letter-spacing: 0.4px;
  }

  %button-style {
    width: 144px;
    height: 56px;
    font-size: 13px;
  }
}

@media (min-width: 1280px) {
  %jumbotron-standard{
    height: 200px;
    font-size: 30px;
    letter-spacing: 0.5px;
  }

  %button-style {
    width: 192px;
    height: 72px;
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  %jumbotron-standard {
    height: 243px;
    font-size: 45px;
    letter-spacing: 0.8px;
  }
}