////////// SPLASH //////////

.cubes-top,
.mission-cubes,
.brands .small-summary,
.cubes {
  display: none;
}

.green-line-mission,
.green-line-brands {
  margin-bottom: 16px;
}

.see-lower {
  background-image: url('../../assets/images/cubes/fill-9-copy.png');
  left: calc(50% - 40px);
  height: 44px;
  width: 80px;
}

.arrow-within {
  background-image: url('../../assets/images/cubes/group-6-copy-3@2x.png');
  background-position: center center;
  width: 100%;
  height: 15px;
}

.small-title {
  padding-top: 59px;
  padding-bottom: 15px;
  font-size: 20px;
  font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.margin-control {
  padding-left: 20px;
  padding-right: 20px;
}

.tile-section {
  margin: 0 auto;
}

.jumbotron {
  font-family: Metropolis-Light, sans-serif;
  height: 93vh;
  overflow: hidden;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 70px; 
}

.header-text {
  font-size: 25px;
  margin-left: 20px;
  letter-spacing: 1px;
  margin-bottom: 69px;
  width: 256px;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.pre-header {
  margin-left: 20px;
  margin-top: 96px;
  font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 3.75;
  letter-spacing: 0.5px;
  margin-bottom: 25px;

  .white-line {
    width: 25px;
  }
}

.cube-small {
  top: 0;
  right: -25px;
  z-index: 15;
  height: 222px;
}

.small-summary {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 27px;
}

@media (min-width: 361px) {
  /*.jumbotron {
    height: 571px;
  }*/
}

@media (min-width: 360px) {
  .ad-image {
    height: 122px;
  }

  .cubesm {
    display: block;
  }

  .cubemd {
    display: none;
  }

  .cubes {
    display: block;
    top: 977px;
    position: absolute;
    right: 0;

    img {
      width: 69px;
      height: 149px;
    }
  }

  .brands {
    padding-bottom: 40px
  }

  .t1,
  .t2,
  .t3,
  .t4 {
    display: block;
  }
}

@media (min-width: 700px) {
  /*.jumbotron {
    height: 955px;
  }*/

  .green-line-mission,
  .green-line-brands {
    margin-bottom: 30px;
  }

  // .arrow-within {
  //   width: 20.5px;
  //   height: 20px;
  // }

  // .see-lower {
  //   background-image: url('../../assets/images/cubes/fill-9-copy@2x.png');
  //   left: calc(50% - 55px);
  //   height: 54px;
  //   width: 110px;
  // }

  .cube-small {
    right: 0px;
    // top: -80px;
    height: 269px;
  }

  .header-text {
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    width: 444px;
    margin-left: 56px;
  }

  .pre-header {
    margin-left: 56px;
    margin-top: 85px;
    font-size: 16px;
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.81;
    letter-spacing: 0.8px;
    margin-bottom: 48px;

    .white-line {
      width: 56px;
    }
  }

  .cubes {
    top: 925px;

    img {
      width: 120px;
      height: 240px;
    }
  }
  .cubesm {
    display: none;
  }

  .cubemd {
    display: block;
  }

  .margin-control {
    padding-left: 57px;
    padding-right: 57px;
  }

  .small-title {
    padding-bottom: 30px;
    font-size: 25px;
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  }

  .small-summary {
    font-size: 16px;
    line-height: 1.88;
    width: 568px;

    &.center {
      width: 546px;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }

  .brands {
    height: auto;
  }
}

@media (min-width: 1280px) {
  .header-text {
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: 1px;
    width: 688px;
  }

  .ad-image {
    height: 170px;
  }

  .jumbotron {

    .pre-header,
    .header-text {
      margin-left: 110px;
      font-size: 22px;
      letter-spacing: 1.1px;
    }

    .header-text {
      font-size: 60px;
    }

    .cube-small {
      top: -20px;
      height: 245px;
    }
  }

  .cubes-top {
    display: block;
    position: absolute;
    top: -70px;
    right: 48px;
    padding-left: 0 !important;

    img {
      width: 390px;
      height: 414px;
    }
  }

  .jumbotron {
    position: relative;
    text-align: left;
    align-items: flex-start;
    overflow: hidden;
  }

  .small-summary {
    font-size: 25px;
    line-height: 1.6;
  }

  .investor {
    .margin-control {
      .small-title {
        padding-top: 0;
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        text-align: left;

        div:first-child {
          margin-right: 15px;
        }
      }

      .small-summary {
        text-align: center;
        width: 800px;
        margin-bottom: 0;
      }
    }
  }

  .tile-section {
    .inner {
      margin-bottom: 104px;
    }
  }

  .mission {
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;

    .margin-control {
      padding-top: 59px;
      padding-left: 110px;
      padding-right: 169px;
    }

    .small-summary {
      text-align: left;
      width: 897px;
    }

    padding-bottom: 134px;
  }

  .mission-cubes {
    display: block;
    position: absolute;
    right: 0;
    bottom: -43px;
    padding-left: 0 !important;
    z-index: 2;

    img {
      width: 241px;
      height: 302px;
    }
  }

  .brands {
    padding-bottom: initial;

    .small-title {
      justify-content: initial;
    }

    .margin-control {
      padding-right: 0;
    }

    .small-summary {
      text-align: left;
      display: block;
      width: 989px;
      padding-bottom: 71px;
      padding-right: 181px;
    }
  }
}

@media (min-width: 1366px) {
  .mission {
    width: 1060px;
    //margin: 0 auto;
  }
}


@media (min-width: 1920px) {
  .margin-control {
    padding-left: 240px;
    padding-right: 240px;
  }

  .jumbotron{
    .pre-header, .header-text {
      margin-left: 210px;
    }

    .ht2 {
      width: 688px;
    }
  }
  
  .brands {
    .small-summary {
      width: 1170px;
    }
  }

  .header-text {
    font-size: 60px;
    line-height: 1.33;
    width: 778px;
  }

  .small-title {
    font-size: 30px;
  }

  .small-summary {
    font-size: 25px;
  }

  .cubes-top {
    right: 150px;
  }

  .investor {
    .margin-control {
      .small-summary {
        width: 800px;
      }
    }
  }

  .mission {
    .margin-control {
      .small-summary {
        width: 897px;
        //margin: 0 auto;
      }
    }
  }
}

////////// SPLASH END //////////



////////// TERMS //////////
.term-subtitle {
  font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2.22;
  color: #575757;
  margin-bottom: 16px;
}

.termFiltersFull {
  display: none;
}

.terms-numbered,
.terms-top {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .terms-numbered,
  .terms-top {
    margin-left: 110px;
    margin-right: 110px;
  }

  .terms {
    padding-bottom: 68px
  }

  .jumbotron-plc-srv.ter {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/12-terms.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 311px;
  }
}

@media (min-width: 1280px) {
  .terms {
    padding-bottom: 107px;
    padding-top: 155px;
    flex-direction: row;
    padding-bottom: 48px;
  }

  .jumbotron-plc-srv.ter {
    height: 243px;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/12-terms.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .termFiltersFull {
    display: block;
  }

  .termFilters {
    display: none;
  }

  .terms-numbered,
  .terms-top {
    margin-left: 81px;
    margin-right: 105px;
  }

  .terms-top {
    font-size: 20px;
    line-height: 1.4;
    color: #575757;
    padding-bottom: 14px;
  }

  .terms-numbered {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 0;
  }

  .term-subtitle {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.25;
    color: #575757;
    margin-bottom: 36px;
    padding-top: 63px;
  }
}


@media (min-width: 1366px) {
  .terms {
    padding-bottom: 66px
  }

  .terms-numbered,
  .terms-top {
    margin-left: 94px;
    margin-right: 144px;
  }
}


@media (min-width: 1920px) {
  .terms {
    padding-bottom: 117px
  }

  .terms-numbered,
  .terms-top {
    margin-left: 94px;
    margin-right: 240px;
  }
}

////////// POLICY //////////
.policy-header {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.25;
  color: #575757;
}

.policy-subheader {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #575757;
  text-transform: uppercase;
}

.update {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.75;
  font-family: Metropolis-LightItalic, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #575757;
}

.policyFiltersFull {
  display: none;
}

.policy-top {
  margin-bottom: 22px;
}

.policy-top,
.policy-section,
.policy-numbered {
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 360px) {

  .policy-top,
  .policy-section,
  .policy-numbered {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .jumbotron-plc-srv.pol {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/13-policy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 311px;
  }

  .ht1-plc-srv {
    font-family: Metropolis-Light, sans-serif;
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1.63;
    letter-spacing: 0.7px;
  }

  .policy-top,
  .policy-section,
  .policy-numbered {
    margin-left: 110px;
    margin-right: 110px;
  }
}

@media (min-width: 1280px) {
  .jumbotron-plc-srv.pol {
    height: 243px;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/13-policy.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .policyFiltersFull {
    display: block;
  }

  .policyFilters {
    display: none;
  }

  .ht1-plc-srv {
    font-family: Metropolis-Light, sans-serif;
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1.6;
    letter-spacing: 0.8px;
  }

  .policy {
    padding-top: 155px;
    flex-direction: row;
    padding-bottom: 48px;
  }

  .filters-updates {
    margin-left: 110px;
  }

  .filter-option-lg {
    margin-top: 19px;
  }

  .update {
    font-family: Metropolis-LightItalic, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 55px;
    width: 296px;
    text-align: left
  }

  .policyFilters {
    display: none;
  }

  .policy-top {
    margin-bottom: 70px;
  }

  .policy-top,
  .policy-section,
  .policy-numbered {
    margin-left: 81px;
    margin-right: 105px;
  }
}

@media (min-width: 1366px) {

  .filters-updates {
    margin-left: 144px;
  }

  .policy {
    font-size: 18px;
    padding-bottom: 66px;
  }

  .policy-header {
    font-size: 32px;
    line-height: 1.25;
  }

  .policy-subheader {
    font-size: 20px;
    line-height: 2;
  }

  .policy-top .policy-section,
  .policy-numbered {
    margin-left: 94px;
    margin-right: 144px;
  }
}

@media (min-width: 1920px) {

  .filters-updates {
    margin-left: 240px;
  }

  .policy-top,
  .policy-section,
  .policy-numbered {
    margin-left: 94px;
    margin-right: 240px;
  }

  .policy {
    padding-bottom: 117px;
  }
}

////////// ADDITIONAL DETAILS //////////
.ad-summary {
  display: none;
}

@media(min-width: 1279px){
  .ad-summary {
    display: block;
  }
}










