@import '../shared/extend.scss';
@import '../shared/media.scss';

.jumbotron.splash-jumbotron::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron {
  font-family: Metropolis-Light, sans-serif;
  position: relative;
  width: 100%;
  background-position: center;
  padding: 0;
  // display: -webkit-box;      
  // display: -moz-box;         
  // display: -ms-flexbox;      
  // display: -webkit-flex;     
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  background-image: url('../../assets/headers/img-homepage-hero2.png');
  background-size: cover;
  background-repeat: no-repeat;
  .jumbotron-content {
    width: 100%;
    z-index: 1;
    position: absolute;
    .pre-header {
      margin-top: 200px;
    }
    .header-text {
      margin-bottom: 0;
    }
  }
  button {
    line-height: 1.4em;
    width: 300px;
    margin: 0 20px 20px 0;
  }
}

span {
  // margin-left: 16px;

  img {
    width: 17px;
    height: 6px;
    position: relative;
    padding-bottom: 2px;
  }
}

.header-span {
  margin-left: initial;
  text-transform: initial;
}

.margin-control {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-text {
  font-family: Metropolis-Light, sans-serif;
  text-transform: capitalize;

  .ht1 {
    color: #98c93e;
  }

  .ht2 {
    color: #ffffff;
    margin-bottom: 48px;
  }
}

.investor {
  padding: 60px 0;
  width: 100%;
  min-height: 430px;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  .container {
    margin: 0;
  }
}

.mission {
  background-color: #f4f4f4;
  padding-bottom: 30px;
  @media screen {
    
  }
}

.brands {
  background-color: #f4f4f4;
  padding-bottom: 0;
}

// .ad-image {
//   margin-bottom: 25px;
//   background-position: center;
//   background-size: 100%;
//   background-repeat: no-repeat;
//   transition: all 100ms ease-in-out .70ms, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
//   -webkit-transition: all 100ms ease-in-out .70ms, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
//   -o-transition: all 100ms ease-in-out .70ms, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
// }

.ad-summary,
.ad-title {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-left: 32px;
  color: #575757;
  font-family: Metropolis, sans-serif;
}

.ad-title {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 300;
  line-height: normal;
}

.ad-summary {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.56;
  text-transform: none;
}

.small-title {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  padding-top: 0;

  &.secondary-sm {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    justify-content: flex-start;
  }

  &.secondary-sm.left {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    justify-content: initial;
  }

  .st1 {
    color: #98c93e;
  }

  .st2 {
    color: #282827;
    margin-right: 7px;
  }
}

.small-summary {
  font-family: Metropolis, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #575757;
  margin: 0;
  text-align: left !important;
  width: 1000px; 

  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  // &.center {
  //   text-align: center;
  //   margin-bottom: 0;
  // }
}

////////// TILE ANCHOR AND FOOT //////////
.tile-foot {
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 0;
}

.t1 {
  a {
    @extend %findoutmore;
    color: #98c93e;
    font-size: 15px;
  }

  .tile-foot {
    background-color: #98c93e;
  }
}

.t2 {
  a {
    @extend %findoutmore;
    color: #30bbad;
    font-size: 15px;
  }

  .tile-foot {
    background-color: #30bbad;
  }
}

.t3 {
  a {
    @extend %findoutmore;
    color: #296a6d;
    font-size: 15px;
  }

  .tile-foot {
    background-color: #296a6d;
  }
}

.t4 {
  a {
    @extend %findoutmore;
    color: #afafaf;
    font-size: 15px;
  }

  .tile-foot {
    background-color: #afafaf;
  }
}

.tile-section {
  padding: 0 10px;
  // display: -webkit-box;      
  // display: -moz-box;         
  // display: -ms-flexbox;      
  // display: -webkit-flex;     
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  .link-t1, .link-t2, .link-t3{
    position: absolute;
    bottom: 50px;
  }
}

////////// TILE ANCHOR AND FOOT END //////////

.tile-section {
  margin: 0;
  .logo-wrapper-1
    {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 31px;
    margin-bottom: 36px;

    img {
      //width: 40px;
      height: 31px;
    }
  }

  .logo-wrapper-2 {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 31px;
    margin-bottom: 36px;

    img {
      height: 39px;
    }
  }

  .logo-wrapper-3 {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 31px;
    margin-bottom: 36px;

    img {
      width: 135px;
    }
  }

  .inner {
    width: 47%;
    /*width: 30%;*/
    padding: 40px 0 0 0;
    margin: 0 15px 36px;
    position: relative;
    .pad {
      padding: 0 20px;
    }
    &:hover {
      .arrow-right{
        animation: bounceRight 1s infinite;
        -webkit-animation: bounceRight 1s infinite;
      }
    }
  }

  .inner {
    @extend %tiles;
  }

  .t1-middle,
  .t2-middle,
  .t3-middle,
  .t4-middle {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .t1-middle {
    align-items: center;
  }

  .tile-foot-loading {
    height: 12px;
    z-index: 12;
    animation-name: loading;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
  }
  
  @media screen and (max-width: 991px) {
    .inner {
      width: 100% !important;
      height: 450px !important;
    }
  }
}


.pre-header {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;

  .white-line {
    background-color: #fff;
    height: 3px;
    margin-left: 20px;
    margin-bottom: 3px;
  }
}

.cube-small {
  background-image: url('../../assets/images/cubes/group-5.png');
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
}

.see-lower {
  bottom: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  // display: -webkit-box;      
  // display: -moz-box;         
  // display: -ms-flexbox;      
  // display: -webkit-flex;     
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.arrow-within {
  background-size: contain;
  background-repeat: no-repeat;
  // position: absolute;
  bottom: 22px;
  animation: bounce 1.5s infinite ease-in-out;
  -webkit-animation: bounce 1.5s infinite ease-in-out;
}

.green-line-mission,
.green-line-brands {
  @extend %greenbar;
  position: relative;
}

// .green-line-mission {
//   left: calc(50% - 28px);
// }

.pol {
  cursor: pointer;
}

/// Remove anchor style ///
a {
  text-decoration: inherit;
  color: inherit;
}

/// tile body ////
.tile-title {
  text-transform: capitalize;
  color: #575757;
  font-family: Metropolis, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 32px;
}

.tile-body {
  font-size: 18px;
  line-height: 1.7;
  color: #575757;
  font-family: Metropolis, sans-serif;
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 58px;
}

.arrow-right {
  position: absolute;
  left: 0;
}

.misbrand{
  background-color: #f4f4f4;
  padding: 60px 0;
}

.splash-cta-tiles.additional-section {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  padding: 70px 0 40px 0;
  .additional-tiles {
    width: 46%;
    position: relative;
    box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
    .ad-image{
        margin-bottom: 25px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        transition: all 100ms ease-in-out .70ms;
        -webkit-transition: all 100ms ease-in-out .70ms;
        -o-transition: all 100ms ease-in-out .70ms;
      &:before {
        content: "";
        display: none;
        opacity: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg,rgba(40, 40, 39, 0.80),rgba(40, 40, 39, 0.80));
      }  
    }
    &:hover {  
      cursor: pointer;
      .ad-image {
        height: 130px;
        background-size: 120%;
        transition: all 100ms ease-in-out .70ms;
        -webkit-transition: all 100ms ease-in-out .70ms;
        -o-transition: all 100ms ease-in-out .70ms;
        &:before {
          display: block;
          opacity: 1;
        }   
      }
    }
  }
}

// .ad-image:hover {
//   height: 130px;
//   background-size: 120%;
//   transition: all 100ms ease-in-out .70ms;
//   -webkit-transition: all 100ms ease-in-out .70ms;
//   -o-transition: all 100ms ease-in-out .70ms;
// }

.ad-tile-mouseOut{
  filter: grayscale(0);
  transition: all 100ms ease-in-out .70ms, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out .70ms, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -o-transition: all 100ms ease-in-out .70ms, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.additional-tile-container {
  padding: 0 20px;
}
////////// ADDITIONAL DETAILS END //////////

////////// ANIMATIONS //////////

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
@-webkit-keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


///// BOUNCE /////
@keyframes bounce
{
  0%{
    bottom: 10px;
  }
  50%{
    bottom: 22px;
  }
  100%{
    bottom: 15px;
  }
}
@-webkit-keyframes bounce
{
  0%{
    bottom: 10px;
  }
  50%{
    bottom: 22px;
  }
  100%{
    bottom: 15px;
  }
}
///// BOUNCE END /////

///// BOUNCE RIGHT /////
@keyframes bounceRight
{
  0%{
    left: 0px;
  }
  50%{
    left: 10px;
  }
  100%{
    left: 0px;
  }
}
@-webkit-keyframes bounceRight
{
  0%{
    left: 0px;
  }
  50%{
    left: 10px;
  }
  100%{
    left: 0px;
  }
}
///// BOUNCE RIGHT END /////

@media (max-width: 700px) {
  .additional-section {
    display: none;
  }
}
@media (max-width: 767px) {
  .ad-title {
    margin-left: 10px; 
  }
  .tile-section {
    .inner {
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .tile-section {
    padding: 0;
    .inner {
          margin: 0 0 40px 0;
    }
  }
  .splash-cta-tiles.additional-section {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tile-section {
    justify-content: flex-start;
    .inner {
      width: 44%;
      margin-left: 20px;
      margin-right: 20px; 
    }
  }
}

@media (max-width:1199px) {
  .additional-tiles {
    margin: 0 10px 30px;
  }
  .tile-section .inner {
    width: 46%;
  }
}

@media (min-width:1200px) and (max-width: 1920px) {
  .additional-tiles {
    margin: 0 20px 40px;
  }
}

@media (min-width: 1920px) {
  .additional-tiles {
    margin: 0 20px 40px 20px; 
  }
}

@media (min-width:1279px) {
  .misbrand {
    padding: 60px 0 60px 0;
  }
  .additional-tiles {
    height: 350px;
    // .ad-image {
    //   background-size: 100%;
    // }
  }
}

@media (max-width:1279px) {
  .cube-small {
    height: 150px;
  }
  .pre-header {
    margin-top: 100px !important;
  }
  .tile-body {
    font-size: 16px;
    line-height: 1.8;
  }
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .jumbotron {
    .jumbotron-content {
      .pre-header {
        margin-top: 100px;
      }
    }
  }
}

@media (min-width:1600px) {
  .t1-middle {
    margin-right: 81px;
  }

  .t2-middle {
    margin-right: 72px;
  }

  .t3-middle {
    margin-right: 123px;
  }

  .tile-section {
    .link-t2 {
      margin-top: 0 !important;
    }
    .link-t1, .link-t2, .link-t3{
      position: absolute;
      bottom: 50px;
    }
  }
}