<div class="jumbotron splash-jumbotron">
  <div class="cube-small"></div>
  <div class="jumbotron-content">
    <div class="pre-header">
      Better Data. Better Insights.
      <div class="white-line"></div>
    </div>

    <div class="header-text">
      <div class="ht1">Mainstreaming Medical Cannabis</div> 
      <div class="ht2">into Traditional Healthcare</div>
      <!-- <button type="submit" class="submit btnUp" [routerLink]="['/investor']">View Investor Presentation
      </button> -->
      <!-- <button type="submit" class="submit btnUp" [routerLink]="['/datareports']">Data Reports</button> -->
    </div>
  </div>

  <div class="see-lower d-flex justify-content-center align-items-center">
    <div class="arrow-within"></div>
  </div>
</div>

<div class="investor">
  <div class="mission-cubes">
    <!-- <img src="../../assets/images/cubes/group-6@2x.png" alt="cubes"> -->
  </div>
  <div class="container">
    <div class="small-title secondary-sm">
      <div class="st2">
        Our
      </div>
      <div class="st1">
        Mission
      </div>
    </div>
    <div class="green-line-mission"></div>
    <!-- <div class="small-summary center">
      Our mission is to bring real world evidence to the global cannabis industry through data-driven software and services – transforming the way it evolves through actionable insights.
    </div> -->

    <div class="small-summary">
      CB2 Insights has a mission to mainstream medical cannabis into traditional healthcare. We are a research and technology
      company, offering a suite of data and technology solutions as a full service clinical CRO, specializing in Phase III
      and Phase IV, post-marketing, observational and experimental trials in a range of therapeutic areas for sponsors
      worldwide.
      <br>
      <br>
      CB2 Insights helps you create a strong value story with Real World Evidence, generation of safety and efficacy data,
      operating in two segments: clinical solutions and data solutions.
    </div>
  </div>
</div>

<div class="misbrand">
  <div class="container">
    <div class="mission">
      <div class="small-title secondary-sm left d-flex flex-row justify-content-start">
        <div class="st2">
          Our
        </div>
        <div class="st1">
          Divisions
        </div>
      </div>
      <div class="green-line-brands"></div>
      <div class="small-summary">
        Our clinical and data solutions enable us to offer turnkey, comprehensive CRO services to recruit patients, build
        patient registries, and conduct research and data analytics. Sponsors can use our full suite of services or we can
        cater our services based on what you require.
      </div>
    </div>
    <div class="brands">
      <div class="tile-section d-flex justify-content-start flex-wrap">
        <div *ngFor="let tile of tiles; let i = index;" class="t{{i + 1}} inner">
          <!-- <a href="{{tile.url}}" target="_blank"> -->
            <div class="tile-title pad">{{tile.title}}</div>
            <div class="tile-body pad tb{{i}}">{{tile.summary}}</div>
            <div class="logo-wrapper-{{i + 1}} pad">
              <img src="{{tile.logo}}" class="core_pillars_logo_one" alt="logo">
              <!-- <div *ngIf="title.logo2">
                <img src="{{tile.logo2}}" class="core_pillars_logo_two" alt="logo">
              </div> -->
            </div>
            <!-- <div class="link-t{{i + 1}} pad">
              <a>More about {{tile.name}} <span><img class="arrow-right" src="{{tile.arrowSrc}}" alt="find out more"></span></a>
            </div> -->
            <div class="tile-foot"></div>
          <!-- </a> -->
        </div>
      </div>
    </div>

    <div class="small-summary">
      In the end, our suite of technology solutions and existing patient registries can support the research, development and
      commercialization of your products and generate real world data.
    </div>
  </div>
</div>

<div class="splash-cta-tiles additional-section">
  <div class="container">
    <div class="additional-tile-container navigation-links row d-flex justify-content-center">
      <div *ngFor="let aTile of additional; let j = index;" class="additional-tiles t{{j + 1}}">
        <a href="{{aTile.url}}" [routerLink]="aTile.url">
          <div class="ad-image" [style.backgroundImage]="'url(../../assets/headers/'+ aTile.image +')'" onmouseover="this.style.transition='all 100ms ease-in-out .70ms'"></div>
          <div class="ad-title">{{ aTile.title}}</div>

          <div class="ad-summary">{{ aTile.summary}}</div>

          <div class="tile-foot"></div>
        </a>
      </div>
    </div>
  </div>
</div>








