@import '../investor/investor.component.scss';


.jumbotron.contact-jumbotron {
  font-family: Metropolis-Light, sans-serif;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/11-contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 200px;
}

.content {
  background-color: #ffffff;
  .summary {
    font-family: Metropolis-Light, sans-serif;
  }
//   p#input-invalid-message {
//     font-family: Metropolis-Light, sans-serif;
//     display: none;
//     color: #c93e3e;
//   }
  button#download-report {
      display: none;
      a {
          color: #ffffff;
      }
  }
}

.content-below {
  background-color: #f4f4f4;
  .title.t2 {
    .summary {
      font-size: 24px;
      .contact {
        margin: 30px 0 0 0;
        span.green-text {
          color: #98c93e;
          &:hover {
            border-bottom: 2px solid #98c93e;
            cursor: pointer;
          }
        }
      }
    }
  }
}

input, textarea, .form-control, .form-control:focus {
  color: #575757;
}

input::placeholder, textarea::placeholder {
  color: #afafaf; 
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

agm-map {
    height: 100%;
}
  
textarea {
    box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
    border: 0px none;
}

@media (min-width: 200px) {
    .content, .content-below {
        margin-top: 72px;
    }

    .map {
        width: 100%;
        height: 321px;
    }

    .location {
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;  
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .title.t2 {
        text-align: center;
    }

    .summary, .green-line.second {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .content {
        margin-top: 72px;
    }

    .map {
        height: 409px;
    }

    .title.t2 {
        text-align: left;
        width: 400px;
    }

    .summary, .green-line.second {
        margin-left: 0;
    }

    .info{
        margin-left: 108px;
    }
}

@media (max-width:1279px) {
  input {
    height: 41px;
    margin-bottom: 0px;
  }
  .content-below {
       .title.t2 { 
           .summary {
                font-size: 16px;
                margin-bottom: 60px;
           }
        }
    }
}

@media (min-width: 1280px) {
    .content {
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 103px;
        .summary {
            width: 410px;
        }
    }


    .map {
        height: 564px;
    }

    .title.t2{
        margin-left: 0;
    }

    .map {
        width: 50%;
    }

    .location {
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;  
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: nowrap;
        -ms-flex: nowrap;
        flex: nowrap;
    }
}