<div class="jumbotron contact-jumbotron jumbo-contact-data">
  Data<span class="green">&nbsp;Report</span>
</div>

<div class="content">
  <div class="title t2">
    <!--RWE Shows Patients Seeking <span class="green">Cannabis for Mood Disorders</span>-->
    RWE Report: Lack of Experience Found Within Large Portion of <span class="green">Medical Cannabis Patients</span>
    <div class="green-line second"></div>
    <div class="summary">
      Download our FREE data report by filling out this form. For additional reports or findings from CB2 Insights, please contact us through our Contact page.
    </div>
  </div>

  <div class="form-sec">
    <form #f="ngForm" id="ngForm" (ngSubmit)="onContactSubmitted(f)">
      <div class="sec-1">
        <div class="form-group">
          <label for="">First Name<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="John" name="firstName" #firstName="ngModel" required ngModel>
        </div>
        
        <div class="form-group">
          <label for="">Last Name<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="Smith" name="lastName" #lastName="ngModel" required ngModel>
        </div>
      </div>

      <div class="sec-2">
        <div class="form-group">
          <label for="">Email<span class="green">*</span></label>
          <input type="text" class="form-control" placeholder="jsmith@email.com" name="email" #email="ngModel" required email ngModel>
        </div>
        <div class="form-group">
          <label for="">Phone</label>
          <input type="text" class="form-control" placeholder="123-456-7890" name="phone" maxlength="12" ng-model="phone" ngModel>
        </div>
      </div>
      <p id="input-invalid-message" *ngIf="(!email.valid && email.touched) || (!firstName.valid && firstName.touched) || (!lastName.valid && lastName.touched)">One or more fields have an error. Please check and try again.</p>
      <div class="submit-button">
        <button type="submit" class="submit btnUp" form="ngForm" [disabled]="!f.valid">Download report</button>
      </div>
    </form>
  </div>
</div>

<!-- <div class="pdf-create">
  <iframe src="https://docs.google.com/gview?url=https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Investor_Presentation.pdf&embedded=true"
  style="height:100%; width: 100%; padding-top: 40px;" frameborder="0"></iframe>
</div> -->