@import '../shared/extend.scss';

.jumbo-contact-data {
  font-family: Metropolis-Light, sans-serif;
  @extend %jumbotron-standard;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/14-investors.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 0 20%;
  background-size: 100%;
  margin: 70px 0 0 0;
}

.green-line {
  @extend %greenbar;
}

.green {
  color: #98c93e;
}

.content {
  background-color: #f4f4f4;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
}

.form-sec {
  margin-top: 50px;
  margin-bottom: 70px;
}

.form-group {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

input, textarea, .form-control, .form-control:focus {
  font-family: Metropolis-Light, sans-serif;
  color: #575757;
  outline: none;
}

input::placeholder, textarea::placeholder {
  font-family: Metropolis-Light, sans-serif;
  color: #afafaf; 
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.title {
  @extend %title;
}

.subtitle, .summary{
    font-family: Metropolis-Light, sans-serif;
}

.summary {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #575757;
  font-weight: 300;
  text-transform: none;
}

textarea {
  border: 0 none;
  resize: none;
  box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
}

p#input-invalid-message {
  font-family: Metropolis-Light, sans-serif;
  // display: none;
  color: #c93e3e;
}

p#invalid-message {
  font-family: Metropolis-Light, sans-serif;
  display: none;
  color: #c93e3e;
}

.submit,.download {
  width: 322px;
  font-family: Metropolis-Light, sans-serif;
  @extend %button-style;
  background-color: #98c93e;
  a {
    font-family: Metropolis-Bold, sans-serif;
    color: #ffffff;
  }
}

////////// MEDIA //////////

@media (min-width: 300px) {
  .content {
    flex-direction: column;
  }

  .top {
    align-items: center;
    text-align: center;
  }

  .download {
    margin-top: 10px;
  }

  .green-line {
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 16px;
  }

  .green-line.second {
    margin-left: 0;
  }

  .title {
    margin-top: 36px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.4px;

    &.t2 {
      widows: 232px;
    }
  }

  .form-sec,
  .title.t2,
  .top {
    margin-left: 18px;
    margin-right: 20px;
  }

  label {
    font-family: Metropolis-Bold, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #575757;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin-top: 41px;
  }

  input {
    border: 0;
    height: 72px;
    box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
    line-height: 2.5;
    margin-bottom: 21px;
  }

  textarea,
  input {
    font-size: 16px;
    padding-left: 24px;
  }

  textarea {
    padding-top: 19px;
  }

  .summary {
    width: 320px;
    font-size: 16px;
    line-height: 1.75;
  }

  .btn-container {
    margin-bottom: 45px;
    margin-top: 10px;
  }

  .submit {
      margin-top: 46px;
  }

  .submit-button {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
    .summary {
        width: 548px;
    }
    .green-line {
        margin-top: 30px;
        margin-bottom: 36px;
    }
    .title{
        font-size: 25px;
    }
    .btn-container {
        margin-top: 20px;
        margin-bottom: 74px;
      }
    .title.t2{
        margin-top: 70px;
    }
    .form-sec,
  .title.t2,
  .top {
    margin-left: 55px;
    margin-right: 54px;
  }
  .submit-button {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 1279px) { 
  input {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) { 
    .content.inv{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .summary,.title.t2{
        width: 379px;
    }
    input {
        width: 254px;
            margin-right: 30px;
    }
    textarea{
        width: 562px;
    }
    .sec-1, .sec-2 {
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .title {
        font-size: 30px;
    }
    .summary, .subtitle {
        font-size: 25px;
    }
}

@media (min-width: 1450px) {
    .title.t2{
        margin-right: 162px;
    }
}