<div class="jumbo-contact-data">
    Investor<span class="green">&nbsp;Presentation</span>
  </div>
  
  <div class="content inv">
    <div class="title t2">
      Let us take your knowledge <span class="green">higher!</span>
      <div class="green-line second"></div>
      <div class="summary">
        If you would like to receive more information about CB2 Insights simply fill out our form and we will get back to
        you.
      </div>
    </div>
  
    <div class="form-sec">
      <form #f="ngForm" (ngSubmit)="onContactSubmitted(f)">
        <div class="sec-1">
          <div class="form-group">
            <label for="">First Name<span class="green">*</span></label>
            <input type="text" class="form-control" placeholder="First Name" name="firstName" #firstName="ngModel" required ngModel>
          </div>
  
          <div class="form-group">
            <label for="">Last Name<span class="green">*</span></label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" #lastName="ngModel" required ngModel>
          </div>
        </div>
  
        <div class="sec-2">
          <div class="form-group">
            <label for="">Email<span class="green">*</span></label>
            <input type="text" class="form-control" placeholder="jsmith@email.com" name="email" #email="ngModel" required ngModel email>
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" placeholder="123-456-7890" name="phone" maxlength="12" ng-model="phone" ngModel>
          </div>
        </div>
  
        <div class="sec-3">
          <div class="form-group">
            <label for="">How can we help?<span class="green">*</span></label>
            <textarea class="form-control" placeholder="Tell me more about investment opportunities." name="" id="" cols="30"
              rows="10" name="message" #message="ngModel" required ngModel></textarea>
          </div>
          <!-- <span >Please enter a valid email</span> -->
          <p id="input-invalid-message" *ngIf="(!email.valid && email.touched) || (!firstName.valid && firstName.touched) || (!lastName.valid && lastName.touched) || (!message.valid && message.touched)">One or more fields have an error. Please check and try again.</p>
          <!-- <p id="invalid-message">One or more fields have an error. Please check and try again.</p>           -->
          <div class="submit-button">
            <button type="submit" class="submit btnUp" [disabled]="!f.valid">Download Presentation
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>