<div class="article">
  <div class="location">
    <span [routerLink]="['/news']" routerLinkActive="router-link-active"  class="loc-1">Newsroom</span> > <span class="loc-2">Article</span>
  </div>

  <div class="articleBody" *ngFor="let d of localArticles">
    <div class="type">{{d.type}}</div>
    <div class="date">{{d.date}}</div>
    <div class="title">{{d.title}}</div>
    <div class="subTitle">{{d.subtitle}}</div>
    <div class="articleImage"><img src="{{d.image}}"></div>
    <div class="content" [innerHTML]="d.content"></div>
  </div>

  <div class="articleBody" *ngFor="let n of newsPosts">
    <div *ngIf="n.id === id">
      <div *ngIf="n.categories[0] === 17">
        <div class="type">Press Release</div>
      </div>
      <div *ngIf="n.categories[0] === 31">
        <div class="type">Data Report</div>
      </div>
      <div *ngIf="n.categories[0] === 32">
        <div class="type">Announcement</div>
      </div>
      <div *ngIf="n.categories[0] === 33">
        <div class="type">In the News</div>
      </div>
      <div class="date">{{ n.date | date:'longDate' }}</div>
      <div class="title">{{n.title.rendered}}</div>
      <div class="content" [innerHTML]="n.content.rendered"></div>
    </div>
  </div>
</div>