@media (min-width: 100px) {
  .loc{
    &-1, &-2 {
      &:hover {
        color: #98c93e;
      }
    }
    &-1 {
      &:hover{
        cursor: pointer;
      }
    } 
  }

  .content {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #575757;
    margin: 0 0 100px 0;
    p {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .location {
    font-family: Metropolis-Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    color: #575757;
    margin-top: 29px;
    margin-bottom: 59px;
  }

  .date {
    font-family: Metropolis-Light, sans-serif;
    margin-bottom: 27px;
  }

  .article {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 46px;
  }

  .type {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #98c93e;
  }

  .date {
    font-size: 15px;
    line-height: 1.87;
    color: #575757;
  }

  .title {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #575757;
  }

  .subTitle {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Metropolis-LightItalic, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #575757;
  }
}

@media (min-width: 768px) {
  .article {
    margin-left: 56px;
    margin-right: 52px;
  }

  .title {
    font-size: 25px;
    line-height: 1.44;
    letter-spacing: 0.5px;
  }

  .subTitle {
    line-height: 1.78;
    ;
  }
}

@media (min-width: 1280px) {
  .content {
    font-size: 18px;
    line-height: 1.56;
    color: #575757;
  }

  .title {
    font-size: 32px;
    line-height: 1.44;
    letter-spacing: 0.7px;
  }

  .subTitle {
    font-size: 20px;
    line-height: 1.6;
  }

  .article {
    margin-left: 254px;
    margin-right: 254px;
  }
}

@media (min-width: 1366px) {

  .article {
    margin-left: 296px;
    margin-right: 296px;
  }
}


@media (min-width: 1920px) {

  .article {
    margin-left: 574px;
    margin-right: 574px;
  }
}
