
<div class="pdf-create">
  <iframe src="https://clinic-api-ca-prod.sailcannabis.co/files/cannabisandmood.pdf&embedded=true"
  style="height:100%; width: 100%; padding-top: 40px;" frameborder="0"></iframe>
</div>