%sideDrawerTransitions {
  margin-right: 0;
  transition: all 700ms ease, transform 700ms ease-out;
}

// header{
//   margin-bottom: 72px;
// }

.ticker-top {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;             
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.ticker-top.ca_tiker_top {
  margin: 0 30px 0 0;
}

.currPrice {
  max-width: 74px;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fa {
  font-weight: bold;
}

.button-back-to-top {
  position: fixed;
  z-index: 30;
  top: 75vh;
  width: 192px;
  height: 72px;
  border-radius: 2px;
  
  background: linear-gradient(to top, #282827 50%, rgba(40, 40, 39, 0.8) 50%);
  background-size: 200% 200%;
  background-position: top;

  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  font-family: Metropolis-Bold, sans-serif;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  
  -webkit-animation: fadeinBTT 900ms;
  -moz-animation: fadeinBTT 900ms;
  -ms-animation: fadeinBTT 900ms;
  -o-animation: fadeinBTT 900ms;
  animation: fadeinBTT 900ms;

  &:hover {
    color: #ffffff;
    background-position: bottom;
  }
}

router-outlet + *{
  display: none;
}

footer, header{
    width: 100%;
}

.mobile_prevent_scroll {
  height: 100%;
  width: 70%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1000;
}

@keyframes fadeinBTT {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeinBTT {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@media (min-width:1280px) {
  .button-back-to-top {
    right: 55px;
  }
}

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
.navbar-top {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #fff;
  box-shadow: 10px 10px 10px 0 rgba(40, 40, 39, 0.03);
  position: fixed;
  top: 0;
  z-index: 25;
}

.stock-arrow {
  width: 9px;
  height: 5px;
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 7px;
}

.bar{
  height: 3px;
  width: 25px;
  position: absolute;
  background-color: #575757;
  border-radius: 10px;
  transition: .4s;
  &:nth-of-type(2){
    width: 12.5px;
  }
  &:nth-of-type(1){ 
    top: 20px;
      transition: 0.3s ease .3s, transform .3s ease-out .1s;
  }
  &:nth-of-type(2){ 
    top: 30px;
      transition: 0.3s ease .3s;
  }
  &:nth-of-type(3){ 
    top: 40px;
      transition: 0.3s ease .3s, transform .3s ease-out .1s;
  }
}

.hamburger-menu{
  width: 35px;
}

.hamburger-menu.animate{
  /*margin-right: 250px;*/
    top: 0;
    right: 290px;
    position: absolute;
  .bar{
    position: absolute;
    &:nth-of-type(1){
      top: 30px;
      transform: rotate(45deg);
      transition: top .5s ease .1s, transform .5s ease-out .5s;
    }
    &:nth-of-type(2){
      opacity: 0;
    }
    &:nth-of-type(3){
      top: 30px; 
      transform: rotate(-45deg);
      transition: top .5s ease .1s, transform .5s ease-out .5s;
    }
  }
}

@media (max-width: 768px) {  
  .hamburger-menu.animate {
    top: 0;
    right: 290px;
    position: absolute;
    /*margin-right: 280px;*/
  }
}

.stockUpdate {
  .name{
    margin-bottom: initial;
  }
}

.ticker-top{
  font-family: Metropolis-Medium, sans-serif;
}

.nav-links-top {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  flex-direction: row;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  font-family: Metropolis-Medium, sans-serif;
  color: #575757;
  &:hover {
    cursor: pointer;
  }
  div {
    text-transform: uppercase;
    margin-right: 28px;
    position: relative;

    &:last-of-type{
      margin-right: 76px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    &:before {
      width: 0;
      color: #98c93e;
      overflow: hidden;
      position: absolute;
      content: attr(data-text);
      transition: all 0.9s;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  .submenu {
    display: none;
    width: 250px;
    margin: 0;
    top: 0;
    position: absolute;
    padding: 30px 0 0 0;
    &:hover {
      cursor: pointer;
    }
    .submenu_link_container {
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
      .sub_link {
        padding: 15px 0;
        margin: 0;
        text-align: center;
        div {
          &:before {
            width: 0;
            color: #98c93e;
            overflow: hidden;
            position: absolute;
            content: attr(data-text);
            transition: all 0.9s;
          }
          &:hover {
            cursor: pointer;
            &:before {
              width: 100%;
            }
          }
        }
        &:hover {
          background-color: #f4f4f4;
          cursor: pointer;
          color: #96c91c;
        }
      }
    }
  }
  .has_submenu {
    &:hover {
      .submenu {
        display: block;
      }
    }
  }
}

.investors_submenu {
  margin: 20px 0 0 0;
}

.header-padding {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-holder {
  height: 35px;

  img {
    width: 202px;
  }
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.ddl {
  width: 100%;
  height: 189px;
  border-radius: 2px;
  color: white;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-family: Metropolis-Medium, sans-serif;
  text-transform: uppercase;

  &.contact {
    background-color: #296a6d;
  }

  &.terms {
    background-color: #30bbad;
  }

  &.policies {
    background-color: #98c93e;
  }

  .dropdownIcon {
    margin-bottom: 9px;

    img {
      width: 12px;
      height: 15px;
    }
  }
}

.sideDrawer {
  font-family: Metropolis-SemiBold, sans-serif;
  width: 288px;
  position: fixed;
  top: 0px;
  right: 0;
  background-color: #282827;
  z-index: 25;
  height: 100%;
  color: #fff;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  animation: reveal 700ms ease;
  transition: 700ms ease, transform 700ms ease-out;

  div {
    margin-bottom: 20px;
  }

  .links {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5em;
    letter-spacing: 0.7px;
    padding-left: 56px;
    width:240px;

    div {
      &:before {
        width: 0;
        color: #98c93e;
        overflow: hidden;
        position: absolute;
        content: attr(data-text);
        transition: all 0.9s;
      }
  
      &:hover {
        cursor: pointer;
        &:before {
          width: 100%;
        }
      }
    }
  }

  .greenline {
    height: 3px;
    width: 56px;
    background-color: #98c93e;
    margin-top: 32px;
    margin-bottom: 36px;
  }

  .lowerSection {
    padding-left: 56px;
  }

  .copyright {
    width: 135px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.6px;
    color: #d8d8d8;
    font-family: Metropolis, sans-serif;
  }

  .logo {
    background-image: url('../assets/images/logos/group-29@2x.png');
    background-size: cover;
    background-position: center;
    width: 175px;
    height: 31.2px;
    &:hover {
      cursor: pointer;
    }
  }

  #this_resources_submenu, #this_investors_submenu {
    display: none;
    @media screen and (max-width: 1280px) {
      margin: 30px 0 30px 10px;
    }
  }
}

.allContent{
  width: 100%;
}

.sideDrawer.close {
  width: 0;
  @extend %sideDrawerTransitions;
}

.shrinkScreen{
  /*margin-right: calc(100% - 580px);*/
  /*margin-right: 288px;*/
  transition: all 700ms ease, transform 700ms ease-out;
}

@media (max-width: 400px) {
  .shrinkScreen {
    margin-right: calc(100% - -40%) !important;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .shrinkScreen {
    margin-right: calc(100% - -15%) !important;
  }
}

@media (max-width: 600px) {
  .navbar-top.shrinkScreen {
    .logo-holder {
      margin-left: calc(100% - 180%) !important;
    }
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .shrinkScreen {
    margin-right: calc(100% - 18%) !important;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .shrinkScreen {
    margin-right: calc(100% - 28%) !important;
  }
}

@media (min-width: 801px) and (max-width: 930px) {
  .shrinkScreen {
    margin-right: calc(100% - 38%) !important;
  }
}

@media (min-width: 931px) and (max-width: 1100px) {
  .shrinkScreen {
    margin-right: calc(100% - 48%) !important;
  }
}

@media (min-width: 1101px) and (max-width: 1280px) {
  .shrinkScreen {
    margin-right: calc(100% - 55%) !important;
  }
}

.shrinkScreenNormal {
  width: 100%;
  @extend %sideDrawerTransitions;
}

.menuicon {
  &-lg {
    display: none;
  }
}

.right-side-navbar {
  flex-direction: row;
  align-items: center;
}

.stockArrow {
  margin-left: 12px;
  margin-right: 7px;
}

.stockUpdate {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  align-items: center;
}
////////// ANIMATIONS //////////

///// REVEAL /////
@-webkit-keyframes reveal {
  from {
    right: -288px;
  }
  to {
    right: 0;
  }
}

@keyframes reveal {
  from {
    right: -288px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes revealOut {
  from {
    right: 0;
  }
  to {
    right: -288px;
  }
}

@keyframes revealOut {
  from {
    right: 0;
  }
  to {
    right: -288px;
  }
}
///// REVEAL END /////

////////// ANIMATIONS END //////////

////////// MEDIA //////////
@media (min-width) {
  .hamburger-menu{
    display: block;
  }
}

@media (min-width:768px) {
  .menuicon {
    &-sm {
      display: block;
    }
  }

  .header-padding {
    padding-left: 55px;
    padding-right: 45px;
  }
}

@media (min-width: 1280px) {
  .hamburger-menu{
    display: none;
  }
  .menuicon {
    &-sm {
      display: none;
    }

    &-lg {
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;  
    }

  }

  .sideDrawer {
    display: none;
  }
}

@media (max-width: 1280px) {
  .sideDrawer{ 
    .links {
      div:before {
        display: none;
      }
    }
  }
}

@media(min-width:1366px) {
  .header-padding {
    padding-left: 72px;
    padding-right: 69px;
  }
}

@media(max-width:1440px) {
  .nav-links-top {
    font-size: 13px;
  }
}

@media(min-width:1920px) {
  .header-padding {
    padding-left: 120px;
    padding-right: 120px;
  }
}
////////// MEDIA END //////////
