<header>
  <!-- <app-header></app-header> -->
  <div class="navbar-top" [ngClass]="{'shrinkScreen': showDropdownMenu, 'shrinkScreenNormal': !showDropdownMenu}">
    <div class="header-padding">
      <div class="logo-holder">
        <a routerLink="/"><img src="../../assets/images/logos/CB2-logo2x.png" alt="logo"></a>
      </div>

      <div id="mnu" [ngClass]="{'animate': showDropdownMenu}" class="hamburger-menu hamburgerMenu" (click)="menuClick()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="menuicon-lg right-side-navbar">
        <div class="nav-links-top">
          <div data-text="our&nbsp;story" [routerLink]="['/story']" [routerLinkActive]="['active-link']" class="story">our story</div>
          <div data-text="leadership" [routerLink]="['/team']" [routerLinkActive]="['active-link']" class="leadership">leadership</div>
          <!-- <div data-text="investor&nbsp;presentation" [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="investor">investor presentation</div> -->
          <!-- <div data-text="newsroom" [routerLink]="['/news']" [routerLinkActive]="['active-link']" class="newsroom">newsroom</div> -->
          <!-- <div data-text="stock&nbsp;info" [routerLink]="['/stockinfo']" [routerLinkActive]="['active-link']" class="data">stock info</div>
          <div data-text="financials" [routerLink]="['/financialinfo']" [routerLinkActive]="['active-link']" class="financials">financials</div> -->
          <div data-text="resources" class="resources has_submenu">resources
            <div class="submenu resources_submenu" id="resources_submenu" >
              <div class="submenu_link_container">
                <div [routerLink]="['/news']" [routerLinkActive]="['active-link']" class="newsroom sub_link">newsroom</div>
                <div [routerLink]="['/datareports']" [routerLinkActive]="['active-link']" class="datareports sub_link">data reports</div>
                <!--<div [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="investor sub_link">investor deck</div> -->
                <div [routerLink]="['/faq']" [routerLinkActive]="['active-link']" class="faq sub_link">
                  FAQ</div>
              </div>
            </div>
          </div>
          <div data-text="investors" class="resources has_submenu">Investors
            <div class="submenu resources_submenu" id="resources_submenu">
              <div class="submenu_link_container">
                <div [routerLink]="['/investorpresentation']" [routerLinkActive]="['active-link']" class="investor sub_link">
                  Investor Presentation</div>
                <div [routerLink]="['/financialinfo']" [routerLinkActive]="['active-link']" class="financials sub_link">financial reports</div>
                <div [routerLink]="['/stockinfo']" [routerLinkActive]="['active-link']" class="data sub_link">stock info</div>
                <div [routerLink]="['/faq']" [routerLinkActive]="['active-link']" class="faq sub_link">
                  Investor FAQ</div>
                <!-- <div [routerLink]="['/datareports']" [routerLinkActive]="['active-link']" class="datareports sub_link">data
                  reports</div> -->
                <!-- <div [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="investor sub_link">investor deck</div> -->
                <div [routerLink]="['/secfilings']" [routerLinkActive]="['active-link']" class="sec_filings sub_link">
                  sec filings</div>
              </div>
            </div>
          </div>
          <!-- <div data-text="stock&nbsp;info" [routerLink]="['/stockinfo']" [routerLinkActive]="['active-link']" class="data">stock
            info</div> -->
          <!-- <div data-text="investor&nbsp;presentation" [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="leadership">investor presentation</div> -->
          <!-- <div data-text="data&nbsp;reports" [routerLink]="['/naivepatientsreport']" [routerLinkActive]="['active-link']" class="data-report">data reports</div> -->
          <!-- <div data-text="newsroom" [routerLink]="['/news']" [routerLinkActive]="['active-link']" class="newsroom">newsroom</div> -->
          <div data-text="Contact&nbsp;Us" [routerLink]="['/contact']" [routerLinkActive]="['active-link']" class="contact">Contact Us</div>
        </div>

        <div class="ticker-top ca_tiker_top">
          <div class="name">{{shortName}}</div>
          <div >
            <span class="indicator">
              <img id="arrow-direction" class="stock-arrow" src="{{arrowType}}" alt="stock indicator arrow">
            </span>
          </div>
          <div class="currPrice">C${{currentPrice}}</div>
        </div>

        <div class="ticker-top us_tiker_top">
          <div class="name">{{usShortName}}</div>
          <div>
            <span class="indicator">
              <img id="us-arrow-direction" class="stock-arrow" src="{{arrowType}}" alt="stock indicator arrow">
            </span>
          </div>
          <div class="currPrice">${{usCurrentPrice}}USD</div>
        </div>
      </div>
    </div>
  </div>

  <div id="sideDrawer" class="sideDrawer" [ngClass]="{'close': !showDropdownMenu}">
    <div class="links">
      <!-- 
      <div data-text="financials" [routerLink]="['/financialinfo']" [routerLinkActive]="['active-link']" (click)="dropdownItemClicked()">Financials</div> -->

      <div data-text="our&nbsp;story" [routerLink]="['/story']" [routerLinkActive]="['active-link']" class="story">our story</div>
      <div data-text="leadership" [routerLink]="['/team']" [routerLinkActive]="['active-link']" class="leadership">leadership</div>
      <!-- <div data-text="investor&nbsp;presentation" [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="investor">investor
        presentation</div> -->
      <!-- <div data-text="newsroom" [routerLink]="['/news']" [routerLinkActive]="['active-link']" class="newsroom">newsroom</div> -->
      <div data-text="resources" id="has_resources_submenu" class="resources has_submenu" [ngClass]="{'show': showSubMenuLinks}" (click)="showSubMenu()">resources
        <div class="submenu resources_submenu" id="this_resources_submenu">
          <div class="submenu_link_container">
            <div [routerLink]="['/news']" [routerLinkActive]="['active-link']" class="newsroom sub_link">newsroom</div>
            <div [routerLink]="['/datareports']" [routerLinkActive]="['active-link']" class="datareports sub_link">data
              reports</div>
            <!-- <div [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="investor sub_link">investor deck</div> -->
            <div [routerLink]="['/faq']" [routerLinkActive]="['active-link']" class="faq sub_link">
              faq</div>
          </div>
        </div>
      </div>
      <div data-text="investors" id="has_investors_submenu" class="investors has_submenu" [ngClass]="{'show': showInvestorsSubMenuLinks}" (click)="showInvestorsSubMenu()">Investors
        <div class="submenu investors_submenu" id="this_investors_submenu">
          <div class="submenu_link_container">
            <div [routerLink]="['/investorpresentation']" [routerLinkActive]="['active-link']" class="investor sub_link">
              Investor Presentation</div>
            <div [routerLink]="['/financialinfo']" [routerLinkActive]="['active-link']" class="financials sub_link">financial
              reports</div>
            <div [routerLink]="['/stockinfo']" [routerLinkActive]="['active-link']" class="data sub_link">stock info</div>
            <div [routerLink]="['/faq']" [routerLinkActive]="['active-link']" class="faq sub_link">
              Investor FAQ</div>
            <!-- <div [routerLink]="['/investor']" [routerLinkActive]="['active-link']" class="investor sub_link">investor deck</div> -->
            <div [routerLink]="['/secfilings']" [routerLinkActive]="['active-link']" class="sec_filings sub_link">
                        sec filings</div>
          </div>
        </div>
      </div>
      <!-- <div data-text="Stock&nbsp;Info" [routerLink]="['/stockinfo']" [routerLinkActive]="['active-link']" (click)="dropdownItemClicked()">Stock
        Info</div> -->
      <div data-text="Contact&nbsp;Us" [routerLink]="['/contact']" [routerLinkActive]="['active-link']" (click)="dropdownItemClicked()">Contact Us</div>

      <div class="greenline"></div>

      <div class="stockUpdate">
        <div class="name">{{shortName}}</div>
        <img id="arrow-direction-side" class="stockArrow" src="{{arrowType}}" alt="arrow indicator">C${{currentPrice}}
      </div>

      <div class="stockUpdate">
        <div class="name">{{usShortName}}</div>
        <img id="us-arrow-direction-side" class="stockArrow" src="{{arrowType}}" alt="arrow indicator">${{usCurrentPrice}}USD
      </div>
    </div>
    <div class="lowerSection">
      <div class="logo" [routerLink]="['/']" >

      </div>
      <div class="copyright">
        Copyright © 2018 CB2 Insights. <br>
        All Rights Reserved.
      </div>
    </div>
  </div>
</header>

<div class="mobile_prevent_scroll" id="mobile_prevent_scroll"></div>

<div class="allContent" id="allContent" [ngClass]="{'shrinkScreen': showDropdownMenu, 'shrinkScreenNormal': !showDropdownMenu}">
    <router-outlet id="top">
    </router-outlet>
</div>

<footer [ngClass]="{'shrinkScreen': showDropdownMenu, 'shrinkScreenNormal': !showDropdownMenu}">
  <app-footer></app-footer>
</footer>

<button *ngIf="showBackToTopButton" type="button" class="button-back-to-top" [ngx-scroll-to]="'top'" (click)="hideButton()">
  Back to top &nbsp; <i class="fa fa-angle-up"></i>
</button>
