@import '../shared/extend.scss';

.jumbo-jobs {
  @extend %jumbotron-standard;
  text-transform: initial;
}

.cityFilters,
.teamFilters {
  @extend %tandpfilters;
}

.selectControl {
  top: 0;
  left: 0;
  height: 52px;
}

.rotate-arrow {
  transform: rotate(270deg);
}

@media (min-width: 200px) {

  ////////// MARGINS /////////
  .container {
    margin: 41px 20px;
  }

  ////////// MARGINS END /////////

  .cityFilters,
  .teamFilters {
    width: 304px;
  }

  .cityFilters,
  .teamFilters {
    margin-top: 24px;
    position: relative;
  }

  label {
    font-family: Metropolis-Bold, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #575757;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .filters {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 70px;
  }

  .selectControlDiv {
    margin-left: 22px;
    font-family: Metropolis-Bold, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #afafaf;
    text-transform: uppercase;
  }

  ////////// CATEGORY SECTION //////////

  .categories {
    width: 320px;
    margin: 0 auto;
  }

  .job-title {
    font-family: Metropolis-Medium, sans-serif;
    font-size: 18px;
    line-height: 2.22;
    color: #575757;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .job-count {
    display: none;
  }

  .arr-img {
    width: 12px;
    height: 7px;
  }

  .job-content {
    font-family: Metropolis-Light, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.87;
    color: #575757;
  }

  .hr {
    width: 100%;
    height: 3.5px;
    background-color: #575757;
    margin-top: 13px;
  }

  .content-title {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 7px;
  }

  .content-location {
    margin-bottom: 13px;
  }

  .content-summary {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    justify-content: space-between;
  }

  .summary-body {
    width: 251px;
  }

  ////////// CATEGORY SECTION END //////////
}

@media (min-width: 768px) {

  ////////// MARGINS /////////
  .container {
    margin: 62px 54px;
  }

  ////////// MARGINS END /////////

  .filters {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories {
    width: 100%;
  }

  .summary-body {
    width: 365px;
    font-size: 16px;
  }

  .job-count {
    display: block;
    font-size: 16px;
    font-family: Metropolis-Light, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #575757;
  }

  .jobs-right {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .jobs-right-2 {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;
  }

  .arrow {
    margin-left: 30px;
  }

  .job-title {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 70px;
  }

  .hr {
    margin-top: 26px;
  }

  .content-title {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media (min-width: 868px) {
  button {
    margin-bottom: 10px;
  }
}

@media (min-width: 1000px) {

  ////////// MARGINS /////////
  .container {
    margin: 61px 111px;
  }

  .cityFilters,
  .teamFilters {
    width: 409px;
  }

  ////////// MARGINS END /////////
}

@media (min-width: 1280px) {

  .cityFilters,
  .teamFilters {
    height: 72px;
  }

  button {
    height: 76px;
    margin-bottom: 9px;
  }

  .job-content {
    font-size: 18px;
    line-height: 1.56;
  }

  .job-title {
    margin-bottom: 96px;
    font-size: 28px;
    line-height: 1.43;
  }

  .current-location {
    font-size: 20px;
    line-height: 1.4;
  }

  .content-title {
    font-size: 24px;
    line-height: 1.33;
  }
}

@media (min-width: 1366px) {

  ////////// MARGINS /////////
  .container {
    margin: 61px 144px;
  }

  ////////// MARGINS END /////////
}

@media (min-width: 1920px) {

    ////////// MARGINS /////////
    .container {
      margin: 61px 423px;
    }
  
    ////////// MARGINS END /////////
  }