<!-- <div class="jumbo-jobs">
  Come work<span class="green-span">&nbsp;with us!</span>
</div> -->

<div class="jumbotron jobs">
  <div class="header-text-plc-srv">
    <!-- <div class="ht1-plc-srv">Come work<span class="green-span">&nbsp;with us!</div> -->
  </div>
</div>

<div class="container">
  <div class="filters">
    <div class="team">
      <label for="team">which team?</label>
      <div class="teamFilters">
        <div class="selectControlDiv">{{teamSelected}}</div>
        <select class="selectControl" name="" id="" (change)="optionChangeTeam($event)">
          <option value="pi">Test0</option>
          <option value="oi">Test1</option>
        </select>
      </div>
    </div>

    <div class="city">
      <label for="city">what city</label>
      <div class="cityFilters">
        <div class="selectControlDiv">{{citySelected}}</div>
        <select class="selectControl" name="" id="" (change)="optionChangeCity($event)">
          <option value="pi">Test2</option>
          <option value="oi">Test3</option>
        </select>
      </div>
    </div>

    <button>Find jobs</button>
  </div>

  <div class="categories">
    <div class="job">
      <div class="job-title">
        <div class="jt">Software Developement</div>
        <div class="jobs-right">
          <div class="job-count">3 Jobs</div>
          <div class="arrow"><img class="arr-img" src="../../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow indicator"></div>
        </div>
      </div>

      <div class="job-content">
        <div class="content-title">Web Developer</div>
        <div class="content-location">Mississauga, ON</div>
        <div class="content-summary">
          <div class="summary-body">You are highly motivated expert at HTML and CSS. You have an incredible attention
            to detail and are excited to bring websites to life. </div>
          <div class="summary-arrow"></div>
          <div class="jobs-right-2">
          <div class="content-location">Mississauga, ON</div>
          <div class="arrow"><img class="arr-img" src="../../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow indicator"></div>
        </div>
        </div>
      </div>

      <div class="hr"></div>
    </div>
  </div>
</div>