<div class="jumboron news-jumbotron jumbo-contact-data">
  Newsroom
</div>

<div class="content-tiles">
  <div class="container">
    <div class="additional-section">
      <div class="additional-tile-container d-flex justify-content-start flex-wrap">
        <div *ngFor="let n of newsPosts; let j = index;" class="additional-tiles t{{j + 1}}">
          <a href="/news/article/{{n.id}}">
            
              <div class="ad-image wp_news_posts_thumb" [style.backgroundImage]="'url('+n.better_featured_image.media_details.sizes.large.source_url+')'" onmouseover="this.style.transition='all 100ms ease-in-out .70ms'"></div>
              
            <div *ngIf="n.categories[0] === 17">
              <div id="" class="header press-release-header">Press Release</div>
            </div>
            <div *ngIf="n.categories[0] === 31">
              <div id="" class="header data-report-header">Data Report</div>
            </div>
            <div *ngIf="n.categories[0] === 32">
              <div id="" class="header announcement-header">Announcement</div>
            </div>
            <div *ngIf="n.categories[0] === 33">
              <div id="" class="header article-header">Article</div>
            </div>
            <div *ngIf="n.categories[0] === 35">
              <div id="" class="header in-the-news-header">In the News</div>
            </div>

            <!-- <div *ngIf="n.categories[0] === 11"> -->
            <div class="ad-title">{{n.title.rendered}}</div>
            <!-- </div> -->
            
            <div id="news-post-date" class="ad-date news-post-date">{{ n.date | date:'longDate' }}</div>

            <div *ngIf="n.categories[0] === 17">
              <div id="tf{{j}}" class="tile-foot press-release-foot"></div>
            </div>
            <div *ngIf="n.categories[0] === 31">
              <div id="tf{{j}}" class="tile-foot data-report-foot"></div>
            </div>
            <div *ngIf="n.categories[0] === 32">
              <div id="tf{{j}}" class="tile-foot announcement-foot"></div>
            </div>
            <div *ngIf="n.categories[0] === 33">
              <div id="tf{{j}}" class="tile-foot article-foot"></div>
            </div>
            <div *ngIf="n.categories[0] === 35">
              <div id="tf{{j}}" class="tile-foot in-the-news-foot"></div>
            </div>
          </a>
        </div>

        <div *ngFor="let d of data; let j = index;" class="additional-tiles t{{j + 1}}">
          <a href="{{d.url}}"> 
            <div class="ad-image" [style.backgroundImage]="'url(../../assets/images/news/'+ d.imgUrl +')'" onmouseover="this.style.transition='all 100ms ease-in-out .70ms'"></div>
            <div id="hd{{j}}" class="header hd{{j}}">{{ d.header}}</div>
            <div class="ad-title">{{ d.title}}</div>
            <div class="ad-date">{{ d.date}}</div>
            <div id="tf{{j}}" class="tile-foot"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>