@import '../investor/investor.component.scss';
// @import '../splash/splash.component.scss';

.jumboron.news-jumbotron {
  font-family: Metropolis-Light, sans-serif;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/6-news.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200px;
  margin: 70px 0 0 0;
}

span.italic-text {
  font-style: italic;
}

@media (min-width:100px) {
  .additional-section {
    display: block;
  }
  .content-tiles {
    margin: 43px 20px;
  }
  .additional-tiles {
    box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
    margin: 0 17px 30px;
  }
  .additional-tiles,
  .additional-tiles:nth-of-type(2n + 1),
  .additional-tiles:nth-of-type(-n + 2) {
    margin-top: initial;
    width: 100%;
    height: 440px;
    position: relative;
    margin-bottom: 43px !important;
  }
  .header {
    font-family: Metropolis-Bold, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-left: 32px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .header.announcement-header, .data-report-header, .press-release-header { 
    color: #96c91c;
  }
  .article-header {
    color: #296a6d;
  }
  .in-the-news-header { 
    color: #30bbad;
  }
  .announcement-foot, .data-report-foot, .press-release-foot {
    background-color:#96c91c !important;
    width: 100%;
    height: 10px;
    bottom: 0;
    position: absolute;
  }
  .article-foot {
    background-color:#296a6d;
    width: 100%;
    height: 10px;
    bottom: 0;
    position: absolute;   
  }
  .in-the-news-foot {
    background-color: #30bbad;
    width: 100%;
    height: 10px;
    bottom: 0;
    position: absolute;    
  }
  .tile-foot {
    width: 100%;
    height: 10px;
    bottom: 0;
    position: absolute; 
  }
  .ad-title {
    text-transform: initial;
    overflow: hidden;
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #575757;
    margin-bottom: 38px;
    margin-left: 0;
    padding: 0 30px;
    max-height: 110px;
  }
  .ad-date {
    margin-left: 32px;
    font-family: Metropolis-Light, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #575757;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    text-transform: initial;
    font-weight: initial;
  }
}

@media (min-width:697px) {
  ////////// MARGIN //////////
  .content-tiles {
    margin-top: 54px;
    margin-bottom: 54px;
  }
  ////////// END //////////
}

@media (min-width: 768px) and (max-width: 991px) {
  .additional-tiles,
  .additional-tiles:nth-of-type(2n + 1),
  .additional-tiles:nth-of-type(-n + 2) {
    width: 45% !important;
  }
  .content-tiles{
    margin-left: initial;
    margin-right: initial;
  } 
  // .additional-tiles {
  //   &.t2,
  //   &.t6 {
  //     //width: 62%;    
  //   }
  // }
}

@media (max-width: 991px) {
  .ad-image {
    height: 200px;
    background-size: 170% !important;
    background-position: center;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .ad-image {
    height: 180px;
    background-size: 150% !important;
    background-position: center;
  }
}

@media (max-width: 1200px) {
  .additional-tiles {
    margin: 0 14px 30px;
  }
}

@keyframes animateTile {
  from { height: 212px 0; }
  to { height: 130px 0; }
}
@-webkit-keyframes animateTile {
  from { height: 212px 0; }
  to { height: 130px 0; }
}

@media (min-width: 1280px) {
  .additional-tiles {
    .ad-image{
      height: 212px;
      background-size: 150%;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 100ms ease-in-out .70ms;
      -webkit-transition: all 100ms ease-in-out .70ms;
      -o-transition: all 100ms ease-in-out .70ms;
      &:before {
        content: "";
        display: none;
        opacity: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg,rgba(40, 40, 39, 0.80),rgba(40, 40, 39, 0.80));
      }  
    }
    &:hover {  
      cursor: pointer;
      .ad-image {
        height: 130px;
        background-size: 180%;
        transition: all 100ms ease-in-out .70ms;
        -webkit-transition: all 100ms ease-in-out .70ms;
        -o-transition: all 100ms ease-in-out .70ms;
        &:before {
          display: block;
          opacity: 1;
        }  
      }
    }
  }
}

.ad-image.wp_news_posts_thumb {
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-position: center; 
}

// .ad-image:hover {
//   height: 130px;
//   background-size: 180%;
//   transition: all 100ms ease-in-out .70ms;
//   -webkit-transition: all 100ms ease-in-out .70ms;
//   -o-transition: all 100ms ease-in-out .70ms;
// }

@media (min-width:992px) {

  ////////// MARGIN //////////
  .content-tiles {
    margin-top: 104px; 
    margin-bottom: 104px;
  }

  ////////// END //////////

  .additional-tiles,
  .additional-tiles:nth-of-type(2n + 1),
  .additional-tiles:nth-of-type(-n + 2) {
    width: 30%;
    height: 528px;
  }

  .additional-tiles {
    &.t2,
    &.t6 {
      // width: 64%;
      height: 528px; 
    }
    // &.t2, &.t5, &.t7, &.t10 {
    //   margin-right: 0;
    // }
  }

  .additional-tile-container{
    max-width: 1144px;
    margin: 0 auto;
  }
  
}

@media (min-width: 1366px) {
  .content-tiles {
    margin-top: 103px;
    margin-bottom: 103px;
  }
}
