@import '../shared/extend.scss';
@import '../shared/media.scss';

.jumbotron {
  font-family: Metropolis-Light, sans-serif;
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron.jumbotron-plc-srv {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/12-terms.jpg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  min-height: 200px;
  margin: 70px 0 0 0;
}

.terms {
  @extend %termsandpolicies;
}

.terms-top {
  margin-bottom: 22px;
}

.terms-numbered {
  margin-bottom: 17px;

  .term-body:not(:last-child) {
    margin-bottom: 20px;
  }
}

.termFilters {
  @extend %tandpfilters;
  position: relative;
}

.termFiltersFull {
  margin-bottom: 21px;
  font-family: Metropolis-Light, sans-serif;
  font-size: 26px;
  color: #575757;
}

.filter-option {
  font-family: Metropolis, sans-serif;
  margin-left: 19px;

  &-lg {
    text-transform: uppercase;
    display: table;
    font-size: 15px;
    font-family: Metropolis, sans-serif;
    &:hover {
      cursor: pointer;
    }
  }
}

.filter-caret {
  margin-right: 22px;

  img {
    width: 11px;
    height: 6px;
  }
}

@media (max-width: 767px) {
  .jumbotron {
    height: 200px;
  }
}