<div class="jumbotron jumbotron-plc-srv ter">
    <div class="header-text-plc-srv">
      <div class="ht1-plc-srv">Terms</div>
    </div>
  </div>

<div class="terms">

  <div class="filters-updates">
    <div class="update">
      Last update September 12, 2018
    </div>

    <div class="termFiltersFull">
      <div (click)="filterClicked($event)" id="1" [ngx-scroll-to]="'nwr'" [ngClass]="{'jumpto': filterSelected1}" class="filter-option-lg jumpto">No Warranty</div>
      <div (click)="filterClicked($event)" id="2" [ngx-scroll-to]="'uoi'" [ngClass]="{'jumpto': filterSelected2}" class="filter-option-lg">Use of Information</div>
      <div (click)="filterClicked($event)" id="3" [ngx-scroll-to]="'links'" [ngClass]="{'jumpto': filterSelected3}" class="filter-option-lg">Links</div>
      <div (click)="filterClicked($event)" id="4" [ngx-scroll-to]="'content'" [ngClass]="{'jumpto': filterSelected4}" class="filter-option-lg">Content</div>
      <div (click)="filterClicked($event)" id="5" [ngx-scroll-to]="'uc'" [ngClass]="{'jumpto': filterSelected5}" class="filter-option-lg">User Content</div>
      <div (click)="filterClicked($event)" id="6" [ngx-scroll-to]="'monitoring'" [ngClass]="{'jumpto': filterSelected6}" class="filter-option-lg">Monitoring</div>
      <div (click)="filterClicked($event)" id="7" [ngx-scroll-to]="'pd'" [ngClass]="{'jumpto': filterSelected7}" class="filter-option-lg">Product Descriptions</div>
      <div (click)="filterClicked($event)" id="8" [ngx-scroll-to]="'sp'" [ngClass]="{'jumpto': filterSelected8}" class="filter-option-lg">Site Policies</div>
      <div (click)="filterClicked($event)" id="9" [ngx-scroll-to]="'consent'" [ngClass]="{'jumpto': filterSelected9}" class="filter-option-lg">Consent</div>
      <div (click)="filterClicked($event)" id="10" [ngx-scroll-to]="'virus'" [ngClass]="{'jumpto': filterSelected10}" class="filter-option-lg">Virus</div>
      <div (click)="filterClicked($event)" id="11" [ngx-scroll-to]="'roi'" [ngClass]="{'jumpto': filterSelected11}" class="filter-option-lg">Right of Indemnification</div>
      <div (click)="filterClicked($event)" id="12" [ngx-scroll-to]="'lol'" [ngClass]="{'jumpto': filterSelected12}" class="filter-option-lg">Limitation of Liability</div>
      <div (click)="filterClicked($event)" id="13" [ngx-scroll-to]="'nw'" [ngClass]="{'jumpto': filterSelected13}" class="filter-option-lg">Non-Waiver</div>
      <div (click)="filterClicked($event)" id="14" [ngx-scroll-to]="'gl'" [ngClass]="{'jumpto': filterSelected14}" class="filter-option-lg">Governing Laws</div>
      <div (click)="filterClicked($event)" id="15" [ngx-scroll-to]="'ns'" [ngClass]="{'jumpto': filterSelected15}" class="filter-option-lg">No Solicitation</div>
      <div (click)="filterClicked($event)" id="16" [ngx-scroll-to]="'territory'" [ngClass]="{'jumpto': filterSelected16}" class="filter-option-lg">Territory</div>
      <div (click)="filterClicked($event)" id="17" [ngx-scroll-to]="'misc'" [ngClass]="{'jumpto': filterSelected17}" class="filter-option-lg">Miscellaneous</div>
    </div>

    <div class="termFilters">
      <div class="filter-option">{{FilterOptionSelected}}</div>
      <div class="filter-caret"><img src="../../assets/images/caret/group-2@2x.png" alt="caret down"></div>
      <select class="selectControl" name="" id="" (change)="optionChange($event)">
        <option value="nwr">No Warranty</option>
        <option value="uoi">Use of Information</option>
        <option value="links">Links</option>
        <option value="content">Content</option>
        <option value="uc">User Content</option>
        <option value="monitoring">Monitoring</option>
        <option value="pd">Product Descriptions</option>
        <option value="sp">Site Policies</option>
        <option value="consent">Consent</option>
        <option value="virus">Virus</option>
        <option value="roi">Right of Indemnification</option>
        <option value="lol">Limitation of Liability</option>
        <option value="nw">Non-Waiver</option>
        <option value="gl">Governing Laws</option>
        <option value="ns">No Solicitation</option>
        <option value="territory">Territory</option>
        <option value="misc">Miscellaneous</option>
      </select>
    </div>

  </div>

  <div class="entire-term">
    <div class="terms-top">
      By accessing this CB2 INSIGHTS web site ("Site") you agree to be bound by the following terms (“User Terms”).
      This
      Site is operated by CB2 INSIGHTS (“CB2 INSIGHTS”). “You” and “your” refer to users of the Site. The Site is the
      property of CB2 INSIGHTS and its licensors. IF YOU DO NOT AGREE TO THESE USER TERMS, YOU MAY NOT USE THE SITE.
      CB2
      INSIGHTS reserves the right, at its sole discretion to change, add or remove portions of these User Terms, at any
      time. It is your responsibility to check these User Terms for changes. Your continued use of the Site following
      the
      posting of changes will mean that you accept and agree to the changes. Providing that you comply with these User
      Terms, CB2 INSIGHTS grants you a personal, non-exclusive, non-transferable, limited permission to enter and use
      this
      Site.
    </div>

    <div class="terms-numbered">
      <div class="term-subtitle" id="nwr">
        1. No Warranty or Representation
      </div>

      <div class="term-body">
        While CB2 INSIGHTS uses reasonable efforts to include accurate and up-to-date information on the Site, your use
        and
        browsing of the Site is at your risk. Nothing in the Site, including product or service information, shall add
        to
        or
        change any contract for products or services you may have with CB2 INSIGHTS, its suppliers or affiliates.
        Neither
        CB2
        INSIGHTS, its alliance partners, suppliers, affiliates nor any other party involved in creating, producing or
        delivering the Site is liable for any direct, indirect, incidental, special, consequential, punitive or other
        damages
        whatsoever including business interruption, loss of use, data, information, profits (regardless of the form of
        action, including but not limited to contract, negligence or other tortious act) arising out of or in
        connection
        with
        your access or use of the Site even if CB2 INSIGHTS has been advised of or foresees the possibility of any
        damages
        occurring.
      </div>

      <div class="term-body">
        Without limiting the foregoing, everything on the Site is provided to you "AS IS" WITHOUT REPRESENTATION,
        WARRANTY OR
        CONDITION OF ANY KIND, EITHER EXPRESS, IMPLIED, OR STATUTORY INCLUDING, BUT NOT LIMITED TO, IMPLIED
        REPRESENTATIONS,
        WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS OR SUITABILITY FOR A PARTICULAR PURPOSE, ACCURACY,
        TIMLINESS,
        RELIABILITY, TRUTHFULNESS OR COMPLETENESS OF INFORMATION, DURABILITY, TITLE, NON-INFRINGEMENT OF INTELLECTUAL
        PROPERTY RIGHTS OR INTER-OPERABILITY OF PRODUCTS OR SERVICES. Changes or updates to the content of this Site
        may
        occur without notice.
      </div>
    </div>


    <div class="terms-numbered">
      <div class="term-subtitle" id="uoi">
        2. Use of Information
      </div>
      <div class="term-body">
        The information on this Site is for informational purposes only. You agree that you will use the Site and any
        Content
        found on the Site solely for your personal, lawful purposes and that you shall not use any information
        contained
        in
        this Site or the links to this Site in any claims, proceedings, suits or actions against CB2 INSIGHTS, its
        suppliers
        or affiliates.
      </div>

      <div class="term-body">
        You may not:
      </div>

      <div class="term-body">
        (a) post, upload, publish, display, encode, reproduce, transmit or otherwise distribute and/or disseminate
        information or material on the Site: constituting or encouraging conduct that would constitute a criminal
        offence
        or
        give rise to civil liability; (ii) which is protected by copyright, or other intellectual property right or
        derivative works thereof, without obtaining permission of the rights holder; (iii) promoting racism, bigotry,
        hatred
        or physical harm of any kind against any group or individual, could be harmful to minors, or harasses or
        advocates
        harassment of another person; (iv) which solicits passwords, personal information, funds, goods and/or services
        or
        otherwise solicits information for commercial or unlawful purposes (v) that contains advertising;
      </div>

      <div class="term-body">
        (b) engage in any conduct that impersonates any person, licensed professional, business or entity, including
        CB2
        INSIGHTS and our employees and agents;
      </div>

      <div class="term-body">
        (c) otherwise use this Site in a way that is contrary to law or which could adversely impact use of the Site or
        the
        Internet by other users including the posting or transmitting of other information or software containing
        viruses
        or
        other disruptive components. CB2 INSIGHTS reserves the right (but not the obligation) at our sole discretion to
        refuse or delete any User Content and/or to suspend or terminate your access to the Site without notice upon a
        violation of attempted violation of these User Terms or for any other reason.
      </div>
    </div>

    <div class="terms-numbered">
      <div class="term-subtitle" id="links">
        3. Links
      </div>
      This Site may contain links to other web sites that are not under the control of CB2 INSIGHTS. CB2 INSIGHTS is
      not
      responsible for and makes no representations or warranties concerning the contents of any linked site, any
      information collection, use or disclosure practices through a linked site or any link contained in a linked site
      (collectively the “Linked Sites”). It is your responsibility to verify any information contained within the
      Linked
      Sites before relying on it. Also, the information contained in the Linked Sites may be changed or updated at any
      time
      without notice. CB2 INSIGHTS provides links to you only as a convenience and the inclusion of any link does not
      imply
      endorsement, investigation or verification by CB2 INSIGHTS of the Linked Site. Your use of Linked Sites is at
      your
      own risk and may be subject to terms and conditions contained in the Linked Sites, which you should locate and
      review.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="content">
        4. Content
      </div>
      <div class="term-body">
        All text, comments, messages information, data, graphics, interfaces, articles, photographs, images,
        illustrations,
        artwork, software, trademarks, logos, sounds, music, video and code, including but not limited to the design,
        structure, selection, co-ordination, expression, “look and feel” and arrangement of the foregoing, (together
        “Content”) on the Site is proprietary and is owned, controlled or licensed by or to CB2 INSIGHTS, and is
        protected by
        all applicable laws and rights (including but not limited to) trade mark and copyright laws, various other
        intellectual property rights and laws and unfair competition laws.
      </div>

      <div class="term-body">
        Except as permitted by these User Terms or otherwise by Canadian laws, no part of the Site and no Content may
        be
        reproduced, transmitted, copied, published, republished, mirrored, uploaded, posted, displayed, encoded,
        translated,
        transmitted or distributed in any form or by any means or stored in any retrieval system of any nature in any
        way
        without CB2 INSIGHTS’ consent.
      </div>

      <div class="term-body">
        You may use information on CB2 INSIGHTS products and services from the Site provided that: you do not remove
        any
        proprietary notices, (ii) such is use is for personal, non-commercial purposes, (iii) you do not share or make
        accessible such information on any networked computer or broadcast of any sort, (iv) you make no modification
        to
        such
        information and (v) you do not make any claims, representations or warranties with respect to such information.
      </div>
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="uc">
        5. User Content
      </div>
      <div class="term-body">
        By posting or uploading to the Site any text, comments, messages, information, data, graphics, articles,
        photographs,
        images, illustrations, artwork, software, trademarks, logos, sounds, music, video, code or any other form of
        content
        or information (collectively "User Content"), you warrant that you own all rights and/or have obtained all
        third
        party consents and/or waivers and/or permissions and/or licenses (hereafter “clearances”) with respect to your
        User
        Content and that neither you nor any third party will object to the use of your User Content by CB2 INSIGHTS in
        any
        manner; (ii) consent to your name, address and/or e-mail address appearing as the contributor of any User
        Content
        that you may post, share or otherwise associate with the Site as applicable, and to the disclosure and/or
        display
        of
        such information and any other information which appears in or is associated with your User Content; (iii)
        acknowledge and agree that CB2 INSIGHTS is not responsible for any loss, damage, or corruption that may occur
        to
        your
        User Content or any content that you may claim to be yours; and (iv) acknowledge and agree that any User
        Content
        that
        you provide for display on the Site will be considered non-confidential.
      </div>

      <div class="term-body">
        CB2 INSIGHTS may edit or remove any or all User Content whether or not it is in violation of the provisions of
        these
        User Terms. CB2 INSIGHTS is not responsible for User Content in any way. You hereby grant to CB2 INSIGHTS a
        worldwide, royalty-free, perpetual, irrevocable, non-exclusive right and licence to use, reproduce, modify,
        adapt,
        publish, translate, distribute and sub-licence any and all material or information submitted by you to CB2
        INSIGHTS
        and/or to incorporate it in other works regardless of form, medium or technology and you waive any and all
        moral
        rights in the foregoing in favor of CB2 INSIGHTS.
      </div>

      <div class="term-body">
        If you post User Content to any part of the Site, you understand and agree that anyone with access to the Site
        will
        be able to access, use and/or disclose any information that you include in any such content (including, without
        limitation, any personal information such as your name, e-mail address, etc.). If you do not want the public to
        be
        able to access your User Content, you should choose not to leave User Content on the Site. You understand and
        agree
        that CB2 INSIGHTS shall not be liable for any access to, use of or disclosure of any information you include in
        any
        such User Content.
      </div>
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="monitoring">
        6. Monitoring
      </div>
      CB2 INSIGHTS is under no obligation to monitor the Site and assumes no responsibility or liability should any
      content
      on the Site be modified or altered in any way without CB2 INSIGHTS's consent. However, you agree that CB2
      INSIGHTS
      has the right to, without notice or liability, monitor use of the Site and monitor, review and retain such
      content,
      material or information; and/or (ii) disclose to third parties any information or any content, material or
      information associated with the Site by or about you or your use of the Site if CB2 INSIGHTS believes that such
      activity is necessary to provide access to the Site, ensure adherence to or enforce these User Terms or other CB2
      INSIGHTS user terms, policies or guidelines, comply with any laws or regulations, respond to any allegation of
      illegal or unlawful conduct or omission or claimed violation of third party rights, or protect itself or others.
      CB2
      INSIGHTS reserves the right in its sole discretion to issue any response it considers appropriate if CB2 INSIGHTS
      becomes aware of any inappropriate use of the Site, including without limitation uses that may constitute
      infringement of intellectual property rights.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="pd">
        7. Product Descriptions
      </div>
      CB2 INSIGHTS attempts to be as accurate as possible. However, CB2 INSIGHTS does not warrant that product
      descriptions
      or other content on this Site is accurate, complete, reliable, current or error-free. If a product offered by CB2
      INSIGHTS is not as described, your sole remedy is to return it in accordance with the Return Policy posted on
      this
      Site or any other applicable return policy. Price and availability information is subject to change without
      notice.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="sp">
        8. Site Policies
      </div>
      You are responsible for maintaining the confidentiality of any CB2 INSIGHTS account that you may hold, including
      all
      login usernames and passwords that you may use to access any part of the Site. You are similarly responsible for
      all
      uses of your CB2 INSIGHTS account through the Site whether or not such uses are actually authorized by you.
      Please
      also review our other policies such as Security, Copyright, Privacy, Shipping and Delivery, Acceptable Use Policy
      and
      Return Policy posted on the Site. These policies also govern your visit to this Site and are incorporated into
      and
      considered part of these User Terms.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="consent">
        9. Consent
      </div>
      You acknowledge that you have read the CB2 INSIGHTS Privacy Policy (as it may be updated from time to time) (the
      "CB2
      INSIGHTS Privacy Policy") and hereby consent to the collection, use and disclosure by CB2 INSIGHTS and its agents
      of
      your personal information (whether previously collected or to be collected) for the purposes identified in the
      CB2
      INSIGHTS Privacy Policy. CB2 INSIGHTS’ use of customer information is also subject to applicable terms and
      conditions
      including those contained in CB2 INSIGHTS’ General Terms of Service (as amended from time to time), copies of
      which
      are available at www.CB2INSIGHTS.com.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="virus">
        10. Virus
      </div>
      CB2 INSIGHTS assumes no responsibility and shall not be liable for any damages by malicious programs including
      viruses, worms or other forms of contamination or activity that may infect your computer equipment or other
      property
      or any other damage to the same on account of your access to, use of or browsing in the Site or your downloading
      of
      any materials, data, text or images from the Site.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="roi">
        11. Right of Indemnification
      </div>
      You agree to defend, indemnify and hold CB2 INSIGHTS, its suppliers, alliance partners, affiliates and related
      companies harmless from and against any and all claims, liabilities, costs and expenses, including reasonable
      legal
      fees related to any violation of these User Terms by you, or in connection with your use of the Site or with the
      placement or transmission of any message or information on the Site by you.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="lol">
        12. Limitation of Liability
      </div>
      <div class="term-body">
        Under no circumstances, including but not limited to one or more of the following: negligence, gross
        negligence,
        negligent misrepresentation or fundamental breach; shall CB2 INSIGHTS, its alliance partners, suppliers,
        affiliates
        and each of their respective directors, officers, employees, consultants and agents be liable for any direct,
        indirect, incidental, special or consequential damages or any loss that results directly or indirectly from the
        use
        or the inability to use any content or information on the Site or the transmission of confidential or sensitive
        information over the internet.
      </div>

      <div class="term-body">
        These limitations apply regardless of whether the party liable or allegedly liable was advised, had reason to
        know or
        knew of the possibility of such damages. You acknowledge and agree that neither CB2 INSIGHTS nor its alliance
        partners, suppliers, affiliates, nor each of their respective directors, officers, employees, consultants and
        agents
        shall be liable for any defamatory, offensive, unlawful or illegal conduct of any user including you.
      </div>
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="nw">
        13. Non-Waiver
      </div>
      CB2 INSIGHTS's failure or delay in insisting upon or enforce strict performance of any provision of these User
      Terms
      shall not be construed as a waiver of any provision or rights.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="gl">
        14. Governing Laws
      </div>
      By visiting the Site, you agree that these User Terms shall be governed by and construed in accordance with the
      laws
      of the province of Ontario and the federal laws of Canada applicable therein and you agree to be bound by the
      laws
      of
      these jurisdictions.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="ns">
        15. No Solicitation
      </div>
      The Site and the information contained herein does not constitute an offer or a solicitation of an offer for the
      purchase or sale of any securities.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="territory">
        16. Territory
      </div>
      The Site originates in Canada. CB2 INSIGHTS' products and services are offered in CB2 INSIGHTS' operating
      territory.
      Some products and services referred to on the Site may not be available in parts of CB2 INSIGHTS' operating
      territory
      or may not be compatible with party line services.
    </div>
    <div class="terms-numbered">
      <div class="term-subtitle" id="misc">
        17. Miscellaneous
      </div>
      These User Terms, including all other documents incorporated by reference herein, are binding and constitute an
      agreement between CB2 INSIGHTS and you with respect to your use of this Site. If any part of the User Terms is
      determined to be void, invalid or otherwise unenforceable by a court of competent jurisdiction, such
      determination
      shall not affect the remaining provisions hereof. The parties have required that these User Terms and all related
      documents be drawn up in English.
    </div>
  </div>

</div>