<div class="jumbotron story-jumbotron">
  <!--<div class="cube-small"></div>-->

  <div class="pre-header">
    Solutions for Every Stakeholder.
    <div class="white-line"></div>
  </div>

  <div class="header-text">
    <div class="ht2">Clinical & Data</div>
    <div class="ht1">Solutions</div>
  </div>

  <div class="see-lower d-flex justify-content-center align-items-center">
    <div class="arrow-within"></div>
  </div>
</div>

<div class="content-story">
  <div class="story-sec-1">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="title">The CB2<span class="green-span">&nbsp;Story</span></div>
        <div class="green-line"></div>
        <div class="summary">
        “If medical cannabis wants to play in the same sandbox as traditional pharmaceuticals, then it needs to start acting like a traditional medicine.”
        <br>
        Prad Sekar, CEO of CB2 Insights
        </div>

        <div class="the_story row">
          <div class="col-md-3">
            <img src="../assets/images/story/img-cb-2-story-1@3x.jpg" class="img-fluid">
          </div>
          <div class="col-md-9 the_story_container">
            <p class="the_story_title">Traditional Healthcare Protocol for Cannabis</p>
            <p class="the_story_content">In 2014, healthcare entrepreneurs Prad Sekar and Kash Qureshi were asked to help educate physicians across Canada on how best to prescribe medical cannabis to a rapidly growing patient population. At a time where social stigma, limited medical research and the overall complexity of prescribing cannabis as a medicine all converged, Sekar and Qureshi knew that they would have to bring traditional healthcare protocols to the cannabis industry before the cannabis industry could properly integrate with healthcare.</p>
          </div>
        </div>
        <div class="the_story row">
          <div class="col-md-3">
            <img src="../assets/images/story/img-cb-2-story-2@3x.jpg" class="img-fluid">
          </div>
          <div class="col-md-9 the_story_container">
            <p class="the_story_title">The Industry’s First CDS Tool</p>
            <p class="the_story_content">After developing the industry’s first Clinical Decision Support tool to help guide physicians when prescribing medical cannabis, the company gained traction in international markets which eventually led to the acquisition of a large cannabis evaluation center group in the US which has since grown to become the largest multi-state cannabis evaluation and education group in the country.</p>
          </div>
        </div>
        <div class="the_story row">
          <div class="col-md-3">
            <img src="../assets/images/story/img-cb-2-story-3@3x.jpg" class="img-fluid">       
          </div>
          <div class="col-md-9 the_story_container">
            <p class="the_story_title">The Largest Cannabis Patient Registry</p>
            <p class="the_story_content">Today, CB2 Insights is recognized as having the largest cannabis patient registry across 13 states in the US as well as
            growing international reach and has deployed the industry’s most comprehensive standardized data collection management
            tool, built to drive Real-World Evidence specific to the safety and efficacy of medical cannabis treatment.</p>
          </div>
        </div>
        <div class="the_story row">
          <div class="col-md-3">
            <img src="../assets/images/story/img-cb-2-story-4@3x.jpg" class="img-fluid">      
          </div>
          <div class="col-md-9 the_story_container">
            <p class="the_story_title">Unparalleled Cannabis Data</p>
            <p class="the_story_content">With millions of clinically-validated data points collected through our own clinic network, we can produce research and
            insights to objectively analyze medical cannabis trends and efficacy in a way that no other industry player can.</p>
          </div>
        </div>
        <div class="the_story d-flex flex-row justify-content-center align-content-center">
          <div class="col-md-12 the_story_container">
           <p class="the_story_title just_begun_text">And we’ve only just begun!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="story-sec-2">
    <div class="container">
      <div class="data-points d-flex justify-content-around" #dataPoints>
        <div class="dp1">
        <div class="jurisdictions">
          <div class="number" id="number"> {{this.patientsNumberOne}}</div>
          <div class="data-info">Jurisdictions Served
          </div>
        </div>
        <div class="encounters">
          <div class="number" countUp endVal="336k">{{this.patientsCounterTwo}}K</div>
          <div class="data-info">Patient Encounters</div>
        </div>
      </div>
      <div class="dp2">
        <div class="touchpoints">
          <div class="number" countUp endVal="28">{{this.patientsCounterThree}}</div>
          <div class="data-info">Evaluation Centers</div>
        </div>
        <div class="collected">
          <div class="number" countUp endVal="421M">{{this.patientsCounterFour}}M</div>
          <div class="data-info">Data Points Collected</div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="story-sec-3">
    <div class="container">
      <div class="title"><span class="green-span">How</span>&nbsp;we do it</div>
      <div class="green-line"></div>
      <div class="sub_title">CB2 Builds <span class="green_text">360&#730; View of a Patient's</span><br> <span class="green_text">Treatment Progress</span></div>
      <div class="summary_3_tiles_container d-flex flex-row flex-wrap">
        <div class="col-md-3 offset-md-1">
          <div class="summary_3_tile d-flex flex-column justify-content-center">
            <p>Clinical <br>Operations</p>
            <div class="ccd_logo_container d-flex flex-column justify-content-center">
              <img src="../assets/images/logos/ccd-logo-text@3x.jpg" class="img-fluid ccd_logo">
            </div>
          </div>
          <div class="summary_3_tile_footer">
            <p>450,000+ Patient Interactions To-Date</p>
          </div>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center right_arrow">
          <i class="fa fa-chevron-right"></i>
        </div>
        <div class="col-md-3">
          <div class="summary_3_tile d-flex flex-column justify-content-center ">
            <p>Proprietary <br>Technology</p>
            <div class="row">
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-5 offset-md-1 d-flex flex-column justify-content-center align-content-center sail_logo_container">
                <img src="../assets/images/logos/sail-logo-mobile3x.png" class="img-fluid sail_logo">
              </div>
              <div class="col-md-5 d-flex flex-column justify-content-center align-content-center tokein_logo_container">
                <img src="../assets/images/logos/group-9-copy@3x.png" class="img-fluid tokein_logo">
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="summary_3_tile_footer">
            <p>Standardized Data Collection From Evaluation To Purchase</p>
          </div>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center right_arrow">
          <i class="fa fa-chevron-right"></i>
        </div>
        <div class="col-md-3">
          <div class="summary_3_tile d-flex flex-column justify-content-center">
            <p>Data Insights</p>
            <div class="ccd_logo_container d-flex flex-column justify-content-center cb2_logo_container">
              <img src="../assets/images/logos/CB2-logo2x.png" class="img-fluid cb2_logo">
            </div>
          </div>
          <div class="summary_3_tile_footer">
            <p>Real-World Evidence To All Stakeholders</p>
          </div>
        </div>
      </div>

      <!-- Mobile Treatment Progress -->
      <div class="mobile_summary_3_tiles_container d-flex flex-row flex-wrap">
        <div class="col-md-12 ccd_container">
          <div class="summary_3_tile d-flex flex-column justify-content-center">
            <p class="highlight_description">Clinical <br>Operations</p>
            <div class="ccd_logo_container d-flex flex-column justify-content-center">
              <img src="../assets/images/logos/ccd-logo-text3x.png" class="img-fluid ccd_logo">
            </div>
          </div>
          <div class="summary_3_tile_footer">
            <p>300,000+ Patient Interactions To-Date</p>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-items-center down_arrow">
          <i class="fa fa-chevron-down"></i>
        </div>
        <div class="col-md-12 sail_tokein_container">
          <div class="summary_3_tile d-flex flex-column justify-content-center ">
            <p class="highlight_description">Proprietary <br>Technology</p>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-12 d-flex flex-column justify-content-center align-content-center sail_logo_container">
                <img src="../assets/images/logos/sail-logo-mobile3x.png" class="img-fluid sail_logo">
              </div>
              <div class="col-md-12 d-flex flex-column justify-content-center align-content-center tokein_logo_container">
                <img src="../assets/images/logos/group-9-copy@3x.png" class="img-fluid tokein_logo">
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="summary_3_tile_footer">
            <p>Coverage From Evaluation To Purchase</p>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-items-center down_arrow">
          <i class="fa fa-chevron-down"></i>
        </div>
        <div class="col-md-12 cb2_container">
          <div class="summary_3_tile d-flex flex-column justify-content-center">
            <p class="highlight_description">Data Insights</p>
            <div class="ccd_logo_container d-flex flex-column justify-content-center cb2_logo_container">
              <img src="../assets/images/logos/CB2-logo2x.png" class="img-fluid cb2_logo">
            </div>
          </div>
          <div class="summary_3_tile_footer">
            <p>Real-World Evidence To All Stakeholders</p>
          </div>
        </div>
      </div>

      <!-- <div class="image"></div> -->
      <div class="summary">By having complete control over the data we collect and how we collect it, we can guarantee the strength of our patient
      registries.</div>
    </div>
  </div>
  <div class="story-sec-4">
    <div class="container">
      <div class="title"><span class="green-span">Analytics</span>&nbsp;Engine</div>
      <div class="green-line"></div>
      <div class="summary">Our Analytics Engine collects data through controlled data inputs from our various brands
        and our business intelligence team creates actionable insights to users and other industry stakeholders.</div>
      <div class="image"></div>
    </div>
  </div>
  <!-- <div class="story-sec-5">
    <div class="container">
      <div class="title">Our<span class="green-span">&nbsp;Core Pillars</span></div>
        <div class="tile-section d-flex justify-content-start flex-wrap">
          <div *ngFor="let tile of tiles; let i = index;" class="t{{i + 1}} inner">
            <a href="{{tile.url}}" target="_blank"> 
              <div class="tile-title pad">{{tile.title}}</div>
              <div class="tile-body pad tb{{i}}">{{tile.summary}}</div>
              <div class="logo-wrapper-{{i + 1}} pad">
                <img src="{{tile.logo}}" class="core_pillars_logo_one" alt="logo">
              </div>
              <div class="tile-foot"></div>
            </a>
          </div>
        </div>
    </div>
  </div> -->
  <div class="story-sec-6">
    <div class="container">
      <div class="title">Who We<span class="green-span">&nbsp;Serve</span></div>
      <div class="green-line"></div>
      <div class="summary">CB2 Insights not only serves its core customer base but our data is leveraged by an extensive group of industry stakeholders</div>
      <div class="image">
        <img src="../assets/images/story/img-whoweserve@3x.png" class="desktop_image img-fluid">
        <img src="../assets/images/story/img-whoweserve-768-px@3x.png" class="tablet_image img-fluid">
        <img src="../assets/images/story/img-whoweserve-360-px@3x.png" class="mobile_image img-fluid">
      </div>
    </div>
  </div>
</div>


