@import '../splash/splash.component.scss';


.jumbotron.story-jumbotron::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.jumbotron {
  font-family: Metropolis-Light, sans-serif;
  height: 93vh;
  background: url('../../assets/headers/img-ourstory-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 70px;
  .pre-header {
    z-index: 1;
    margin-top: 200px; 
    position: absolute;
  }
  .header-text {
    width: 800px;
    z-index: 1;
    margin-top: 300px;
    position: absolute;
    .ht2 {
      margin-bottom: 0;
    }
  }
}

.header-text {
  text-transform: initial;
}

.green-line {
  margin-top: 0;
  margin-bottom: 18px;
  @media screen and (max-width: 1279px) {
    left: calc(50% - 28px);
  }
}

.story-sec-3 {
  background-color: #ffffff;
  .sub_title {
    text-align: left;
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    @media screen and (max-width: 1279px) {
      font-size: 25px;
    }
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
    .green_text {
      color: #98c93e;
    }
    .bold_text {
      font-weight: 600;
    }
  }
  @media screen and (max-width: 1279px) {
    .green-line {
      margin: 0 auto;
    }
  }
  .summary {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0px 50px 60px;
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 700px;
    }
    @media screen and (min-width: 576px) and (max-width: 767px) {
      width: 500px;
      padding: 0;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
      padding: 0;
    }
  }
  .summary_3_tiles_container {
    @media screen and (max-width: 991px){
      display: none !important;
    }
  }
  .summary_3_tile {
    border: 2px solid #98c93e;
    border-radius: 6px;
    min-height: 200px;
    img {
      padding: 0 0 50px 0;
    }
    .ccd_logo_container {
      img.ccd_logo {
        width: 160px;
        margin: 0 auto;
      }
    }
    .sail_logo_container {
      @media screen and (max-width: 767px) {
        width: 50%;
      }
      img.sail_logo {
        width: 100px;
        @media screen and (max-width: 767px) {
          width: 100px;
          margin: 0 auto;
        }
      }
    }
    .tokein_logo_container {
      @media screen and (max-width: 767px) {
        width: 50%;
      }
      img.tokein_logo {
        width: 30px;
        margin: 0 auto;
      }
    }
    .cb2_logo_container {
      img.cb2_logo {
        width: 150px;
        margin: 0 auto;
      }
    }
    p {
      text-align: center;
      font-family: Metropolis, Arial, Helvetica, sans-serif;
      margin: 40px 0 20px 0;
    }
    .row {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
    }
  }
  .summary_3_tile_footer {
    p {
      font-family: Metropolis, Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
      margin: 20px 0 0 0;
    }
    @media screen and (max-width: 767px) {
      margin: 0 0 20px 0;
    }
  }
  .right_arrow {
    height: 200px;
    i {
      color: #98c93e;
    }
    @media screen and (max-width: 767px) {
      margin: 0 0 20px 0;
    }
  }
  .mobile_summary_3_tiles_container {
    display: none !important;
    @media screen and (max-width: 991px){
      display: block !important;
    }
    .sail_tokein_container {    
      .sail_logo_container {
        img {
          width: 100px;
          margin: 20px auto;
        }
      }
      .tokein_logo_container {
        img {
          margin: 0 auto;
        }
      }
      p.highlight_description {
        margin: 40px 0 20px 0;
      }
    }
    .down_arrow {
      height: 60px;
      margin: 0 0 20px 0;
      i {
        color: #98c93e;
      }
    }
  }
}

// .t2.inner {
//   margin-left: 45px;
//   margin-right: 45px;
// }

@media (min-width: 100px) {
  .title {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 3.5;
    letter-spacing: 0.4px;
    color: #282827;
    text-align: center;
    text-transform: uppercase;
  }

  .green-span {
    margin-left: 0;
  }

  .summary {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #575757;
    padding-bottom: 28px;
  }

  .the_story {
    width: 100%;
    min-height: 60px;
    margin: 40px 0;
    .the_story_container {
      font-family: Metropolis, Arial, Helvetica, sans-serif;
      color: #575757;
      line-height: 1.75;
      p.the_story_title { 
        font-size: 24px;
        @media screen and (max-width: 1279px) {
          font-size: 22px;
        }
      }
      p.the_story_content {
        font-size: 18px; 
        @media screen and (max-width: 1279px) {
          font-size: 16px;
        }
      }
      p.just_begun_text {
        padding-left: 25%;
        @media screen and (max-width: 767px) {
          padding-left: 0;  
        }
      }
    }
  }

  ////////// SECTION 1 //////////
  .story-sec-1 {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 50px 0 0 0;
    // .green-line {
    //   margin: 20px auto;
    // }
    img {
      margin: 0 0 30px 0;
    }
    .container {
      margin: 0;
    }
  }

  .story-sec {

    ////////// END //////////

    ////////// SECTION 2 //////////
    &-2 {
      background-color: rgba(40, 40, 39, 0.9);
      width: 100%;

      .data-points {
        padding-top: 14px;
        padding-bottom: 39px;
      }

      .data-points>div {
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .number {
        font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 1.46;
        color: #98c93e;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 26px;
      }

      .data-info {
        font-family: Metropolis-Light, sans-serif;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
        @media screen and (max-width: 575px) {
          width: 160px;
        }
      }
    }

    &-3 {
      height: auto;
      padding: 50px 0;
    }

    ////////// SECTION 4 //////////
    &-4 {
      background-color: #f4f4f4;
      height: auto;
      padding: 50px 0;
    }

    ////////// END //////////

    ////////// SECTION 5 //////////
    &-5 {
      background-color: #ffffff;
      height: auto;
      padding: 50px 0;

      .tile-section {
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }

    &-6 {
      background-color: #ffffff;
      min-height: auto;
      padding: 50px 0;
      .title {
        text-align: left;
        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
      .summary {
        text-align: left;
        width: 830px;
        @media screen and (max-width: 1279px) {
          width: 469px;
        }
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
      .image {
        margin: 20px 0 0 0;
        img {
          margin: 0 auto;
        }
        img.desktop_image {
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        img.tablet_image {
          display: none;
          @media screen and (max-width: 767px) {
            display: block;
          }
          @media screen and (max-width: 360px) {
            display: none;
          }
        }
        img.mobile_image {
          display: none;
          @media screen and (max-width: 360px) {
            display: block;
          }
        }
      }
    }

    ////////// END //////////
  }
}

@media (max-width: 767px) {
  .green-line {
    margin: 0 auto;
  }
  .summary {
    padding: 20px 0 0 0;
  }
  .t2.inner {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 768px) {

  .title {
    font-size: 25px;
    line-height: 2.8;
    letter-spacing: 0.5px;
  }

  .summary {
    line-height: 1.88;
  }

  .story-sec {
    &-4,
    &-5 {
      .title,
      .summary {
        text-align: left;
      }
      .green-line {
        margin-left: 0;
      }
    }
    &-4 {
      .summary {
        width: 469px;
      }
    }

    ////////// END //////////

    ////////// SECTION 1 //////////
    &-1 {
      .summary {
        width: 538px;
        margin: 0 auto;
      }
    }

    ////////// END //////////

    ////////// SECTION 2 //////////
    &-2 {
      .data-points {
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    ////////// END //////////

    ////////// SECTION 3 //////////
    &-3 {
      .image {
        display: block;
        background-image: url('../../assets/images/story/untitled-12-copy-2@2x.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 145.1px
      }
    }

    ////////// END //////////

    ////////// SECTION 4 //////////
    &-4 {
      .image {
        display: block;
        background-image: url('../../assets/images/story/untitled-1-copy-2@2x.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 262.2px;
        margin-top: 30px;
      }

      .summary {
        padding-bottom: initial;
      }

      padding-bottom: 50px;
    }

    ////////// END //////////

    ////////// SECTION 5 //////////
    &-5 {


      .title {
        margin-bottom: 36px;
      }

    }

    ////////// END //////////
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .tile-section {
    .t1.inner {
      margin-right: 50px;
    }
    .t2.inner {
      margin-left: 0;
      margin-right: 0;
    }
    .inner {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media (max-width: 699px) {
  .jumbotron {
    .header-text {
      margin-top: 170px;
    }
  }
}

@media (min-width: 700px) and (max-width: 1279px) {
  .jumbotron {
    .header-text {
      margin-top: 195px;
    }
  }
}

@media (min-width: 1280px) {
  .summary {
    line-height: 1.6;
    font-size: 25px;
  }

  .title {
    font-size: 30px;
    font-weight: 500;
    line-height: 2.33;
    letter-spacing: 1px;
    margin-top: 0;
  }

  .story-sec {

    ////////// SECTION 1 //////////
    &-1 {
      .summary {
        width: 757px;
        padding: 0;
      }
    }

    ////////// END //////////

    ////////// SECTION 2 //////////
    &-2 {
      .number {
        font-size: 35px;
      }

      .data-info {
        font-family: Metropolis-Light, sans-serif;
        font-size: 20px;
        line-height: 2;
      }

      .dp1,
      .dp2 {
        width: 50vw;
        flex-direction: row !important;
        justify-content: space-around !important;
      }
    }

    ////////// END //////////

    ////////// SECTION 3 //////////
    &-3 {
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;
      align-items: center;
      min-height: 650px;
      margin: 0;

      .container {
        width: 100%;

        // .summary {
        //   width: 729px;
        //   padding: 0;
        // }
        .title {
          text-align: left;
        }
        .image {
          height: 284.2px;
          padding-top: 60px;
        }
      }
    }

    ////////// END //////////

    ////////// SECTION 4 //////////
    &-4 {
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;
      min-height: 800px;
      align-items: center;
      padding: 50px 0;

      .container {
        width: 100%;

        .summary {
          width: 830px;
        }

        .image {
          height: 430.2px;
          padding-top: 20px;
        }
      }
    }
    ////////// END //////////

  }
}