<div class="jumbo-fin-data">
  Come work<span class="green">&nbsp;with us!</span>
</div>
  
  <div class="content">
    <div class="container">
      <div class="search-job-listings">
        <div class="team form-group">
          <label for="team">which team?</label>
          <div class="teamFilters">
            <div class="selectControlDiv"></div> 
            <div class="team_select_field" (click)="showSelectOptions($event)">
              <p id="team_select_field">All</p>
            </div>
            <ul class="team">
              <li data-value="All" (click)="selectTeam($event)">All</li>
              <li id="{{team.id}}" *ngFor="let team of team; let i = index;" [innerHtml]="team.name" attr.data-value={{team.name}} (click)="selectTeam($event)"></li>
            </ul>
          </div>
        </div>

        <div class="city form-group">
          <label for="city">what city</label>
          <div class="cityFilters">
            <div class="selectControlDiv"></div>  
            <div class="city_select_field" (change)="optionChangeTeam($event)">
              <p>Missisauga</p>
            </div>
            <ul class="city">
              <li data-value="any" (click)="selectCity($event)">Any</li>
              <li data-value="massachusetts">Massachusetts</li>
              <li data-value="missisauga">Missisauga</li>
            </ul>
          </div>
        </div>

        <button class="btnUp" (click)="filterOption($event)">Find jobs</button>
      </div>  

      <div *ngFor="let info of team; let i = index;" class="teams" id="{{info.name}}">
        <div class="job-list">
          <ng-container *ngIf="show === true">
            <div class="info-faq" (click)="accordianClicked($event)">
              <div class="section1-table">
                <div id="{{info.id}}" class="accordianCollapsedTitle">
                  <div id="{{info.id}}" class="jobTeam" [innerHtml]="info.name"></div>
                  <div id="{{info.id}}" class="sec2 numberOfJobs">{{info.count}} Jobs</div>
                  <div [ngClass]="{'rotate': info.show}" class="arrow"><img id="{{i+1}}" src="../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow icon"></div>
                </div>
              </div>
              <div *ngFor="let job of jobPostings; let i = index;" [ngClass]="{'accordianCollapsed': !info.show, 'accordianFull': info.show}">
                <ng-container *ngIf="info.id === job.categories">
                  <div class="desc-container" id="{{job.categories}}">
                    <a (click)="directToDetails(job.id)">
                      <div class="desc col-md-8 col-sm-12" [innerHtml]="job.content.rendered"></div>
                      <div class="location col-md-3 offset-md-2 col-sm-12"><img src="../../../assets/images/markericon/map-marker.svg">
                        {{job.meta_box.job_location}}
                      </div>
                    </a>
                  </div>
                </ng-container>
              </div>
              <div class="underline"></div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
</div>


















