/*@import '../../sec-fillings/sec-fillings.component.scss';*/
@import '../../shared/extend.scss';

.jumbo-fin-data {
  font-family: Metropolis-Light, sans-serif;
  text-transform: capitalize;
  width: 100%;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../../assets/headers/9-jobs.jpg');
  background-color: rgba(40, 40, 39, 0.85);
  background-repeat: no-repeat;
  background-position: top;
  height: 243px;
  min-height: 200px;
  margin: 70px 0 0 0;
  .green {
    color: #98c93e;
  }
}

.jumbo-jobs {
  /*@extend %jumbotron-standard;*/
  text-transform: initial;
}

.content {
    margin: 0 0 100px 0;
}

.search-job-listings {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px 0 0 0;
  .teamFilters, .cityFilters {
    border: 0;
  }
  select {
    font-family: Metropolis, sans-serif;   
    border-radius: 0;
    background: white;
    outline: none;
    -webkit-appearance: none;
    padding: 0 20px;
    border: 2px solid #98c732;
    color: #afafaf;
    opacity: 1;
    height: 70px;
    text-transform: uppercase;
  }
  label {
    margin: 10px 0 0 0;
  }
  button {
    height: 70px;
    padding: 0;
    outline: none;
  }
}
.team_select_field, .city_select_field {
  font-family: Metropolis, sans-serif;
  border-radius: 0;
  background: white;
  outline: none;
  -webkit-appearance: none;
  border: 2px solid #98c732;
  color: #afafaf;
  opacity: 1;
  height: 70px;
  text-transform: uppercase;
  z-index: 1;
  width: 100%;
  position: absolute;
  margin: -1px 0 0 0;
  &:hover {
    cursor: pointer;
  }
  p {
    padding: 20px;
    height: 100%;
    width: 100%;
  }
}
.cityFilters,
.teamFilters {
  @extend %tandpfilters;
  ul {
    display: none;
    z-index: 100;
    position: absolute;
    top: 90px;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
    border-bottom: 6px solid #98c93e;
    li {
      list-style: none;
      text-transform: uppercase;
      font-family: Metropolis-Medium, sans-serif;
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.27;
      letter-spacing: normal;
      color: #575757;
      border-bottom: 1px solid #7f7f7f;
      width: 100%;
      padding: 20px;
      margin: 0 auto;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: #f4f4f4;
        cursor: pointer;
      }
    }
  }
}

.teams {
  width: 95%;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
}

.selectControl {
  top: 0;
  left: 0;
  height: 52px;
  display: block;
  opacity: 0;
}

.section1-table {
  .accordianCollapsedTitle {
    text-transform: capitalize;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    justify-content: space-between;
    .jobTeam {
      width: 500px;
      line-height: 24px;
      display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;
      align-items: center;
    }
    .arrow {
      img {
        width: 16px;
        height: 9px;
      }
    }      
  }
  div {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    line-height: 40px;
  }
  .filling {
    width: 200px;
  }
}

.rotate-arrow {
  transform: rotate(270deg);
}

.accordianFull {
  max-height: auto;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 21px;
  margin-bottom: 18px;
}

.job-list {
  &:hover {
    cursor: pointer;
  }
  a {
    font-family: Metropolis, sans-serif;
    color: #575757;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    padding: 10px 30px 20px 20px;
    &:hover {
      cursor: pointer;
      background-color: #f4f4f4; 
    }
  }
}

.accordianFull {
  .desc-container {
    height: 170px;
    border-bottom: 1px solid #f4f4f4;
    // &:last-child {
    //   border-bottom: 0px; 
    // }
    a {
      .desc {
        height: 112px;
        padding: 0;
        p {
        font-family: Metropolis, sans-serif;
        overflow: hidden;
        height: 130px;
        }
      }
      hr {
        margin: 20px 0 0 0;
      }
      .location {
        font-family: Metropolis, sans-serif;
        img {
          width: 10px;
          margin: 0 5px 4px 0;
        }
      }
    }
  }
}

.job-list[_ngcontent-c2] a[_ngcontent-c2]:hover > div p strong {
    color: red !important;
}

@media (min-width: 200px) {

  ////////// MARGINS END /////////

  .cityFilters,
  .teamFilters {
    width: 304px;
  }

  .cityFilters,
  .teamFilters {
    margin-top: 24px;
    position: relative;
  }

  label {
    font-family: Metropolis-Bold, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #575757;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .filters {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 70px;
  }

  .selectControlDiv {
    margin-left: 22px;
    font-family: Metropolis-Bold, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #afafaf;
    text-transform: uppercase;
  }

  ////////// CATEGORY SECTION //////////

  .categories {
    width: 320px;
    margin: 0 auto;
  }

  .job-title {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 2.22;
    color: #575757;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .job-count {
    display: none;
  }

  .arr-img {
    width: 12px;
    height: 7px;
  }

  .job-content {
    font-family: Metropolis-Light, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.87;
    color: #575757;
  }

  .hr {
    width: 100%;
    height: 3.5px;
    background-color: #575757;
    margin-top: 13px;
  }

  .content-title {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 7px;
  }

  .content-location {
    margin-bottom: 13px;
  }

  .content-summary {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    justify-content: space-between;
  }

  .summary-body {
    width: 251px;
  }

  ////////// CATEGORY SECTION END //////////
}

@media (min-width: 300px) {
	.section1-table {
		.sec2.numberOfJobs {
		    width: 1000px;
		    text-align: right;
		    font-size: 15px;
		    font-weight: normal;
		    color: #575757;
        margin: 2px 20px 0 0;
		}
	}
}

@media (max-width: 767px) {
  .jumbo-fin-data {
    font-size: 25px;
  }
  .search-job-listings { 
    .form-group {
      width: 100%;
    }
    .teamFilters, .cityFilters {
      width: 100%;
      margin-bottom: 0;
    }
    select {
      width: 100%;
      height: 41px;
    }
    button {
      width: 144px;
      height: 56px;
      margin: 15px 0 0 0;
    }
  } 
  .location {
    top: 10px;
    position: absolute;
    display: block;
    z-index: 2234758639;
    left: 0;
    width: 100%;
    text-align: left;
  }
  .job-list {
    .desc-container {
      height: 220px;
      .desc {   
        width: 100%;
        height: 180px;
        margin: 30px 0 0 0;
      }
    }
  }
	.job-list {
    a {
      position: relative;
      display: block;
    }
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbo-fin-data {
    font-size: 30px;
  }
  .search-job-listings { 
    .form-group {
      width: 100%;
    }
    .team, .city {
      width: 45%;
      margin: 20px 30px 0 0;
    }
    .teamFilters, .cityFilters {
      padding-left: 0;
      padding-right: 0;
      margin: 20px 0 0 0;
    }
    button {
      margin: 40px 0 0 0;
      height: 56px;
    }
    .job-list {
      .desc-container {
        .desc {
          height: 150px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .search-job-listings { 
    .form-group {
      width: 100%;
    }
    .team, .city {
      width: 50%;
      margin: 20px 0px 0 0;
    }
    .teamFilters, .cityFilters {
      padding-left: 0;
      padding-right: 0;
      margin: 20px 0 0 0;
    }
     button {
      margin: 40px 0 0 0;
    }
  }
}

@media (max-width: 1199px){
  .search-job-listings { 
    margin: 0 0 100px 0;
  }
}

@media (min-width: 768px) {

  ////////// MARGINS END /////////

  .filters {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories {
    width: 100%;
  }

  .summary-body {
    width: 365px;
    font-size: 16px;
  }

  .job-count {
    display: block;
    font-size: 16px;
    font-family: Metropolis-Light, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #575757;
  }

  .jobs-right {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .jobs-right-2 {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;
  }

  .arrow {
    margin-left: 30px;
  }

  .job-title {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 70px;
  }

  .hr {
    margin-top: 26px;
  }

  .content-title {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media (min-width: 1000px) {

  .cityFilters,
  .teamFilters {
    width: 409px;
  }

  ////////// MARGINS END /////////
}
@media (max-width: 1199px) {
  .search-job-listings {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {

  .cityFilters,
  .teamFilters {
    height: 72px;
  }

  button {
    margin-bottom: 10px;
  }

  .job-content {
    font-size: 18px;
    line-height: 1.56;
  }

  .job-title {
    margin-bottom: 96px;
    font-size: 28px;
    line-height: 1.43;
  }

  .current-location {
    font-size: 20px;
    line-height: 1.4;
  }

  .content-title {
    font-size: 24px;
    line-height: 1.33;
  }
}