<div class="jumbotron jumbo-stock-data">
  stock<span class="green-span">&nbsp;info</span>
</div>

<div class="data-container">
  <div class="stock_data">
    <div class="categories ca_stock">
      <div class="symbol-section">
        <div class="sym">CSE: <span class="green-span">{{shortName}}</span></div>
        <div class="date">{{date}} <span class="green-span"> • </span> {{date2}} EST</div>
      </div>
      <div class="group1 category">
        <div class="price">
          <span class="above">C${{currentPrice}}</span>
          <div class="bar"></div>
          <span class="below">Price</span>
        </div>
        <div class="change">
          <span class="above">
            <img id="arrow-direction-change" class="stock-arrow" src="{{arrowType}}" alt="stock indicator arrow">{{change}}
            <!--({{changePercent}}%)--></span>
          <div class="bar"></div>
          <span class="below">Change</span>
        </div>
      </div>
    
      <div class="group2 category">
        <div class="volume">
          <span class="above">{{volume}}{{volumeValue}}</span>
          <div class="bar"></div>
          <span class="below">Volume</span>
        </div>
        <div class="market-cap">
          <span class="above">${{marketCap}}{{marketValue}}</span>
          <div class="bar"></div>
          <span class="below">market cap</span>
        </div>
      </div>
      <div class="group3 category">
        <div class="day-range">
          <span class="above">{{dayRangeLow}} - {{dayRangeHigh}}</span>
          <div class="bar"></div>
          <span class="below">day range</span>
        </div>
        <div class="week-range">
          <span class="above">{{weekRangeLow}} - {{weekRangeHigh}}</span>
          <div class="bar x"></div>
          <span class="below">52 Wk Range</span>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://www.thecse.com/en/listings/technology/cb2-insights-inc" target="_blank">
          <button class="stock-chart btnUp">ca stock chart</button>
        </a>
      </div>
    </div>



    <div class="categories us_stock">
      <div class="symbol-section">
        <div class="sym">US: <span class="green-span">{{usShortName}}</span></div>
        <div class="date">{{date}} <span class="green-span"> • </span> {{date2}} EST</div>
      </div>
      <div class="group1 category">
        <div class="price">
          <span class="above">${{usCurrentPrice}}USD</span>
          <div class="bar"></div>
          <span class="below">Price</span>
        </div>
        <div class="change">
          <span class="above">
            <img id="arrow-direction-change" class="stock-arrow" src="{{arrowType}}" alt="stock indicator arrow">{{usChange}}
            <!--({{changePercent}}%)--></span>
          <div class="bar"></div>
          <span class="below">Change</span>
        </div>
      </div>
      
      <div class="group2 category">
        <div class="volume">
          <span class="above">{{usVolume}}{{usVolumeValue}}</span>
          <div class="bar"></div>
          <span class="below">Volume</span>
        </div>
        <div class="market-cap">
          <span class="above">${{usMarketCap}}{{usMarketValue}}</span>
          <div class="bar"></div>
          <span class="below">market cap</span>
        </div>
      </div>
      <div class="group3 category">
        <div class="day-range">
          <span class="above">{{usDayRangeLow}} - {{usDayRangeHigh}}</span>
          <div class="bar"></div>
          <span class="below">day range</span>
        </div>
        <div class="week-range">
          <span class="above">{{usWeekRangeLow}} - {{usWeekRangeHigh}}</span>
          <div class="bar x"></div>
          <span class="below">52 Wk Range</span>
        </div>
      </div>
      <div class="btn-container">
        <a href="https://www.bloomberg.com/quote/CBIIF:US" target="_blank">
          <button class="stock-chart btnUp">us stock chart</button>
        </a>
      </div>
    </div>
  </div>
</div>