@import '../shared/extend.scss';

.jumbotron.jumbo-stock-data {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/3-stock.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 200px;
  margin: 70px 0 0 0;
}

.jumbo-stock-data {
  @extend %jumbotron-standard;
}

.categories {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
}

.symbol-section {
  margin-top: 49px;
  object-fit: contain;
  font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #282827;

  .date {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
}

.stock-arrow {
  margin-right: 12px;
  width: 16px;
  height: 9px;
}

.sym {
  margin-bottom: 12px;
}

.stock_data {
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
}

.category {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  color: #575757;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  div {
    margin-bottom: 35px;

    .bar {
      @extend %greenbar;
      margin: 9px 0;
    }
  }

  .above {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  }

  .below {
    text-transform: capitalize;
    font-family: Metropolis-Medium, sans-serif;
  }
}

@media screen and (max-width: 1280px) {
  .category {
    div {
      width: auto !important;
    }
  }
  .categories {
    width: 50%;
    flex-direction: column;
  }
}

.us_stock {
  border-left: 2px solid #c3c3c3;
}


.stock-chart {
  @extend %button-style;
  background-color: #98c93e;
  &:hover{
    cursor: pointer; 
  }
}

.data-container {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

////////// MEDIA //////////

@media (min-width: 360px) {

  .data-container {
    margin-bottom: 42px;
  }

  .categories {
    flex-direction: column;

    .above {
      font-size: 18px;
    }

    .below {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .symbol-section {
    margin-bottom: 27px;
    font-size: 20px;

    .date {
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  .categories {
    flex-direction: column;
    justify-content: center;
  }

  .category {
    div {
      text-align: left;
      width: 200px;

      .bar {
        margin-top: 15px;
        margin-bottom: 18px;
      }

      .above {
        font-size: 25px;
      }

      .below {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .stock_data {
    margin: 0;
    flex-direction: column;
    .categories {
      width: 100%;
    }
    .ca_stock {
      padding: 0 0 40px 0;
      background-color: #f4f4f4;
    }
  }
}

@media (min-width: 1280px) {
  .categories {
    flex-direction: column;

    .category {
      flex-direction: row;
      justify-content: space-evenly;

      >div {
        margin-bottom: 95px;
        margin-left: 100px;
        /*width: 300px;*/
      }

      div {
        .above {
          font-size: 28px;
        }
  
        .below {
          font-size: 24px;
        }
      }
    }
  }

  .data-container {
      margin-bottom: 120px;
  }

  .symbol-section {
    margin-bottom: 90px;
    font-size: 30px;

    .date {
      font-size: 20px;
    }
  }

}