/*@import '../shared/extend.scss';*/


.jumbotron.financial-jumbotron {
  font-family: Metropolis-Light, sans-serif;
  text-transform: capitalize;
  width: 100%;
  height: 243px;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/4-financial.jpg');
  background-color: rgba(40, 40, 39, 0.85);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 70px 0 0 0;
  /*height: 243px;
  min-height: 200px;*/
}

.content.filing {
  min-height: 250px;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0;
  .title{
    font-family: Metropolis-Regular, sans-serif;
    margin: 0;
  }
}

.PDF {
  a {
    color: #ffffff;
  }
}

.green {
  color: #98c93e;
}

.far.fa-file {
    font-family: fontAwesome;
    font-style: normal;
    font-size: 12px;
    margin: 0 5px 0 0px;
}

.sec2 div div:hover {
  cursor: pointer;
  color: #98c93e;
}

.content {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.yr {
  font-family: Metropolis-Medium, sans-serif;
  font-size: 18px;
  color: #575757;
}

.quarter {
  font-family: Metropolis-Light, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #575757;
}

// div#year2.section3 {
//   margin-right: 180px;
// }

.section1,
.section2-1 {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 18px;
}

.section2-1 {
  font-family: Metropolis-Light, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #575757;

  &:nth-child(2n+2) {
    margin-bottom: 20px;
  }
}

.section2 {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;

  div {
    margin-bottom: 18px;
  }
}

.section3 {
  margin-right: 180px;
}

.pdficon {
  width: 9px;
  margin: 0 5px 0 0;
}

.PDF {
  width: 68px;
  height: 32px;
  border-radius: 2px;
  font-size: 16px;
  font-family: Metropolis-Light, sans-serif;
  font-weight: 300;
  background-color: #98c93e;
  color: #ffffff;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.PDF.btnUp:hover > img {
    opacity: 0.2;
}

.year:hover {
  cursor: pointer;
}


////////// MEDIA //////////

@media (min-width: 200px) {
  .arrow img{
    width: 12px;
    height: 7px;
  }
  .jumbotron.financial-jumbotron {
    font-size: 25px;
  }
  .title {
    font-family: Metropolis-Regular, sans-serif;
    width: 229px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: center;
  }

  .underline {
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 21px;
    margin-bottom: 18px;
  }

  .content {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 18px;
  }
  
  // #year1 .section3, #year2 .section2 {
  //   display: none;
  // }

  #year2 .section3 .ann-rep-02 {
    margin: 15px 0 0 0;    
  }

  .section2, .section3 {
    flex-direction: column;
    font-family: Metropolis-Light, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
}


@media (max-width: 768px) {
  .title[_ngcontent-c2] {
    margin-bottom: 26px !important;
  }
  
}


@media (max-width: 1280px) {
  .section3 {
    margin-right: 130px;
  }
}

@media (min-width: 768px) {

  .arrow img{
    width: 16px;
    height: 9px;
  }
  
  .content {
    margin-bottom: 30px;
    margin-left: 53px;
    margin-right: 54px;
  }

  div#year1 .section3 {
    display: none !important;
  }

  div#year2 .section2 {
    display: none !important;
  }

  div#year2 .section3 {
      flex-direction: row;
      justify-content: space-between;
      //margin-right: 180px;
      display: flex;
  }

  .section2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 180px;
  }
  .section3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .year .section2 {
    margin-right: 136px;
  }
  .year .section3 {
    margin-right: 136px;
  }
  // .content .year.year2 .section2 {
  //   display: none !important;
  // }
  .sec2 {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .section2-1 {
      margin-bottom: 44px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .q1,
  .q2,
  .q3,
  .q4 {
    margin-top: 23px;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .PDF {
    margin-left: 50px;
  }

  .underline {
    margin-top: 3px;
  }

  .title {
    width: 567px;
    font-size: 25px;
    line-height: 2.8;
    letter-spacing: 0.5px;
    margin-top: 81px;
    margin-bottom: 71px;
  }

  .yr{
    font-size: 25px;
    margin-bottom: 25px;
  }
  .year-end, .quarter, .year-end-01, .year-end-02, .ann-rep-01, .ann-rep-02 {
    font-family: Metropolis-Light, sans-serif;
    font-size: 20px;
  }
  .ann-rep, section{
    font-family: Metropolis-Light, sans-serif;
    font-size: 16px;
  }

}

@media (min-width: 1280px){
  .jumbotron.financial-jumbotron {
    font-size: 45px;
  }
  .content {
    margin-left: 110px;
    margin-right: 110px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .title{
    font-size: 30px;
    letter-spacing: 0.6px;
    margin-top: 80px;
    margin-bottom: 71px;
  }
  .yr{
    font-size: 28px;
    margin-bottom: 25px;
  }
  .year-end, .quarter{
    font-size: 24px;
  }
  .ann-rep, section{
    font-size: 20px;
    margin: 0 15px 0 0;
  }
  .year .section2 {
    margin-bottom: 72px;
    margin-right: 150px;
  }

  .sec2{
    .section2-1 {
      font-size: 20px;
      &:first-of-type{
        margin-bottom: 44px;
      }
    }
  }
}

@media (min-width: 1366px){
  .content {
    margin-left: 144px;
    margin-right: 144px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}