<div class="jumbotron financial-jumbotron jumbo-fin-data" >
  Financial<span class="green">&nbsp;Information</span>
</div>

<div class="title">Earnings Reports and <span class="green">Releases</span> </div>

<div *ngFor="let year of years; let i = index;" class="content" id="year{{i+1}}">
  <div id="{{i+1}}" class="year" (click)="accordianClicked($event)">
    <div id="{{i+1}}" class="section1">
      <div id="{{i+1}}" class="yr">{{year.yr}}</div>
      <div id="{{i+1}}" [ngClass]="{'rotate': year.show}" class="arrow"><img id="{{i+1}}" src="../../assets/images/arrows/group-2-copy-4@2x.png" alt="arrow icon"></div>
    </div>
  </div>

  <div [ngClass]="{'accordianCollapsed': !year.show, 'accordianFull': year.show}">
    <div class="section2">
      <div class="year-end-01">Quarter 1 {{year.yr}}</div>
      <div class="ann-rep-01">Annual Report</div>
    </div>

    <div class="section3">
      <div class="year-end-02">Year End & Quarter 4 {{year.yr}}</div>
      <div class="ann-rep-02">Annual Report</div>
    </div>


    <ng-container *ngIf="year.id !== 2">
      <div class="q4">
        <div class="section1">
          <!-- <div class="quarter">Quarter 1 {{year.yr}}</div> -->
        </div>
        <div class="sec2">
          <div class="section2-1">
            <div class="fin-rep">Financial Statements</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Insights_Q1_2019_Financial_Statements.pdf"
                target="_blank"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</a></div>
          </div>
          <div class="section2-1">
            <div class="earn-rel">MD&A</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Insights_Inc_Q1_2019_Management_Discussion_and_Analysis.pdf"
                target="_blank"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</a></div>
          </div>
          <div class="section2-1">
            <div class="earn-rel">Earnings Release</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Insights_Announces_Q1_2019_Earnings_Release.pdf"
                target="_blank"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</a></div>
          </div>
          <div class="section2-1">
            <div class="earn-rel">Earnings Call</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/cb2insights20190531.mp3"
                target="_blank"><img src="" class="pdficon">Audio</a></div>
          </div>
        </div>
      </div>
      <div class="underline"></div>
    </ng-container>

    <ng-container *ngIf="year.id !== 1">
      <div class="q4">
        <div class="section1">
          <div class="quarter"><!--Year End & Quarter 4 {{year.yr}}--></div>
        </div>
        <div class="sec2">
          <div class="section2-1">
            <div class="fin-rep">Financial Statements</div>
            <div class="PDF btnUp" ><a href="https://clinic-api-ca-prod.sailcannabis.co/files/MVC_Technologies_2018_FS.pdf" target="_blank"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</a></div>
          </div>
          <div class="section2-1">
            <div class="earn-rel">MD&A</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/MVC_Technologies_MDA.pdf" target="_blank"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</a></div>
          </div>
          <div class="section2-1">
            <div class="earn-rel">Earnings Release</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/CB2_Insights_FYE_2018_Earnings_Release.pdf" target="_blank"><img src="../../assets/images/pdficon/file-light.svg" class="pdficon">PDF</a></div>
          </div>
          <div class="section2-1">
            <div class="earn-rel">Earnings Call</div>
            <div class="PDF btnUp"><a href="https://clinic-api-ca-prod.sailcannabis.co/files/earnings_conference_call.mp3"
                target="_blank"><img src="" class="pdficon">Audio</a></div>
          </div>
        </div>
      </div>
      <div class="underline"></div>
    </ng-container>
  </div>

  <div [ngClass]="{'underline': !year.show, 'underlineRemoved': year.show}"></div>
  
</div>

<div class="content filing">
    <div class="title">SEC<span class="green">&nbsp;FILINGS</span> </div>
  <button class="contact-button btnUp" [routerLink]="['/secfilings']">
    view filings
  </button>
</div>