<div class="pdf-create">
  <iframe src="https://docs.google.com/gview?url=https://clinic-api-ca-prod.sailcannabis.co/files/Corporate_Presentation_Q3_2019v1.pdf&embedded=true"
  style="height:100%; width: 100%; padding-top: 40px;" frameborder="0"></iframe>
</div>