@font-face {
  font-family: 'Metropolis-Black';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-Black.otf');
}

@font-face {
  font-family: 'Metropolis-BlackItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-BlackItalic.otf');
}

@font-face {
  font-family: 'Metropolis-Bold';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-Bold.otf');
}

@font-face {
  font-family: 'Metropolis-BoldItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-BoldItalic.otf');
}

@font-face {
  font-family: 'Metropolis-ExtraBold';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-ExtraBold.otf');
}

@font-face {
  font-family: 'Metropolis-ExtraBoldItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-ExtraBoldItalic.otf');
}

@font-face {
  font-family: 'Metropolis-Light';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-Light.otf');
}

@font-face {
  font-family: 'Metropolis-LightItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-LightItalic.otf');
}

@font-face {
  font-family: 'Metropolis-Medium';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-Medium.otf');
}

@font-face {
  font-family: 'Metropolis-MediumItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-MediumItalic.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-Regular.otf');
}

@font-face {
  font-family: 'Metropolis-RegularItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-RegularItalic.otf');
}

@font-face {
  font-family: 'Metropolis-SemiBold';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-SemiBold.otf');
}

@font-face {
  font-family: 'Metropolis-SemiBoldItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-SemiBoldItalic.otf');
}

@font-face {
  font-family: 'Metropolis-Light';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-Light.otf');
}

@font-face {
  font-family: 'Metropolis-LightItalic';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Metropolis-LightItalic.otf');
}

@font-face{
  font-family: 'Lucida-Grande';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/lucida-grande/LucidaGrande.ttf');
}

body {
  font-family: 'Metropolis-Regular';
}