@import 'fonts.scss';
@import './app/shared/extend.scss';

// app-root {
//   display: -webkit-box;      
//   display: -moz-box;         
//   display: -ms-flexbox;      
//   display: -webkit-flex;     
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

button {
  cursor: pointer;
}

body {
  margin: 0;
  // font-family: Metropolis, sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

.jumbotron-plc-srv {
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.jumpto {
  font-family: Metropolis;
  border-bottom: 2px solid #98c93e;
}

.cookie-summary {
  a {
    text-decoration: underline;
    color: #ffffff;
  }
}

.selectControl {
  width: 100%;
  position: absolute;
  opacity: 0;
}

button {
  @extend %button-style;
  background-color: #98c93e;
}

.green-line {
  margin-top: 39px;
  @extend %greenbar;
}

.green-span {
  color: #98c93e;
}

// REMOVE OUTLINE FROM SELECTED LINK //
div:focus,
div:active {
  outline: none !important;
  box-shadow: none !important;
}

// END //

.captransfer{
  margin-top: 30px;
}

.redSpan {
  color: red;
  font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
}

.stockArrow {
  width: 9px;
  height: 5px;
}

// CHANGE PLACEHOLDER FONT STYLE //
body::-webkit-input-placeholder {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}

body:-ms-input-placeholder {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}

body:-moz-placeholder {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}

body::-moz-placeholder {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
}

.btnUp {
  font-family: Metropolis-Light, sans-serif;
  background: linear-gradient(to top, #88B437 50%, #98c93e 50%);
  background-size: 200% 200%;
  background-position: top;
  transition: all 0.3s ease;

  &:hover {
    background-position: bottom;
  }
}

@media (min-width: 200px) {
  .aritlceHeading {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 2.22;
    color: #575757;
  }
}


@media (min-width: 1280px) {
  .selectControl {
    display: none;
  }

  .aritlceHeading {
    font-size: 28px;
    line-height: 1.43;
  }
}


//////////// PDF STYLING ////////////

.pdf-create {
  height: 800px;
  width: 100%;
}
//////////// PDF STYLING END ////////////


//////////// ACCORDIAN ////////////
.accordianFull{
  /*max-height: 1500px;*/
  padding: 0 0 15px 0;
  overflow: hidden;
  // transition: all 2.5s ease-out, transform 400ms ease-out;
}

.accordianCollapsed{
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-out, transform 400ms ease-out;
}

.underline {
  display: block;
  transition: all 1.2ms ease-out 400ms;
}

.underlineRemoved {
  display: none;
  transition: all 400ms ease-out;
}

.arrow.rotate img {
  transform: rotate(0);
  transition: 250ms ease-out;
}

.arrow img{
  transform: rotate(-90deg);
  transition: 300ms ease-out;
}
//////////// ACCORDIAN ////////////

@media (max-width: 768px) {
  .pdf-create {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 400px) {
  .pdf-create {
    width: 100%;
    height: 400px;
  }
}