@import '../investor/investor.component.scss';

.jumbotron.team-jumbotron { 
  font-family: Metropolis-Light, sans-serif;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/7-team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  border-radius: 0;
  min-height: 200px;
  margin: 70px 0 0 0;
}

.photo-summary {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 0;
}

.image-container {
  cursor: pointer;
  box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
}

.content{
  background-color: #ffffff;
}

.content3 {
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    color: #98c93e;
  }
  h2 {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #575757;
    width: 700px;
    margin: 0 auto;
  }
  p {
    font-family: Metropolis-Light, sans-serif;
    font-size: 25px;
    color: #575757;
    margin: 40px auto;
    text-align: center;
    width: 850px;
    @media screen and (max-width: 1279px) {
      font-size: 16px;
      width: 680px;
    }
    @media screen and (max-width: 767px) {
      width: 520px;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

.leadership_images_container {
  min-height: 700px;
  padding: 0 0 60px 0;
  width: 100%;
  overflow: hidden;
  .inner-3 {
    min-height: 700px;
    @media screen and (max-width: 991px) {
      min-height: 600px;
    }
    .ic0 {
      width: 28%;
      height: 320px;
      margin: 0 0 40px -7px;
      @media screen and (max-width: 1199px) {
        margin: 0;
      }
      @media screen and (max-width: 991px) {
        height: 220px;
        margin: 0;
      }
      @media screen and (max-width: 767px) {
        min-height: 380px;
        width: 100%;
        margin: 0;
      }
      @media screen and (max-width: 575px) {
        width: 500px;
        min-height: 330px;
        margin: 0;
      }
      .pd0 {
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 320px;
        @media screen and (max-width: 1199px) {
          background-size: 134%;
        }
        @media screen and (max-width: 991px) {
          background-size: 130%;
        }
        @media screen and (max-width: 767px) {
          background-size: 130%;
          margin: 60px auto;
        }
        @media screen and (max-width: 575px) {
          width: 344px;
          margin: 0 auto;
          background-size: 130%;   
        }
      }
    }
    .ic1 {
      width: 70%;
      height: 320px;
      margin: 0 0 40px 0;
      @media screen and (max-width: 1199px) {
        margin: 0;
      }
      @media screen and (max-width: 991px) {
        height: 220px;
        margin: 0;
      }
      @media screen and (max-width: 767px) {
        min-height: 300px;
        width: 100%;
        margin: 0;
      }
      @media screen and (max-width: 575px) {
        width: 500px;
        min-height: 290px;
        margin: 0; 
      }
      .pd1 {
        background-size: 105%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 0 20px;
        width: 100%;
        height: 320px;
        @media screen and (max-width: 1199px) {
          background-size: 105%;
        }
        @media screen and (max-width: 767px) {
          background-size: 130%;
          margin: 10px auto;
        }
        @media screen and (max-width: 575px) {
          width: 344px;
          margin: 0 auto;
          background-size: cover;   
        }
      }
    }
    .ic2 {
      width: 70%;
      height: 320px;
      margin: 0 0 40px 0;
      padding: 0 50px 0 0;
      @media screen and (max-width: 1199px) {
          padding: 0 45px 0 0;
      }
      @media screen and (max-width: 991px) {
        height: 280px;
        margin: 0;
      }
      @media screen and (max-width: 767px) {
        min-height: 300px;
        width: 100%;
        margin: 0 0 40px 0;
        padding: 0;      
      }
      @media screen and (max-width: 575px) {
        padding: 0;  
        width: 500px;
        min-height: 260px;
        margin: -20px 0 0 0;
      }
      .pd2 {
        background-size: 115%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 320px;
        @media screen and (max-width: 1199px) {
          background-size: 130%;
        }
        @media screen and (max-width: 991px) {
          height: 280px;
        }
        @media screen and (max-width: 767px) {
          background-size: 130%;
          margin: 30px auto;
        }
        @media screen and (max-width: 575px) {
          width: 390px;
          background-size: 100%;
          margin: 0 auto;  
        }
      }
    }
    .ic3 {
      width: 30%;
      height: 320px;
      margin: 0 0 40px 0;
      @media screen and (max-width: 991px) {
        height: 280px;
        margin: 0;
      }
      @media screen and (max-width: 767px) {
        height: 200px;
        width: 100%;
        margin: 0 0 200px 0;     
      }
      @media screen and (max-width: 575px) {
        padding: 0; 
        margin: -20px 0 0 0;   
        width: 500px;
      }
      .pd3 {
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 320px;
        @media screen and (max-width: 1199px) {
          background-size: 145%;
        }
        @media screen and (max-width: 991px) {
          background-size: 140%;
          height: 280px;
        }
        @media screen and (max-width: 767px) {
          background-size: 125%;
          background-position: -60px -63px;
        }
        @media screen and (max-width: 575px) {
          width: 390px;
          margin: 0 auto;
          background-size: 112%;
          background-position: center;   
        }
      }
    }
  }
}

.hr,
.hr-thick {
  background-color: #575757;
  width: 100%;
  height: 1px;
  margin-top: 20px;
}

.hr-thick {
  height: 2px;
}

.summary {
  /*width: 757px;*/
  text-transform: none;
  font-weight: normal;
  margin: 0 auto;
}

.information {
  font-family: Metropolis-Bold, sans-serif;
  width: 310px;
  padding-left: 30px;
  box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
  overflow: hidden;
  position: relative;
  transition: background-color 250ms ease-in-out;
}

.name {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #575757;
}

.position {
  font-family: Metropolis-Light, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.56;
  color: #575757;
}

.content {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.board {
  div {
    font-family: Metropolis-Light, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    /*color: #7f7f7f;*/
  }

  .board-name {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
  }

  &:last-of-type{
    .hr {
      display: none;
    }
    margin-bottom: 78px;
  }
  .board-title-lg {
    width: 240px;
  }
}

@media (min-width: 200px) {

  .image-container {
    cursor: pointer;
    height: 472px;
    margin-bottom: 44px;
    overflow: hidden;
  }

  .personal-profile {
    margin-top: 49px;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 48px;
    margin-right: 28px;
    position: relative;
    top: 0;
    text-align: left;
  }

  .slideInfo{
    top: 0;
  }

  .hide-contents{
    display: none;
  }

  .addHeight, .information{
    font-family: Metropolis-Light, sans-serif;
    height: 472px !important;
  }
  
  .personal-profile-seeMore {
    display: none;
  }

  .shrink {
    height: 0 !important;
    transition: all 250ms ease-in-out;
  }
  
  .photo-summary {
    height: 320px;
    width: 310px;
    transition: all 250ms ease-in-out;
  }

  .board {
    margin-top: 25px;
  }

  .board-table,
  .table-title,
  .sec3 {
    display: none;
  }

  .table-header {
    margin-top: 29px;
  }
  .sec1, .sec2, .sec3{
    font-size: 16px;
  line-height: 2;
  color: #7f7f7f;
  }

  .board-name {
  font-size: 20px;
  line-height: 1.6;
  color: #575757;
  }

  .name {
    margin-top: 38px;
  }
  .position{
    margin-bottom: 38px;
  }
}

@media (min-width: 768px) {
  .table-header {
    font-family: Metropolis-Medium, Arial, Helvetica, sans-serif;
  font-size: 25;
  line-height: 1.6;
  color: #575757;
  }
  .content2 {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 80px 0;
  }

  .board {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-wrap: wrap;
  }

  .board-table {
    display: block;
  }

  .table-header {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
  }

  .table-role {
    margin-left: 284px;
  }

  .sec1,
  .table-name {
    width: 250px;
  }

  .sec3,
  .sec2,
  .table-role,
  .table-title {
    width: 250px;
    margin-left: auto;
  }

  .photo-summary {
    height: 304px;
  }

  .image-container {
    margin-bottom: 50px;
  }
}

@media (max-width: 1279px) {
  .content2 {
    margin: 70px 0 100px 0;
  }
  .board-title {
      width: 240px;
  }
}

@media (min-width: 1280px) {

  .image-container {
    cursor: pointer;
    height: 528px;
    margin-bottom: 44px;
    overflow: hidden;
  }

  .personal-profile {
    margin-left: 32px;
    text-align: left;
  }
  .sec1, .sec2, .sec3{
    font-size: 20px;
    line-height: 1.6;
  }
  .board-name {
    font-size: 24px;
    line-height: 1.33;
    }
  .table-title {
    display: block;
  }

  .board-title {
    display: none;
  }

  .sec3 {
    display: block;
  }

  .summary {
    width: 757px;
    margin-bottom: 89px;
  }
  .information{
    height: 543px !important;
  }

  .photo-summary {
    width: 320px;
    height: 372px;
  }

  .information {
    width: 320px;
    padding: initial;
     
    .name,
    .position {
      margin-left: 32px;
    }

    .name{
      margin-top: 54px;
    }
    .position{
      margin-bottom: 54px;
    }
  }
  .table-header {
    font-size: 28px;
    line-height: 1.43;
  }
}

@media (min-width: 1366px) {
  .content {
    margin-right: 144px;
    margin-left: 144px;
    .title.main{
      margin-top: 80px;
    }
  }
}

@media (min-width: 1920px) {
  .content {
    margin-right: 414px;
    margin-left: 414px;
  }

  .content3{
    .title{
      margin-bottom: 71px;
    }
  }
}

@media (max-width: 767px) {
 .image-container {
    width: 310px;
    margin: 50px auto;
  }
  .summary {
    width: 100%;
  }

  .addHeight {
    width: 100% !important;
    position: fixed !important;
    z-index: 10002;
    left: 0px;
    top: 0px;
    height: 100vh !important;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 0 50px;
    background: red;
    .personal-profile {
      margin: 0;
      text-align: center;
    }
    .name {
      text-transform: uppercase;
    }
  }
  .addHeight::before {
    /*content: "X";*/
    content: url('../../assets/images/xicon/close.svg');
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 12px;
    color: #ffffff;
    background: #0000002b;
    height: 50px;
    width: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .image-container {
    width: 32%;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .image-container {
    width: 29%;
  }
}




