<div class="jumbotron team-jumbotron jumbo-contact-data">
  Meet The<span class="green">&nbsp;Team</span>
</div>

<div class="container">
  <div class="title main">
    <span class="green">Executive</span>&nbsp;Team
    <div class="green-line"></div>
    <div class="summary">
      Deep rooted experience leveraged from healthcare operations to medical cannabis to world-class technology
      solutions, our team is the heart and soul of what we do each and every day.
    </div>
  </div>

  <div class="content2">
    <div id="{{i}}" *ngFor='let image of images; let i = index;' class="image-container" (mouseenter)="getRandomColor($event)">
      <div id="{{i}}" [ngClass]="{'shrink': image.contentDisplayed}" class="photo-summary" [style.backgroundImage]="'url(../../assets/photos/'+ image.url +')'" (click)="showProfile($event)">
      </div>
      <div id="{{i}}" [ngClass]="{'addHeight' : image.contentDisplayed}" class="information" [style.backgroundColor]="image.contentBackground" (click)="showProfile($event)">
        <div id="{{i}}" [ngClass]="{'personal-profile-seeMore ': !image.contentDisplayed}" [style.color]="image.fontChange" class="personal-profile">{{image.profile}}</div>
        <div id="{{i}}" [style.color]="image.fontChange" class="name">{{image.name}}</div>
        <div id="{{i}}" [ngClass]="{'hide-contents': image.contentDisplayed}" [style.color]="image.fontChange" class="position">{{image.title}}</div>
      </div>
    </div>
  </div>

  <div class="content3">
    <h1>Leadership</h1>
    <div class="green-line"></div>
    <p>At CB2 insights our leadership goes well beyond the executive team.</p>
    <p>No matter the department and no matter the role, we are proud that we continue to attract true leaders in each of their disciplines – each of whom contribute each and every day to our core mission.</p>
  </div>

  <div class="leadership_images_container d-flex flex-column justify-content-center align-content-center">
    <div class="container">
      <div class="inner-3 d-flex justify-content-around flex-wrap">
        <div *ngFor="let photo of imgList; let i = index" class="info-container2 ic{{i}}">
          <div class="photo-div pd{{i}}" [style.backgroundImage]="'url(../../assets/images/team/'+ photo.imgUrl +')'"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="content3">
    <div class="title">
      Board of<span class="green">&nbsp;Directors</span>
    </div>

    <div class="board-table">
      <div class="table-header">
        <div class="table-name">Name</div>
        <div class="table-title">Title</div>
        <div class="table-role">Board Role</div>
      </div>
      <div class="hr-thick"></div>
    </div>
    <div *ngFor='let members of board;' class="board">
      <div class="sec1">
        <div class="board-name">{{members.name}}</div>
        <div class="board-title">{{members.title}}</div>
      </div>
      <div class="sec3">
        <div class="board-title-lg">{{members.title}}</div>
      </div>
      <div class="sec2">
        <div class="board-position">{{members.position}}</div>
        <div class="board-other">{{members.other}}</div>
        <div class="board-other2">{{members.other2}}</div>
      </div>
      <div class="hr"></div>
    </div>
  </div> -->
</div>