<div class="jumbotron contact-jumbotron jumbo-contact-data">
  Data<span class="green">&nbsp;Report</span>
</div>
<div class="content d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3 data_report_thumb">
        <a [routerLink]="['/cannabisandmoodreport']">
          <img src="../../assets/images/reportthumbs/moodreport_thumb.png" class="img-fluid report_thumbnail">
          <p class="report_name">Real-World Evidence Shows Patients Seeking Cannabis For Mood Disorders</p>
        </a>
      </div>
      <div class="col-md-3 offset-md-1 data_report_thumb">
        <a [routerLink]="['/naivepatientreport']">
          <img src="../../assets/images/reportthumbs/naivepatientreport_thumb.png" class="img-fluid report_thumbnail">
          <p class="report_name">RWE Report: Lack of Experience Found Within Large Portion of Medical Cannabis Patients</p>
        </a>
      </div>
      <div class="col-md-3 offset-md-1 data_report_thumb">
        <a [routerLink]="['/rwe-report']">
          <img src="../../assets/images/reportthumbs/spanish_rwereport_thumb.png" class="img-fluid report_thumbnail">
          <p class="report_name">Informe De RWE: Cómo los datos del mundo real y la evidencia del mundo real transformarán la
            industria del cannabis medicinal</p>
        </a>
      </div>
      <div class="col-md-3 offset-md-1 data_report_thumb">
        <a [routerLink]="['/seniorssnapshotreport']">
          <img src="../../assets/images/reportthumbs/seniorssnapshotreport_thumb.png" class="img-fluid report_thumbnail">
          <p class="report_name">Snapshot Report: Seniors Turning Towards Cannabis</p>
        </a>
      </div>
      <div class="col-md-3 offset-md-1 data_report_thumb">
        <a [routerLink]="['/rwereport']">
          <img src="../../assets/images/reportthumbs/rwereport_thumb.png" class="img-fluid report_thumbnail">
          <p class="report_name">RWE Report: How Real-World Data and Real-World Evidence Will Shape the Medical Cannabis Industry</p>
        </a>
      </div>
    </div>
  </div>
</div>
