@import '../investor/investor.component.scss';

.jumbotron.contact-jumbotron {
  font-family: Metropolis-Light, sans-serif;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/11-contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 200px;
  margin: 70px 0 0 0;
}

.content {
    background-color: #ffffff;
    min-height: 700px;
    justify-content: center;
    .data_report_thumb {
        margin: 40px 0 0 0;
        a {
            font-family: Metropolis, Arial, Helvetica, sans-serif;
            color: #575757;
            line-height: 1.75;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: #98c93e;
                img {
                    opacity: 0.8;
                }
            }
            img {
                box-shadow: 0 0 30px 10px rgba(40, 40, 39, 0.03);
                margin: 20px 0;
            }
            .report_name {
                margin: 0 0 40px 0;
            }
        }
    }
}
