<div class="jumbotron jumbotron-plc-srv pol">
  <div class="header-text-plc-srv">
    <div class="ht1-plc-srv">Policies</div>
  </div>
</div>


<div class="policy">

  <div class="filters-updates">
    <div class="update">
      Last update September 12, 2018
    </div>

    <div class="policyFiltersFull">
      <div id="1" [ngClass]="{'jumpto': filterSelected1}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'pi'">Personal Information</div>
      <div id="2" [ngClass]="{'jumpto': filterSelected2}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'oi'">Other Information</div>
      <div id="3" [ngClass]="{'jumpto': filterSelected3}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'tps'">Third-Party Sites</div>
      <div id="4" [ngClass]="{'jumpto': filterSelected4}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'career'">Careers</div>
      <div id="5" [ngClass]="{'jumpto': filterSelected5}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'tpv'">Third-Party Vendors</div>
      <div id="6" [ngClass]="{'jumpto': filterSelected6}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'security'">Security</div>
      <div id="7" [ngClass]="{'jumpto': filterSelected7}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'caa'">Choices and Access</div>
      <div id="8" [ngClass]="{'jumpto': filterSelected8}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'rp'">Retention Period</div>
      <div id="9" [ngClass]="{'jumpto': filterSelected9}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'usm'">Use of Site by Minors</div>
      <div id="10" [ngClass]="{'jumpto': filterSelected10}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'cbt'">Cross-Border Transfer</div>
      <div id="11" [ngClass]="{'jumpto': filterSelected11}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'si'">Sensitive Information</div>
      <div id="12" [ngClass]="{'jumpto': filterSelected12}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'ppu'">Privacy Policy Updates</div>
      <div id="13" [ngClass]="{'jumpto': filterSelected13}" class="filter-option-lg" (click)="filterClicked($event)" [ngx-scroll-to]="'contact'">Contacting Us</div>
    </div>

    <div class="policyFilters">
      <div class="filter-option">{{FilterOptionSelected}}</div>
      <div class="filter-caret"><img src="../../assets/images/caret/group-2@2x.png" alt="caret down"></div>
      <select class="selectControl" name="" id="" (change)="optionChange($event)">
        <option value="pi">Personal Information</option>
        <option value="oi">Other Information</option>
        <option value="tps">Third-Party Sites</option>
        <option value="career">Careers</option>
        <option value="tpv">Third-Party Vendors</option>
        <option value="security">Security</option>
        <option value="caa">Choices and Access</option>
        <option value="rp">Retention Period</option>
        <option value="usm">Use of Site by Minors</option>
        <option value="cbt">Cross-Border Transfer</option>
        <option value="si">Sensitive Information</option>
        <option value="ppu">Privacy Policy Updates</option>
        <option value="contact">Contact</option>
      </select>
    </div>

  </div>


  <div class="entire-policy">
    <div class="policy-top">
      CB2 Insights and its affiliates (also collectively referred to as “we”. “our” and “us”) are concerned about
      privacy
      issues and want you to be familiar with how we collect, use and disclose information. This Privacy Policy
      describes
      our practices in connection with information that we collect through activities that link to this Privacy Policy
      including websites (our “Websites”) and any mobile sites, applications, widgets, and other mobile interactive
      features (collectively, our “Apps”), through other services that we may offer in connections with our Websites
      and
      Apps, such as rewards programs, through our official social media pages that we control (our “Social Media
      Pages”),
      as well as through HTML-formatted email messages that we may send to you (collectively, including the Social
      Media
      Pages, Apps and Websites, the “Sites”). By providing Personal Information to us, you agree to the terms and
      conditions of this Privacy Policy.
    </div>

    <div class="policy-section">
      <div class="policy-header" id="pi">
        Personal Information
      </div>
      <div class="policy-subheader">
        Personal Information We May Collect
      </div>
      <div class="policy-body" id="pi">
        “Personal Information” is information that identifies you as an individual, such as:
        <blockquote>
          • Name
          <br /> • User name
          <br /> • Postal address (including billing and shipping addresses)
          <br /> • Telephone number (including home and mobile phone numbers)
          <br /> • Email address
          <br /> • Credit and debit card number
          <br /> • Profile picture
          <br /> • Social media account ID
          <br /> • Country of residence
        </blockquote>
      </div>

      <div class="policy-body">
        In some cases, we may use a third-party payment service to process purchases and/or collect donations made
        through our Sites. In these cases, your Personal Information may be collected by this third-party and not by us
        and will be subject to the third-party’s privacy policy, rather than this Privacy Policy. We have no control
        over
        and are not responsible for this third-party’s use or disclosure of your Personal Information and suggest that
        you read their Privacy Policy in full.
      </div>

      <div class="policy-body">
        If you submit any Personal Information relating to other people to us or to our service providers in connection
        with our Sites, you represent that you have the authority to do so and to permit us to use the information in
        accordance with this Privacy Policy.
      </div>

      <div class="policy-subheader">
        How We May Collect Personal Information
      </div>

      <div class="policy-body">
        <blockquote>
          • We and our service providers may collect Personal Information in a variety of ways, including:
          <br /> • Through our Sites: We may collect Personal Information through our Sites, e.g., when you sign up for
          a
          newsletter or make a purchase.
          <br /> • Offline: We may collect Personal Information from you offline, such as when you contact customer
          service
          or our
          call center.
          <br /> • Online tracking: Because we do not track our Site users over time and across third-party websites,
          we
          do
          not
          respond to browser do-not-track signals.
          <br /> • From Other Sources: We may receive your Personal Information from other sources, such as public
          databases;
          joint marketing partners; social media platforms; from people with whom you are friends or otherwise
          connected
          on
          social media platforms, as well as from other third-parties. For example, if you elect to connect your social
          media account to your own Website account, certain Personal Information from your social media account will
          be
          shared with us, which may include Personal Information that is part of your profile or one of your friends’
          profiles.
          <br /> • Mobile usage: If we are able to identify you as a user of a mobile app, we may, for example, link
          your
          activity
          with a CB2 Insights’ affiliate brand to another one of CB2 Insights’ affiliate’s mobile applications. If you
          have
          downloaded one or more of our mobile applications, you can opt-in to location sharing for additional
          application
          capabilities. For example, geo-location will use your device’s latitude and longitude or your device’s
          location
          capabilities (e.g. GPS or Wi-Fi) to let you receive information and offers. Or, in-store location through the
          use
          of your phone’s Bluetooth signal, LED light chip technologies, or other technologies will permit us to find
          nearby products for you, get you real-time offers, and more. To learn how to opt-out of sharing your location
          with us, go to the Choices and Access section of this Privacy Policy.
        </blockquote>
      </div>

      <div class="policy-body">
        To the extent permitted by applicable law, the Personal Information you provide through any of our Sites may be
        combined with Personal Information and Other Information that you provide to us (via online or offline means),
        that is publicly available, or that we may otherwise obtain online or offline, including, for example, from
        providers of demographic and other information, social media platforms and other third-parties.
      </div>

      <div class="policy-subheader">
        How We May Use Personal Information
      </div>

      <div class="policy-body">
        To the extent permitted by applicable law, we may use Personal Information:
        <blockquote>
          • to respond to your inquiries and fulfill your requests, such as to send you newsletters or to respond
          to
          your
          questions and comments.
          <br /> • to send administrative information to you, for example, information regarding any of our Sites and
          changes to
          our terms, conditions, and policies. Because this information may be important to your use of our Sites, you
          may not opt-out of receiving these communications.
          <br /> • to complete and fulfill your purchase and/or your donation, for example, to process your payments,
          have
          your
          order delivered to you, communicate with you regarding your purchase and provide you with related customer
          service.
          <br /> • to provide you with updates and announcements concerning our products, promotions and programs and
          to
          send
          you invitations to participate in special programs.
          <br /> • to re-contact you if we have not heard from you in a while.
          <br /> • to send you advertising/promotional material from any of our affiliates, and from our promotional
          and
          strategic partners.
          <br /> • to personalize your experience on our Sites by presenting products and offers tailored to you.
          <br /> • to process rewards, prizes, and donations, as applicable.
          <br /> • to allow you to participate in polls, sweepstakes, instant win promotions, contests and other
          promotions
          and
          to administer these activities. Some of these activities have additional rules, which could contain
          additional
          information about how we use and disclose your Personal Information, so it is important that you read the
          additional rules carefully.
          <br /> • to allow you to send messages to a friend through our Sites. By using this functionality, you are
          telling us
          that you are entitled to use and provide us with your friend’s name and email address, phone number, or other
          contact information.
          <br /> • to allow you to contact and be contacted by other users through our Sites, as permitted by the
          applicable
          Site.
          <br /> • to permit you to participate on message boards, chat, profile pages and blogs and other services to
          which you
          are able to post information and materials (including our Social Media Pages). Please note that any
          information
          you post or disclose through these services will become public information and may be available to visitors
          to
          our Sites and to the general public. We urge you to be very careful when deciding to disclose your Personal
          Information, or any other information, on our Sites. Please see the “Choices and Access” section below, to
          learn how you may request removal of your posts.
          <br /> • to permit you to participate in social sharing, including live social media feeds.
          <br /> • for our business purposes, such as analyzing and managing our businesses, market research, audits,
          developing
          new products, enhancing our Sites, improving our services and products, identifying usage trends, determining
          the effectiveness of our promotional campaigns, tailoring our Sites experience and content based on your past
          activities on our Sites, and gauging customer satisfaction and providing customer service (including
          troubleshooting in connection with customer issues).
          <br /> • as we believe to be necessary or appropriate: (a) under applicable law, including laws outside your
          country
          of residence; (b) to comply with legal process; (c) to respond to requests from public and government
          authorities, including public and government authorities outside your country of residence; (d) to enforce
          our
          terms and conditions; (e) to protect our operations or those of any of our affiliates; (f) to protect our
          rights, privacy, safety or property, and/or that of our affiliates, you or others; and (g) to allow us to
          pursue available remedies or limit the damages that we may sustain.
          <br /> • authorities outside your country of residence; (d) to enforce our terms and conditions; (e) to
          protect
          our
          operations or those of any of our affiliates; (f) to protect our rights, privacy, safety or property, and/or
          that of our affiliates, you or others; and (g) to allow us to pursue available remedies or limit the damages
          that we may sustain.
        </blockquote>
      </div>

      <div class="policy-subheader">How Personal Information May Be Disclosed</div>
      <blockquote>
        <div class="policy-body">To the extent permitted by applicable law, your Personal Information may be disclosed:
          • to our affiliates for the purposes described in this Privacy Policy. CB2 Insights is the party
          responsible for
          the management of the jointly-used Personal Information.
          <br /> • to our third-party service providers who provide services such as website hosting, data analysis,
          payment
          processing, order fulfillment, infrastructure provision, IT services, customer service, email delivery
          services,
          credit card processing, auditing services and other services, to enable them to provide services.
          <br /> • to our third-party strategic partners with whom we may enter into a special relationship. We will
          provide you
          with choices regarding this sharing prior to sharing your Personal Information with a particular strategic
          partner. Because these third-parties will use your Personal Information in accordance with their own privacy
          practices, we suggest you check their websites for information regarding their privacy practices.
          <br /> • in connection with promotions, for example, to third-parties that are sponsors of sweepstakes,
          instant
          win
          promotions, contests and other promotions, to provide lists of the names and countries of residence of
          winners
          and/or to announce the names of visitors on our Sites (e.g., on our blog) or otherwise in accordance with the
          rules applicable to the applicable promotion. To the extent that the terms and conditions of the rules
          concerning
          the treatment of your Personal Information conflict with this Privacy Policy, the terms and conditions of the
          rules shall control.
          <br /> • to identify you to anyone to whom you send messages through our Sites.
          <br /> • by you, on message boards, chat, profile pages and blogs and other services to which you are able to
          post
          information and materials (including our Social Media Pages). Please note that any information you post or
          disclose through these services will become public information and may be available to visitors to our Sites
          and
          to the general public. We urge you to be very careful when deciding to disclose your Personal Information, or
          any
          other information, on our Sites.
          <br /> • if you participate in social sharing (such as if you connect your social media account to your Site
          account or
          log-into your Site account from your social media account), to your friends associated with your social media
          account, to other users of our Sites and to your social media account provider, in connection with your
          social
          sharing activity. For example, if you register on our Sites using a social media account, we may post a
          generic
          registration message on your social media profile, and if you click a social media “like” button on a Site
          while
          logged in to your social media account, your actions will be transmitted to the applicable social media
          provider
          and may be available on your social media profile. By connecting your Site account and your social media
          account,
          you authorize us to share information with your social media account provider and you understand that the use
          of
          the information we share will be governed by the social media site’s privacy policy. If you do not want your
          Personal Information shared with other users or with your social media account provider, please do not
          connect
          your social media account with your Site account and do not participate in social sharing on our Sites.
          <br /> • by you, if you participate in a live social media feed (which you may do, for example, by
          referencing
          us
          in
          your social media post or “liking” us on a social media platform). If you do participate, your public
          username
          and profile photo may be displayed on our Sites along with your post.
          <br /> • to a third-party in the event of any reorganization, merger, sale, joint venture, assignment,
          transfer
          or other
          disposition of all or any portion of our business, assets or stock (including in connection with any
          bankruptcy
          or similar proceedings).
          <br /> • as we believe to be necessary or appropriate: (a) under applicable law, including laws outside your
          country of
          residence; (b) to comply with legal process; (c) to respond to requests from public and government
          authorities,
          including public and government authorities outside your country of residence; (d) to enforce our terms and
          conditions; (e) to protect our operations or those of any of our affiliates; (f) to protect our rights,
          privacy,
          safety or property, and/or that of our affiliates, you or others; and (g) to allow us to pursue available
          remedies or limit the damages that we may sustain.</div>
      </blockquote>

      <div class="policy-subheader">Personal Health Information</div>
      <div class="policy-body">If you use any of our affiliates’ portals in which you are disclosing any personal
        information related to your healthcare, medical documents, prescriptions, treatment programs or any other
        sensitive information, you must login separately to those microsites. All Personal Health Information is
        maintained separately from this site and is never used in relation to this policy. We, under no circumstances
        share identifiable health-related information pertaining to any specific individual that is shared through our
        secure portals.</div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="oi">
        Other Information
      </div>
      <div class="policy-subheader">
        Other Information We May Collect
      </div>
      <div class="policy-body">
        “Other Information” is any information that does not reveal your specific identity, such as:
        <blockquote>
          • Browser and device information
          <br /> • Server log file information
          <br /> • Information collected through cookies, pixel tags and other technologies
          <br /> • App usage data
          <br /> • Demographic information and other information provided by you
          <br /> • Location information
          <br /> • Aggregated information
        </blockquote>
      </div>
      <div class="policy-body">
        We may use and disclose Other Information for any purpose, except where we are required to do otherwise under
        applicable law. If we are required to treat Other Information as Personal Information under applicable law,
        then,
        in addition to the uses listed in the “How We May Collect Other Information” section below, we may use and
        disclose Other Information for all the purposes for which we use and disclose Personal Information.
      </div>
      <div class="policy-subheader">
        How We May Collect Other Information
      </div>
      <div class="policy-body">
        We and our third-party service providers may collect Other Information in a variety of ways, including:
        <blockquote>
          • Through your browser or device: Certain information is collected by most browsers or automatically
          through your
          device, such as your Media Access Control (MAC) address, computer type (Windows or Macintosh), screen
          resolution,
          operating system name and version, device manufacturer and model, language, Internet browser type and
          version,
          service provider, and the name and version of our Sites (such as the App) you are using. We use this
          information
          for statistical purposes as well as to ensure that our Sites function properly.
          <br /> • Through server log files: Your “IP Address” is a number that is automatically assigned to the
          computer
          or
          device that you are using by your Internet Service Provider (ISP). An IP Address is identified and logged
          automatically in our server log files whenever a user visits our Sites, along with the time of the visit and
          the
          page(s) that were visited. Collecting IP Addresses is standard practice on the Internet and is done
          automatically
          by many websites. We use IP Addresses for purposes such as calculating Sites usage levels, helping diagnose
          server problems, and administering our Sites. Please note that we treat IP Addresses, server log files and
          related information as Other Information, except where we are required to do otherwise under applicable law.
          <br /> • Using cookies: Cookies allow a web server to transfer data to a computer or device for recordkeeping
          and
          other
          purposes. We use cookies and other technologies to, among other things, better serve you with more tailored
          information and facilitate your ongoing access to and use of our Sites. If you do not want information
          collected
          through the use of cookies, there is a simple procedure in most browsers that allows you to decline the use
          of
          cookies. To learn more about cookies, please visit http://www.allaboutcookies.org/.
          <br /> • Using pixel tags, web beacons, clear GIFs or other similar technologies: These may be used in
          connection
          with
          some Sites pages and HTML-formatted email messages to, among other things, track the actions of Sites users
          and
          email recipients, measure the success of our marketing campaigns and compile statistics about Sites usage and
          response rates.
          <br /> • Through your use of an App. When you download and use an App, we and our service providers may track
          and
          collect App usage data, such as the date and time the App on your device accesses our servers and what
          information and files have been downloaded to the App based on your device number.
          <br /> • From you: Information, such as date of birth, gender, personal characteristics, hobbies and
          interests,
          consumption habits, zip code and your preferred means of communication, may be collected when you voluntarily
          provide it. Unless combined with Personal Information, this information does not personally identify you or
          any
          other user of our Sites.
          <br /> • Physical Location: We may collect the physical location of your device by, for example, using
          satellite,
          cell
          phone tower or WiFi signals. We may use your device’s physical location to provide you with personalized
          location-based services and content, including advertising. We may also share your device’s physical
          location,
          combined with information about what advertisements you viewed and other information we collect, with our
          marketing partners to enable them to provide you with more personalized content, including advertising and to
          study the effectiveness of advertising campaigns. In some instances, you may be permitted to allow or deny
          such
          uses and/or sharing of your device’s location, but if you choose to deny such uses and/or sharing, we and/or
          our
          marketing partners may not be able to provide you with the applicable personalized services and content.
          <br /> • By aggregating information: Aggregated Personal Information does not personally identify you or any
          other user
          of our Sites (for example, we may use Personal Information to calculate the percentage of our users who have
          a
          particular telephone area code).
        </blockquote>
      </div>
      <div class="policy-body">
        In some instances, we may combine Other Information with Personal Information (such as combining your name with
        your zip code). If we combine any Other Information with Personal Information, the combined information will be
        treated by us as Personal Information as long as it is combined.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="tps">
        Third-Party Sites
      </div>

      <div class="policy-body">
        This Privacy Policy does not address, and we are not responsible for, the privacy, information or other
        practices
        of any third-parties, including any third-party operating any site to which these Sites contain a link. The
        inclusion of a link on our Sites does not imply endorsement of the linked site by us or by our affiliates.
      </div>
      <div class="policy-body">
        While some of CB2 Insights’ affiliates do operate their own e-commerce sites, please note that our Sites may
        contain a link to other e-commerce websites, including some e-commerce websites that may be CB2 Insights
        branded.
        This Privacy Policy does not govern any e-commerce websites to which our Sites may contain a link, unless such
        a
        website contains a link to this Privacy Policy. Any Personal Information that you provide through the
        e-commerce
        website will be subject to the privacy policy of the e-commerce site, and not this Privacy Policy. We have no
        control over, and shall not be responsible for, the use of information collected through the e-commerce site.
      </div>
      <div class="policy-body">
        Additionally, we may provide you with access to third-party functionality that permits you to post content to
        your social media account(s). Please note that any information that you provide through use of this
        functionality
        is governed by the applicable third-party’s privacy policy, and not by this Privacy Policy. We have no control
        over, and shall not be responsible for, any third-party’s use of information that you provide through use of
        this
        functionality.
      </div>
      <div class="policy-body">
        We are also not responsible for the collection, usage and disclosure policies and practices (including the data
        security practices) of other organizations, such as Facebook, Apple, Google, Microsoft or any other app
        developer, app provider, social media platform provider, operating system provider, wireless service provider
        or
        device manufacturer, including in connection with any Personal Information you disclose to other organizations
        through or in connection with the Apps or our Social Media Pages.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="career">
        Careers
      </div>

      <div class="policy-body">
        Our Sites may include a link to our Careers section, which contains information on what it’s like to work for
        us
        and methods for applying for jobs at our offices worldwide. Any Personal Information submitted through this
        portion of our Sites, or to email addresses listed on this portion of our Sites, will be used strictly for the
        purposes of recruiting. We will never, under any circumstances, share information with any third-party should
        you
        apply to work at CB2 Insights or any of our affiliates.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="tpv">
        Third-Party Advertising-Related Vendors
      </div>
      <div class="policy-body">
        Please note that our online and email advertising-related vendors may use pixel tags, web beacons, clear GIFs
        or
        other similar technologies in connection with our Sites to help manage our online and email advertising
        campaigns
        and strengthen the effectiveness of such campaigns. For example, if a vendor has placed a unique cookie on your
        computer, the vendor may use pixel tags, web beacons, clear GIFs or other similar technologies to recognize the
        cookie during your visit to our Sites and to learn which of our online advertisements may have brought you to
        our
        Sites, and the vendor may provide us with such Other Information for our use. Please note we may link such
        Other
        Information provided to us by our vendors to Personal Information about you that we have previously collected.
        Such combined information will be treated as Personal Information hereunder as long as it is so combined.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="security">
        Security
      </div>
      <div class="policy-body">
        We use reasonable organizational, technical and administrative measures to protect Personal Information under
        our
        control. Unfortunately, no data transmission over the Internet or data storage system can be guaranteed to be
        100% secure. If you have reason to believe that your interaction with us is no longer secure (for example, if
        you
        feel that the security of any account you might have with us has been compromised), please immediately notify
        us
        of the problem by contacting us in accordance with the “Contact Us” section of this site (note that any
        physical
        mail notification will delay the time it takes for us to respond to the problem).
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="caa">
        Choices and Access
      </div>
      <div class="policy-subheader">
        Your choices regarding our use and disclosure of your Personal Information
      </div>
      <div class="policy-body">
        We give you choices regarding our use and disclosure of your Personal Information for marketing
        purposes.
        <blockquote>
          • If at any time you wish to stop receiving phone, mail, SMS, and email marketing communications from
          us,
          please
          just let us know by emailing, calling or writing to us using the contact information listed below in the
          “Contact
          Us” section or by using the unsubscribe feature in the marketing email you received. In your request, please
          indicate that you wish to stop receiving email marketing communications from us.
          <br /> • In addition, we will not disclose your Personal Information to third-parties, including our
          subsidiaries, for
          the third-party’s direct marketing purposes if we have received and processed a request from you that your
          Personal Information not be shared with third-parties for that purpose. If you would like to submit such a
          request, please just let us know by emailing, calling or writing to us using the contact information listed
          below
          in the “Contact Us” section. Please clearly indicate that you request that CB2 Insights not disclose your
          Personal Information to any CB2 Insights affiliates, subsidiaries and/or other third-parties for their direct
          marketing purposes.
        </blockquote>
      </div>
      <div class="policy-body">
        Please note that changes may not be effective immediately. We will endeavor to comply with your request(s) as
        soon as reasonably possible. Please also note that if you do opt-out of receiving marketing-related messages
        from
        us, we may still send you important administrative messages, and you cannot opt-out from receiving
        administrative
        messages as these may be of critical importance to you.
      </div>
      <div class="policy-subheader">
        How you can access, change or suppress your Personal Information
      </div>
      <div class="policy-body">
        To review, correct, update, suppress, delete or otherwise limit our use of your Personal Information that has
        been previously provided to us, please email, call or write to us using the contact information listed below in
        the “Contact Us” section and clearly describe your request.
      </div>
      <div class="policy-body">
        In your request, please make clear what information you would like to have changed, whether you would like to
        have your Personal Information suppressed from our database or otherwise let us know what limitations you would
        like to put on our use of your Personal Information. We will try to comply with your request as soon as
        reasonably practicable. Note that despite our efforts, there may be residual information that will remain
        within
        our databases and other records, which will not be removed or changed. Further, please note that we may need to
        retain certain information for recordkeeping purposes and/or to complete any transactions that you began prior
        to
        requesting such change or deletion (e.g., when you make a purchase or enter a promotion, you may not be able to
        change or delete the Personal Information provided until after the completion of such purchase or promotion).
      </div>
      <div class="policy-body">
        If you have an account with us, you may make changes and updates on the account profile page by logging into
        your
        account through the Site and making such changes. Any changes you make on your account profile page through the
        Site will be reflected on that same Site; however, it may not be reflected on other sites operated by CB2
        Insights on which you may have accounts.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="rp">
        Retention Period
      </div>
      <div class="policy-body">
        We will retain your Personal Information for the period necessary to fulfill the purposes outlined in this
        Privacy Policy unless a longer retention period is required or permitted by law.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header"  id="usm">
        Use of Site by Minors
      </div>
      <div class="policy-body">
        Our Sites are directed to individuals who are permitted to share their Personal Information without parental
        consent and we request that other individuals (including individuals under the age of 13) not provide Personal
        Information through our Sites.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="cbt">
        Cross-Border Transfer
      </div>
      <div class="policy-body">
        Your Personal Information may be stored and processed in any country where we have facilities or service
        providers, and by using our Sites you consent to the transfer of information to countries outside of your
        country
        of residence, including the United States, which may provide for different data protection rules than in your
        country.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="si">
        Sensitive Information
      </div>
      <div class="policy-body">
        We ask that you not send us, and you not disclose, any sensitive Personal Information (e.g., information
        related
        to racial or ethnic origin, political opinions, religion or other beliefs, criminal background or trade union
        membership) on or through our Sites or otherwise to us.
      </div>
    </div>

    <div class="policy-section">
      <div class="policy-header" id="ppu">
        Privacy Policy Updates
      </div>
      <div class="policy-body">
        We may change this Privacy Policy. Any changes to this Privacy Policy will become effective when we post the
        revised Privacy Policy on a Site. Your continued use of our Sites following these changes means that you accept
        the revised Privacy Policy.
      </div>

    </div>

    <div class="policy-section">
      <div class="policy-header" id="contact">
        Contacting Us
      </div>
      <div class="policy-body">
        If you have any questions about this Privacy Policy, please contact us as follows:
        1. You may email us at: info@cb2insights.com
        2. You may call us at 1-888-874-4999
        3. You may send mail to the following postal mail address:
        Attn: CB2 Insights Website Privacy Policy
        Marketing Department
        CB2 Insights
        5045 Orbitor Drive
        Building 11 Suite 300
        Mississauga, ON L4W 4Z5
        Canada
      </div>

      <div class="policy-body">
        Please note that email communications are not always secure; so please do not include credit card information
        or
        sensitive information in your emails to us.
      </div>

    </div>
  </div>

</div>