@import '../shared/extend.scss';
@import '../shared/media.scss';

.jumbotron.jumbotron-plc-srv {
  font-family: Metropolis-Light, sans-serif;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(40, 40, 39, 0.8), rgba(40, 40, 39, 0.8)), url('../../assets/headers/13-policy.jpg');
  background-repeat: no-repeat;
  background-position: center left;  
  background-size: cover;
  min-height: 200px;
  margin: 70px 0 0 0;
}

.policy {
  @extend %termsandpolicies;
}

.policyFilters {
  @extend %tandpfilters;
  position: relative;
}

.policyFiltersFull {
  text-transform: uppercase;
  font-size: 15px;
  font-family: Metropolis, Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 21px;
  color: #575757;
}

.filter-option-lg {
  margin-top: 19px;
  display: table;
  &:hover{
    cursor: pointer;
  }
}

.filter-option {
  font-family: Metropolis, Arial, Helvetica, sans-serif;
  margin-left: 19px;
}

.filter-caret {
  margin-right: 22px;

  img {
    width: 11px;
    height: 6px;
  }
}

.policy-section {
  margin-bottom: 17px;
}

.policy-body {
  font-size: 18px;
  line-height: 1.56;
  color: #575757;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

blockquote {
  margin-inline-end: 0;

  br {
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  .jumbotron {
    height: 200px;
  }
}